#aboutUs {
  background: rgb(0, 183, 255);
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.main {
  width: 100%;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.first {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.svg {
  height: 40vw;
  width: 40vw;
  margin-left: 5vw;
  margin-top: -5vw;
}

.abo {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 5vw;
  color: #fff;
  margin-top: -15vw;
}

.content {
  font-family: "Poppins";
  font-size: 1.3vw;
  color: #fff;
  font-weight: 300;
  width: 80%;
  height: 50vh;
  overflow: scroll;
}

.content::-webkit-scrollbar {
  width: 0px;
}

.so {
  width: 80%;
  margin-top: 1vw;
  margin-bottom: 3vw;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.so-h {
  font-family: "Poppins";
  font-size: 1.3vw;
  color: #fff;
  border: 2px #fff solid;
  padding: 0.55vw 1.5vw;
  border-radius: 2vw;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rectangle {
  z-index: 3;
  width: 100%;
  position: fixed;
  bottom: 5%;
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
}

.campusam {
  font-family: "Poppins";
  font-size: 1.3vw;
  color: #fff;
  border: 2px #fff solid;
  padding: 0.005vw 2.5vw;
  border-radius: 2vw;
  font-weight: 600;
  height: 3vw;
  text-transform: uppercase;
  margin-left: 7vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

@media only screen and (max-device-width: 480px) {
  body {
    background: rgb(0, 183, 255);
    margin: 0px;
    padding: 0px;
  }

  .main {
    width: 100%;
    margin-top: 0vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .a {
    width: 100%;

    margin-top: -50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .second {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
  }

  .svg {
    height: 30vw;
    width: 30vw;
    margin-left: -30vw;
    margin-top: 3vw;
    position: absolute;
  }

  .abo {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 13vw;
    color: #fff;
    margin-top: 5vw;
    width: 60%;
    margin-right: -15vw;
  }

  .content {
    font-family: "Poppins";
    font-size: 3.3vw;
    color: #fff;
    font-weight: 300;
    width: 80%;
    height: 40vh;
  }

  .so {
    width: 100%;
    margin-top: 3vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -20vw;
  }

  .so-h {
    font-family: "Poppins";
    font-size: 3.3vw;
    color: #fff;
    border: 4px #fff solid;
    padding: 0.55vw 2.5vw;
    border-radius: 7vw;
    font-weight: 600;
    text-transform: uppercase;
  }

  .rectangle {
    width: 57%;
    position: fixed;
    bottom: 7vw;
    /*     margin-bottom: -30vw; */
    margin-left: 1vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
  }

  .campusam {
    font-family: "Poppins";
    font-size: 3.5vw;
    color: #fff;
    border: 3px #fff solid;
    padding: 2.5vw 7.5vw;
    border-radius: 6vw;
    font-weight: 600;
    height: 3vw;
    text-transform: uppercase;
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5vw;
  }
}
