/* Scroll */
html {
    scroll-behavior: smooth;
}



body::-webkit-scrollbar {
    width: 0;
}

body {
    overflow: hidden;
    overscroll-behavior: contain;
}

.container {
    width: 100%;
    height: 80vh;
}

/* scroll end */

#contactUs {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#logo {
    width: 75.8px;
    height: 87.4px;
    color: #ffffff;
    animation: animate 1s linear forwards;
}

#heading {
    font-size: 5em;
    font-family: 'Poppins', sans serif;
    text-align: center;
    margin: 0%;
    font-weight: bold;
    color: white;
    animation: animate 1s linear forwards;
}

@keyframes animatehead {
    0% {
        opacity: 0;
        transform: rotateY(10deg);
        filter: blur(3px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 950px) {
    #bodyPage {
        display: flex;
        color: white;
        margin: 1%;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1150px) and (orientation: portrait) {
    #bodyPage {
        display: flex;
        color: white;
        margin: 1%;
        justify-content: space-around;
    }


    #bodyPage {
        color: white;
        margin: 1%;
    }

    #bodyPage>div {
        flex: 1;
        margin: 3%;
        font-size: 1.2em;
        animation: animatehead 1s linear forwards;
    }

    .hline {
        font-size: 1.7em;
    }

    p {
        margin-top: -1%;

    }

    #footer {
        position: absolute;
        width: 91%;
        margin-left: 4%;
        margin-top: 4%;
        margin-right: 4%;
        animation: animate 2s linear forwards;
        height: 50px;
        bottom: 10px;
    }

    button {
        background: none;
        border: 1px solid white;
        color: white;
        padding: 5px 0px;
        border-radius: 30px;
        font-family: Poppins, sans serif;
        font-size: 100%;
        width: 225px;
        margin-right: 5%;
    }

    #map {
        width: 175px;
        color: #424242;
        background-color: rgb(237, 235, 235);
    }

    .icons {
        float: right;
        width: 25px;
        height: 25px;
        ;
        border: 1px solid white;
        border-radius: 50%;
        padding: 7px;
        margin-left: 6px;
        margin-top: 4px;
    }

    .icons>img {
        width: 25px;
        height: 25px;
    }

    @media(max-width: 1200px) {
        #heading {
            font-size: 3em;
        }

        #logo {
            width: 50.53px;
            height: 58.26px;
        }
    }

    @media(max-width: 768px) {
        .hline {
            font-size: 1.3em;
        }

        #bodyPage {
            color: white;
            margin: 1%;
            margin-left: 20%;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .container {
        width: 100%;
        height: 100vh;
    }
}
