/* Scroll */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('webfonts/3A65CF_0_0.eot');
    src: url('webfonts/3A65CF_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3A65CF_0_0.woff2') format('woff2'), url('webfonts/3A65CF_0_0.woff') format('woff'), url('webfonts/3A65CF_0_0.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}



body::-webkit-scrollbar {
    width: 0;
}

body {
    overflow: hidden;
    /* overscroll-behavior: contain; */
}

.container {
    width: 100%;
    height: 100vh;
}

/* scroll end */

#contactUs {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#logo {
    width: 75.8px;
    height: 87.4px;
    color: #ffffff;
    animation: animate 1s linear forwards;
}

#heading {
    font-family: 'Poppins', sans serif;
    text-align: center;
    margin: 0%;
    font-weight: bold;
    color: white;
    animation: animate 1s linear forwards;
    padding-top: 10%;
    font-size: 4vw;
}

.hline {
    font-family: 'BebasNeue-Regular';
}

.hline p {
    font-family: 'Poppins',
        sans serif;

}

@keyframes animatehead {
    0% {
        opacity: 0;
        transform: rotateY(10deg);
        filter: blur(3px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#bodyPage {
    /* display: inline-grid; */
    margin-top: 5%;
    display: flex;
    color: white;
    flex-wrap: wrap;
    padding: 0 4px;
    font-size: 1.3em;
}

#bodyPage>div {

    flex: 32%;
    max-width: 33%;
    padding: 0 4px;
    text-align: center;
}

.hline {
    font-size: 3vw;
    margin-bottom: 3%;
}


/* #footer {
    margin-left: 4%;
    margin-top: 4%;
    margin-right: 4%;
    animation: animate 2s linear forwards;
    height: 50px;
} */

button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 0;
    border-radius: 30px;
    font-family: Poppins, sans serif;
    font-size: 20px;
    width: 250px;
}

@media screen and (max-width: 800px) {
    #bodyPage>div {
        flex: 50%;
        max-width: 50%;
    }

    #heading {
        font-size: 5vh;
    }
}

@media screen and (max-width: 600px) {
    #bodyPage>div {

        flex: 100%;
        max-width: 100%;
    }
}
