@font-face {
    font-family: "atlantis";
    src: URL("../assets/fonts/atlantis_the_lost_city/Atlantis\ the\ lost\ City.ttf") format("truetype");
}





body {
    padding: 0;
    margin: 0;
    user-select: none;
}


/* Scroll */
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    /* overflow: hidden; */
    overscroll-behavior: contain;
}

.container {
    width: 100%;
    height: 100vh;
}

/* scroll end */




#home {
    /* background: linear-gradient(to right, #ff5ff4, #dd43cb 50%, #0068ff) ; */

    /* background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  margin: 0%;
  /* background-image: url("../images/Asset\ 1.svg") ; */
    background-image: url("../assets/images/Asset\ 1.svg"),
        linear-gradient(to right, #ff5ff4, #dd43cb 50%, rgb(146, 233, 210)),
        linear-gradient(to right, #5744b8, #2a56dc 49%, #9dfde3);
}

#ad {
    margin-top: auto;
    margin-bottom: auto;
}

.svgg {
    /* position: fixed;
    left: 45.5%;
    top: 13.5%; */
    width: 100px;
    height: 152.2px;
    margin-left: 46%;
    margin-bottom: -16%;
    object-fit: contain;
}

.vivacity {
    margin-top: 10%;
    /* position: fixed;
    top: 23.5%;
    left: 24.2%; */
    font-family: atlantis;
    font-size: 130px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.2; */
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.date {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: -7%;
}

.dash {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: -6%;
}

.college {
    margin-top: -4%;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.icon_size {
    width: 50px;
    height: 50px;
}

.campusam {
    /* bottom: 28px;
        left: 35px; */
    margin-top: -3%;
    margin-left: -13%;
    width: 300px;

    height: 35px;

    font-family: Raleway;

    font-size: 15px;

    font-weight: 500;

    font-style: normal;

    font-stretch: normal;

    line-height: 1.17;

    letter-spacing: normal;

    text-align: center;

    color: #ffffff;
}

.rectangle {
    /* left: 68px;
    bottom: 25px; */
    margin-left: 5%;
    margin-top: 5%;
    width: 230px;
    height: 30px;
    border-radius: 30px;
    border: solid 1px #ffffff;
}

@media only screen and (max-device-width: 480px) {
    @font-face {
        font-family: "atlantis";
        src: URL("../font/atlantis_the_lost_city/Atlantis\ the\ lost\ City.ttf") format("truetype");
    }

    .container {
        /* background: linear-gradient(to right, #ff5ff4, #dd43cb 50%, #0068ff) ; */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        margin: 0%;
        /* background-image: url("../images/Asset\ 1.svg") ; */
        background-image: url("../images/Asset\ 1.svg"),
            linear-gradient(to right, #ff5ff4, #dd43cb 50%, rgb(146, 233, 210)),
            linear-gradient(to right, #5744b8, #2a56dc 49%, #9dfde3);
    }

    #ad {
        margin-top: auto;
        margin-bottom: auto;
    }

    .svgg {
        /* position: fixed;
          left: 45.5%;
          top: 13.5%; */
        width: 100px;
        height: 152.2px;
        margin-left: 46%;
        margin-bottom: -16%;
        object-fit: contain;
    }

    .vivacity {
        margin-top: 48vw;
        /* position: fixed;
          top: 23.5%;
          left: 24.2%; */
        font-family: atlantis;
        font-size: 16vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        /* line-height: 1.2; */
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .date {
        font-family: "Raleway", sans-serif;
        font-size: 7vw;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-top: 13%;
    }

    .dash {
        text-align: center;
        font-size: 40px;
        color: white;
        margin-top: -11%;
    }

    .college {
        margin-top: 10%;
        font-family: Raleway;
        font-size: 35px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .icon_size {
        width: 50px;
        height: 50px;
    }

    .campusam {
        /* bottom: 28px;
              left: 35px; */
        margin-top: 0%;
        margin-left: 0%;
        width: 100%;

        height: 0px;

        font-family: Raleway;

        font-size: 15px;

        font-weight: 500;

        font-style: normal;

        font-stretch: normal;

        line-height: 1.17;

        letter-spacing: normal;

        text-align: center;

        color: #ffffff;
    }

    .rectangle {
        /* left: 68px;
          bottom: 25px; */
        margin-left: 40%;
        margin-top: 25%;
        width: 20%;
        height: 5vw;
        border-radius: 30px;
        border: solid 1px #ffffff;
        text-align: center;
    }
}
