 #pastsponsor {
     height: 100vh;
     margin: 0%;
     background-attachment: fixed;
     /* background-image: linear-gradient(to bottom,#CE1572,#660034); */
     background-image: linear-gradient(to bottom, #CE1572, #66003A);
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
 }



 #logo {
     width: 4%;
     height: 12%;
     margin: 1.5%;
 }

 .heading {
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-size: 62px;
     font-weight: bolder;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.5;
     letter-spacing: 2.7px;
     color: #ffffff;
     /* padding: 0%; */
     /* margin-top: 4%; */

     margin-right: 46%;
     width: 100%;
 }



 /* @media screen and (max-width:480px){
    #nav-menu-container{display: none;}
} */


 @media screen and (max-width:480px) {
     .heading {
         font-size: 32px;
         /* margin-top: -2%; */
         padding-top: 2%;
         margin-right: -5%;
     }

     .content {
         font-size: 14px;
         padding: 2% 4% 2% 4%;
         margin-top: -4%;
     }

     #logo {
         width: 8%;
         height: 12%;
         margin: 6.5%;
     }
 }

 .backSideCard {
     text-align: center;
     margin: 9%;
     padding: 27% 0% 0% 0%;
 }

 .vivaYear {
     font-family: 'Poppins';
     font-size: 16px;
 }

 .partnerType {
     color: cornsilk;
     font-family: 'Poppins';
     font-size: 20px;
 }

 .section_sponsor {
     text-align: center;
 }

 .section_sponsor .heading-primary {
     display: inline-block;
     font-size: 3.5rem;
     color: #fff;
     padding: 1rem 2.5rem;
     font-family: monospace;
     text-transform: uppercase;
     letter-spacing: .6rem;
     margin-top: 1rem;
     line-height: 1.5;
 }

 .section_sponsor .scroll-line {
     height: .625rem;
     margin: 0 auto;
     width: 90vw;
     background-color: rgba(238, 238, 238, 0.75);
 }

 .section_sponsor .scroll-line .scroll-lining {
     height: 100%;
     width: 0;
     background-color: green;
 }

 .mb-m {
     margin-bottom: 1rem;
 }

 .sponsor__grid {
     background-color: transparent;
     padding-top: calc((90vw - 10 * 22.5rem) / (10 + 1));
     padding-bottom: calc((90vw - 10 * 22.5rem) / (10 + 1));
     border-radius: .25rem;
     height: 72.5vh;
     width: 95vw;
     margin: 0 auto;
     margin-top: 1.5vw;
     display: -ms-grid;
     display: grid;
     overflow: auto;

     /* -ms-grid-columns: (22.5rem)[5]; */
     grid-template-columns: repeat(10, 25rem);
     grid-row-gap: calc((90vw - 10 * 22.5rem) / (5 + 1));
     justify-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
     justify-content: space-evenly;
 }

 .sponsor__grid::-webkit-scrollbar {
     display: none;
 }

 .col {
     height: 22.5rem;
     width: 22.5rem;
 }

 .card {
     -webkit-perspective: 150rem;
     perspective: 150rem;
     position: relative;
     height: 22.5rem;
     font-size: 1.6rem;
     border-radius: 1.5rem;
 }

 .card__side {
     height: 22.5rem;
     -webkit-transition: all 1s ease;
     transition: all 1s ease;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     border-radius: 1.5rem;
     overflow: hidden;
     -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
     box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
 }

 .card__side--front {
     text-align: center;
     position: relative;
     background-color: #fff;
     opacity: .9;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     justify-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }

 .card__side--front h3 {
     background-color: #7095a7;
     color: #fff;
     display: inline-block;
     padding: .25rem 1.5rem;
     border-radius: 0 0 2rem 2rem;
     z-index: 1000;
 }

 .card__side--front img {
     width: 90%;
     height: 75%;
     margin: auto 0;
     opacity: 1;
     border-radius: .25rem;
 }

 .card__side--back {
     -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
 }

 .card__side--back-1 {
     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 255, 255, 0.75)), to(rgba(0, 204, 204, 0.75)));
     background-image: linear-gradient(to right bottom, rgba(128, 255, 255, 0.75), rgba(0, 204, 204, 0.75));
 }

 .card__side--back-2 {
     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.75)), to(rgba(32, 146, 108, 0.75)));
     background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.75), rgba(32, 146, 108, 0.75));
 }

 .card__side--back-3 {
     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.75)), to(rgba(86, 67, 250, 0.75)));
     background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.75), rgba(86, 67, 250, 0.75));
 }

 .card__side--back-4 {
     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(243, 205, 5, 0.75)), to(rgba(244, 159, 5, 0.75)));
     background-image: linear-gradient(to right bottom, rgba(243, 205, 5, 0.75), rgba(244, 159, 5, 0.75));
 }

 .card__side--back-5 {
     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(112, 149, 167, 0.75)), to(rgba(100, 101, 165, 0.75)));
     background-image: linear-gradient(to right bottom, rgba(112, 149, 167, 0.75), rgba(100, 101, 165, 0.75));
 }

 .card__side--back-6 {
     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(244, 135, 75, 0.75)), to(rgba(244, 106, 78, 0.75)));
     background-image: linear-gradient(to right bottom, rgba(244, 135, 75, 0.75), rgba(244, 106, 78, 0.75));
 }

 .card:hover .card__side--front {
     -webkit-transform: rotateY(-180deg);
     transform: rotateY(-180deg);
 }

 .card:hover .card__side--back {
     -webkit-transform: rotateY(0deg);
     transform: rotateY(0deg);
 }

 @media only screen and (max-width: 1350px) {
     .sponsor__grid {

         background-color: transparent;
         padding-top: calc((90vw - 4 * 22.5rem) / (4 + 1));
         padding-bottom: calc((90vw - 4 * 22.5rem) / (4 + 1));
         border-radius: .25rem;
         height: 72.5vh;
         width: 90vw;
         margin: 0 auto;
         margin-top: 3vw;
         display: -ms-grid;
         display: grid;
         -ms-grid-columns: (22.5rem)[4];
         grid-template-columns: repeat(10, 22.5rem);
         grid-row-gap: calc((90vw - 4 * 22.5rem) / (4 + 1));
         justify-items: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-pack: space-evenly;
         -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
         overflow: scroll;
     }
 }

 @media only screen and (max-width: 1100px) {
     .sponsor__grid {

         background-color: transparent;
         padding-top: calc((90vw - 3 * 22.5rem) / (3 + 1));
         padding-bottom: calc((90vw - 3 * 22.5rem) / (3 + 1));
         border-radius: .25rem;
         height: 72.5vh;
         width: 90vw;
         margin: 0 auto;
         margin-top: 3vw;
         display: -ms-grid;
         display: grid;
         -ms-grid-columns: (22.5rem)[3];
         grid-template-columns: repeat(10, 22.5rem);
         grid-row-gap: calc((90vw - 3 * 22.5rem) / (3 + 1));
         justify-items: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-pack: space-evenly;
         -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
         overflow: scroll;
     }
 }

 @media only screen and (max-width: 850px) {
     .sponsor__grid {
         background-color: transparent;
         padding-top: calc((90vw - 2 * 22.5rem) / (2 + 1));
         padding-bottom: calc((90vw - 2 * 22.5rem) / (2 + 1));
         border-radius: .25rem;
         height: 72.5vh;
         width: 90vw;
         margin: 0 auto;
         margin-top: 3vw;
         display: -ms-grid;
         display: grid;
         -ms-grid-columns: (22.5rem)[2];
         grid-template-columns: repeat(10, 22.5rem);
         grid-row-gap: calc((90vw - 2 * 22.5rem) / (2 + 1));
         justify-items: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-pack: space-evenly;
         -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
         overflow: scroll;
     }
 }

 @media only screen and (max-width: 550px) {
     .sponsor__grid {

         background-color: transparent;
         padding-top: calc((90vw - 1 * 22.5rem) / (1 + 1));
         padding-bottom: calc((90vw - 1 * 22.5rem) / (1 + 1));
         border-radius: .25rem;
         height: 72.5vh;
         width: 90vw;
         margin: 0 auto;
         margin-top: 20vh;
         display: -ms-grid;
         display: grid;
         -ms-grid-columns: (22.5rem)[1];
         grid-template-columns: repeat(15, 22.5rem);
         grid-row-gap: calc((90vw - 1 * 22.5rem) / (1 + 1));
         justify-items: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-pack: space-evenly;
         -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
         overflow: scroll;
     }
 }

 body {
     height: 100vh;
     margin: 0%;
     background-attachment: fixed;
     /* background-image: linear-gradient(to bottom,#CE1572,#660034); */
     background-image: linear-gradient(to bottom, #CE1572, #66003A);
     background-repeat: no-repeat;
     background-position: center;
 }


 #logo {
     width: 4%;
     height: 12%;
     margin: 1.5%;
 }




 /* @media screen and (max-width:480px){
    #nav-menu-container{display: none;}
} */

 @media screen and (max-width:1100px) {
     #nav-menu-container {
         display: none;
     }
 }

 @media screen and (max-width:480px) {
     .heading {
         font-size: 32px;
         margin-top: -2%;
         margin-right: -5%;
     }

     .content {
         font-size: 14px;
         padding: 2% 4% 2% 4%;
         /* margin-top: -4%;*/
         padding-top: 2%;

     }

     #logo {
         width: 8%;
         height: 12%;
         margin: 6.5%;
     }
 }

 .backSideCard {
     text-align: center;
     margin: 9%;
     padding: 27% 0% 0% 0%;
 }

 .vivaYear {
     font-family: 'Poppins';
     font-size: 16px;
 }

 .partnerType {
     color: cornsilk;
     font-family: 'Poppins';
     font-size: 20px;
 }
