:root {
  --img: 8;
  --margin-left: calc(100%/var(--img));
  --width: calc(100%*var(--img));
  --prevWidth: 6vw;
}



#theExperience {
  margin: 0;
  padding: 0;
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}



.theExp {
  display: inline-block;
  font-family: Poppins;
  font-weight: 400;
  font-size: 72px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 265vh;
  left: 10%;
  transform: translate(0, -50%);
}

.theExpTop {
  z-index: 3;
  opacity: 0.5;
  display: inline-block;
  font-family: Poppins;
  font-weight: 400;
  font-size: 72px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 265vh;
  left: 10%;
  transform: translate(0, -50%);
}

.arrow {
  display: inline-block;
  font-family: Poppins;
  /* font-weight: 400; */
  font-size: 140px;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.a1 {
  position: absolute;
  top: 250vh;
  left: 10%;
  transform: translate(0, -50%);
}

.a2 {
  position: absolute;
  top: 250vh;
  right: 10%;
  transform: translate(0, -50%);
}

.prev {
  opacity: 1;
  width: var(--prevWidth);
  height: calc(var(--prevWidth)*9/16);
  cursor: pointer;
}

.prev.cur {
  transform: scale(1.3);
  z-index: 2;
}

.navigation {
  z-index: 3;
  align-items: center;
  width: calc(var(--prevWidth)*5);
  height: calc(var(--prevWidth)*9/16*1.3);
  overflow: hidden;
  position: absolute;
  top: 280vh;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
}

.slidershow {
  z-index: 2;
  display: inline-block;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 250vh;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navImg {
  transition: 0.6s;
}

.slides {
  width: var(--width);
  height: 100%;
  display: flex;
}

.slide {
  width: var(--margin-left);
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 950px) {
  .slidershow {
    display: inline-block;
    width: 75%;
    height: auto;
    /* overflow: hidden; */
  }

  .middle {
    position: absolute;
    top: 250vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .a1,
  .a2 {
    top: 255vh;
  }

  .theExp {
    font-size: 8vw;
    top: 220vh;
  }

  .theExpTop {
    top: 220vh;
    font-size: 8vw;
  }

  .navigation {
    bottom: 7.5vh;
  }

}


@media only screen and (max-width: 1150px) and (orientation: portrait) {
  .slidershow {
    display: inline-block;
    width: 90%;
    height: auto;
    overflow: hidden;
  }

  .middle {
    position: absolute;
    top: 250vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navigation {
    top: 275vh;
  }

  .theExp {
    z-index: 3;
    font-size: 10vw;
    top: 215vh;
  }

  .theExpTop {
    top: 215vh;
    font-size: 10vw;
  }
}

/* @media only screen and (max-width: 950px) {
  .slidershow{
    display: inline-block;
    width: 80%;
    height: calc(9/16*80%);
    overflow: hidden;
  }
  .navigation{
    bottom: 20%;
  }
  .theExpTop{
    font-size: 54px;
    top: 63%;
    transform: translate(-10%,-50%);
  }
  .theExp{
    font-size: 54px;
    top: 63%;
    transform: translate(-10%,-50%);
  }
  .a1{
    transform: translate(-50%,-50%);
  }
  .a2{
    transform: translate(50%,-50%);
  }
}
@media only screen and (max-width: 800px) {
  .slidershow{
    display: inline-block;
    width: 600px;
    width: 80%;
    height: calc(9/16*80%);
    overflow: hidden;
  }
  .navigation{
    bottom: 20%;
  }
  .theExpTop{
    font-size: 42px;
    top: 62%;
    transform: translate(-10%,-50%);

  }
  .theExp{
    font-size: 42px;
    top: 62%;
    transform: translate(-10%,-50%);
  }
  .a1{
    left: 15%;
    transform: translate(-50%,-50%);
  }
  .a2{
    right: 15%;
    transform: translate(50%,-50%);
  }
}
@media only screen and (max-width: 650px) {
  .slidershow{
    display: inline-block;
    width: 80%;
    height: calc(9/16*80%);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    bottom: 25%;
  }
  .theExpTop{
    font-size: 32px;
    top: 58%;
    transform: translate(-10%,-50%);
  }
  .theExp{
    font-size: 32px;
    top: 58%;
    transform: translate(-10%,-50%);
  }
  .arrow{
    font-size: 100px;
    position: absolute;
    top: 50%;
  }
  .a1{
    left: 7.5%;
    transform: translate(-50%,-50%);
  }
  .a2{
    right: 7.5%;
    transform: translate(50%,-50%);
  }
} */
