@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 70px;
}

p {
  padding: 30px 20%;
  color: white;
  text-align: justify;
  line-height: 1.5;
}

body {
  background: black;
  margin: 0;
}

nav {
  position: relative;
  height: 10vh;
}

ul {
  margin: 0;
}

li {
  margin: 0;
}

.nav-links {
  position: fixed;
  display: flex;
  list-style: none;
  width: 100%;
  background-color: #f06543;
  background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  clip-path: circle(0 at 100% -10%);
  -webkit-clip-path: circle(0 at 100% -10%);
  transition: all 0.6s ease-out;
  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(2000px at 100% -10%);
  -webkit-clip-path: circle(2000px at 100% -10%);
  pointer-events: all;
}

.nav-links li {
  opacity: 0;
}

.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.3s;
}

.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(4) {
  transition: all 0.5s ease 0.5s;
}

.nav-links li:nth-child(5) {
  transition: all 0.5s ease 0.6s;
}

.nav-links li:nth-child(6) {
  transition: all 0.5s ease 0.7s;
}

li.fade {
  opacity: 1;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
}

.logo {
  position: absolute;
  cursor: pointer;
  left: 50px;
  top: 90%;
  transform: translate(-5%, -50%);
}

.logoimg {
  width: 70px;
}

.menu {
  position: absolute;
  cursor: pointer;
  right: 50px;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 30px;
}

.menu::before {
  content: "M\00a0\00a0\00a0\00a0NU";
  position: absolute;
  left: -65%;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
  top: 10%;
}

.menu:hover::before {
  opacity: 1;
  transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: transform 0.4s ease;
}
