/* Scroll */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../font/BebasNeue-Regular.ttf');
}



body {
  overflow: hidden;
  overscroll-behavior: contain;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

/* scroll end */

#ambassador {
  background: linear-gradient( to right, rgba(157, 22, 184, 1) 0%, rgba(180, 29, 194, 1) 51%, rgba(179, 20, 219, 1) 100%);
  color: #ffffff;
}

#container {
  margin: 1% 1%;
}

#heading {
  font-size: 6vw;
  font-family: 'Poppins', sans serif;
  text-align: center;
  /* margin: 10%; */
  padding-top: 5%;
  font-weight: bold;
  color: white;
  animation: animate 1s linear forwards;
}

#content {
  height: 20%;
  width: 80%;
  font-family: 'BebasNeue-Regular';
  font-size: 4vw;
}

#ambassador>p {
  line-height: 0.5;
  font-size: 0.8em;
}

.btn {
  margin-top: 5vw;
  align-items: center;
  text-align: center;
}

/*
#ca {
    font-family: Poppins;
    background: none;
    width: 250px;
    height: 35px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    text-align: center;
    line-height: 1.17;
    margin: auto 0;
    vertical-align: center;
    font-size: 18px;
    margin-right: 0px;
}

#logo {
    width: 70px;
    height: 60px;
} */

#mid {
  padding-top: 10vh;
  margin-left: 0px;
  display: grid;
  grid-template-columns: 40% 55%;
}

#imagess img {
  width: 33px;
  height: 53.1px;
}

#pic img {
  height: 300px;
  width: 350px;
  padding-left: 50px;
}

#pic {
  height: 100%;
  width: 80%;
  text-align: center;
}

#imagess {
  float: right;
  margin-top: -16px;
}

#footer {
  position: absolute;
  width: 91%;
  margin-left: 4%;
  margin-top: 4%;
  margin-right: 4%;
  animation: animate 2s linear forwards;
  height: 50px;
  bottom: 10px;
}

/* 
@media only screen and (min-width: 1000px) {
    #heading {
        width: 100%;
        height: 75px;
        margin-top: 1%;
font-family: Poppins;
font-size: 3em;
line-height: 1.5;
text-align: center;
}


#pic img {
    height: 80%;
    width: 100%;
    padding-left: 50px;
}

#mid {
    margin-top: 5%;
}

#content {
    width: 100%;
    text-align: center;
    font-size: 3vw;
}
}

*/

@media only screen and (max-width: 700px) {
  #logo {
    width: 40px;
    height: 40px;
  }
  #heading {
    width: 100%;
    height: 75px;
    padding-top: 10vh;
    font-family: Poppins;
    font-size: 3em;
    line-height: 1.5;
    text-align: center;
  }
  #ca {
    width: 42%;
    height: 35px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    line-height: 1.5;
    margin: auto 0;
    font-size: 100%;
  }
  #content {
    width: 100%;
    text-align: center;
    font-size: 6vw;
  }
  #mid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .btn {
    text-align: center;
    padding-top: 2vw;
  }
  .btn button {
    height: 10vw;
    width: 35vw;
    font-size: 4.8vw;
  }
  #imagess {
    margin-top: -10px;
  }
  #pic img {
    height: 30vh;
    width: 70vw;
    padding-left: 15vw;
  }
}
