.container {
  background: #085078;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85d8ce, #085078);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/bgnd/rain.jpg") 0% 0% / cover fixed,
    linear-gradient(to right, #85d8ce, #085078);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




body {
  margin: 0;
}

div {
  display: block;
}

nav {
  position: fixed;
  z-index: 4;
}

.heading {
  font-family: Poppins;
  font-size: 5.5em;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

#cont {
  /*display: flex;*/
  padding-top: 4vh;
  height: 60vh;
  margin: 1.3% 3% 5% 3%;
  margin-bottom: 0;
}

#imgBtn {
  margin-left: 5%;
  margin-top: 1%;
}

#imgBtn > .imgg,
.imgg > img {
  width: 50vh;
  height: 40vh;
}

.imgg > img {
  border-radius: 10px;
}

#imgBtn > button {
  border: none;
  margin-left: 25%;
  margin-top: 4%;
  padding: 15px;
  font-size: 15px;
  color: white;
  width: 120px;
  border-radius: 46px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #ea6262;
}

#desc {
  overflow-y: scroll;
  margin-right: 5%;
  margin-left: 3%;
  padding-bottom: 40px;
  width: 50%;
}

.ht {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.5vw;
  font-family: "Bebas neue";
}

.lt {
  padding: 0;
  margin: 0;
  margin-right: 2%;
  color: white;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
  line-height: 1.2;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #085078;
  margin-left: 5%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #085078;
}

::-webkit-scrollbar-thumb {
  background-color: #85d8ce;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

@media screen and (max-width: 500px) {
  #imgBtn {
    width: 45vh;
  }
  #imgBtn > img {
    width: 30vh;
  }
  .imgg {
    display: none;
  }
  #imgBtn > button {
    position: absolute;
    margin-top: 54vh;
    align-items: center;
    height: 10px;
    padding: 12px;
  }
  #desc {
    height: 47vh;
    overflow-y: scroll;
    width: 80%;
    margin-top: 35px;
    margin-left: 10%;
  }
  #cont {
    margin: 0;
    padding-top: 0;
    margin-top: -2vh;
  }
  .heading {
    padding-top: 10vh;
    margin-top: 0;
    font-size: 10vw;
  }
  .lt {
    font-size: 3vw;
  }
  .ht {
    font-size: 5vw;
  }
}

@media screen and (min-width: 500px) {
  #cont {
    display: flex;
  }
  #imgBtn {
    width: 60vh;
  }
  #imgBtn > img {
    width: 60vh;
  }
  .imgg {
    width: 60vh;
  }
}
