@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/BebasNeue-Regular.ttf");
}



body::-webkit-scrollbar {
  width: 0;
}





/* scroll end */

#contactUs {
  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F81232885%2F145029945551%2F1%2Foriginal.20191115-041447?w=1000&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C51%2C2404%2C1202&s=73a2a8ef63ad0b8c08f8d4b982840922")
      0 0 / cover fixed,
    linear-gradient(to right, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

button {
  cursor: pointer;
  height: 50px;
  font-size: 20vw;
  font-family: Poppins;
  font-size: 24px;
  line-height: 1.2;
  width: 167px;
  border-radius: 46px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.72);
  border: solid 1px #707070;
  background-color: #a7219e;
  text-align: center;
  color: #ffffff;
}

#map {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  /* background-color: #485563; */
  background-color: #cebdbdd8;
  color: #3c4a58;
  font-size: 1.2vw;
}

#btn {
  padding-top: 1vh;
}

/* 
#logo {
    width: 75.8px;
    height: 87.4px;
    color: #ffffff;
    animation: animate 1s linear forwards;
} */

#heading-contactus {
  font-family: "Poppins", sans serif;
  text-align: center;
  margin: 0%;
  font-weight: bold;
  color: white;
  animation: animate 1s linear forwards;
  padding-top: 15vh;
  font-size: 6vw;
}

.hline-contactus {
  font-family: "BebasNeue-Regular";
  font-size: 4vw;
  padding-top: 3vh;
}

#clg {
  margin-top: 0px;
}

p,
a {
  font-family: "Poppins", sans serif;
  /* text-align: left; */
}

@keyframes animatehead {
  0% {
    opacity: 0;
    transform: rotateY(10deg);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bodyPage-contactus {
  /* display: inline-grid; */
  margin-top: 5%;
  display: flex;
  color: white;
  flex-wrap: wrap;
  padding: 0 4px;
  font-size: 1.3em;
}

#bodyPage-contactus > div {
  flex: 25%;
  max-width: 31.5%;
  text-align: center;
  /* padding-right: 5vw; */
}

/* .hline-contactus {
    font-size: 7vw;
    margin-bottom: 3%;
} */

#secondpage {
  background: #da4453;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216b, #da4453);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216b, #da4453);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#thirdpage {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F81232885%2F145029945551%2F1%2Foriginal.20191115-041447?w=1000&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C51%2C2404%2C1202&s=73a2a8ef63ad0b8c08f8d4b982840922")
      0 0 / cover fixed,
    linear-gradient(to right, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 480px) {
  #bodyPage-contactus > div {
    flex: 50%;
    max-width: 100%;
    font-size: 3.5vw;
  }
  #contact {
    top: 0;
    padding-top: 14vh;
    height: 100vh;
  }
  .hline-contactus {
    font-size: 8vw;
    padding-top: 3vw;
  }
  #map {
    font-size: 5vw;
  }
  #heading-contactus {
    font-size: 7vh;
    padding-top: 0vh;
    top: 0;
  }
  button {
    height: 4vh;
    width: 35vw;
  }
}

@media screen and (max-width: 600px) {
  #bodyPage-contactus > div {
    flex: 100%;
    max-width: 100%;
  }
}
