html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  overflow: hidden;
  /* overscroll-behavior: contain; */
}

#concert {
  padding-top: 10vh;
  font-family: Verdana, sans-serif;
  background: rgb(252, 92, 125);
  background: linear-gradient(90deg, rgba(252, 92, 125, 1) 0%, rgba(106, 130, 251, 1) 100%);
}

#workshop {
  padding-top: 10vh;
  font-family: Verdana, sans-serif;
  background: rgb(203, 29, 65);
  background: linear-gradient(90deg, rgba(203, 29, 65, 1) 0%, rgba(242, 117, 98, 1) 0%, rgba(200, 64, 44, 1) 0%, rgba(236, 24, 47, 1) 0%, rgba(187, 41, 117, 1) 100%, rgba(106, 130, 251, 1) 100%);
}

#informal {
  padding-top: 10vh;
  font-family: Verdana, sans-serif;
  background: rgb(252, 92, 125);
  background: linear-gradient(90deg, rgba(252, 92, 125, 1) 0%, rgba(242, 117, 98, 1) 0%, rgba(218, 31, 7, 1) 100%, rgba(106, 130, 251, 1) 100%);
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../font/BebasNeue-Regular.ttf');
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
  border-radius: 8px;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  .
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.theExp {
  display: inline-block;
  font-family: Poppins;
  font-weight: 700;
  font-size: 10vh;
  color: white;
  position: absolute;
  top: 85%;
  left: -12%;
  transform: translate(0, -50%);
}

.theExpTop {
  z-index: 3;
  opacity: 1;
  display: inline-block;
  font-family: Poppins;
  font-weight: 700;
  font-size: 10vh;
  color: white;
  position: absolute;
  top: 85%;
  left: -12%;
  transform: translate(0, -50%);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  margin: 0 2px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  width: 30px;
  height: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: white;
}

h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 30px;
}

p {
  font-family: 'Poppins', sans serif;
}

.active, .dot:hover {
  background-color: white;
  color: #d642b7;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

.small {
  display: none;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 900px) {
  .dot, .slideshow-container, .mid {
    display: none;
  }
  .small {
    display: block;
    margin-top: 10px;
  }
  .dot1 {
    cursor: pointer;
    margin: 0 2px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    width: 30px;
    height: 30px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: white;
  }
  .active, .dot1:hover {
    background-color: white;
    color: #d642b7;
  }
  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: -60px;
    color: white;
  }
  p {
    width: 100%;
  }
}

@media screen and (min-device-width:0px) and (max-device-width: 1100px) {
  .dot, .slideshow-container, .mid {
    display: none;
  }
  .small {
    display: block;
    margin-top: 50px;
  }
  .dot1 {
    cursor: pointer;
    margin: 0 2px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    width: 3vh;
    height: 3vh;
    font-family: Poppins;
    font-size: 2.5vh;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: white;
  }
  .active, .dot1:hover {
    background-color: white;
    color: #d642b7;
  }
  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 6vh;
    width: 100%;
    color: white;
    text-align: center;
  }
  p {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 4vh;
  }
}
