body {
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: white;
}

.LOGO {
  position: fixed;
  width: 40px;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 2%;
  z-index: 4;
}

.LOGO-aboutus, .LOGO-contactus {
  /* position: fixed; */
  width: 40px;
  margin-top: 20px;
  margin-left: 2%;
  z-index: 100;
}

.rectangle {
  width: 100%;
  position: fixed;
  bottom: 3%;
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 0;
}

.campusam {
  font-family: 'Poppins';
  /* font-size: 1.0vw; */
  /* color: #fff; */
  border: 2px #fff solid;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2vw;
  font-weight: 600;
  height: 4vh;
  width: 12vw;
  text-transform: uppercase;
  margin-left: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1%;
  /* padding: 8px; */
  text-decoration: none;
  /* display: inline-block; */
  color: white;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 500;
  font-size: 1vw;
  outline: none;
}

.animation:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.campusam-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  outline: none;
}

.campusam-menu {
  font-family: 'Poppins';
  font-size: 1.3vw;
  color: #fff;
  border: 4px #fff solid;
  padding: 0.005vw 2.5vw;
  border-radius: 2vw;
  font-weight: 600;
  height: 3vw;
  text-transform: uppercase;
  margin-left: 6vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.rectangle-menu {
  text-decoration: none;
  width: 100%;
  position: absolute;
  /* bottom: 6%; */
  margin-top: 50%;
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 3;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.93em;
}

@media only screen and (max-device-width: 480px) {
  .LOGO {
    /* position: fixed; */
    top: 0;
    left: 0;
    padding-top: 25px;
    width: 35px;
    padding-left: 30px;
    /* margin-top: -42.5%; */
  }
  .LOGO-contactus {
    /* position: fixed; */
    width: 40px;
    margin-left: -75%;
    margin-top: -45%;
    z-index: 100;
  }
  #lg {
    margin-top: -110%;
  }
}

.nav-menu, .nav-menu * {
  margin: 8px;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul, .nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: '\f107';
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: '\f105';
}

/* Nav Meu Container */

#nav-menu-container {
  width: 90vw;
  float: right;
  margin-left: 8%;
  /* margin-right: 10%; */
}

.nav-menu {
  float: right;
  margin-right: 7%;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  outline: none;
}

/* .nav-menu .menu-active a, .nav-menu a:hover {
  color: black;
} */

.nav-menu>li {
  margin-left: 8px;
}

.nav-menu>li>a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover>a:before, .nav-menu .menu-active>a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu li.buy-tickets a {
  color: #fff;
  background: #f82249;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid yellow;
  transition: all ease-in-out 0.3s;
  /* font-weight: 500; */
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.buy-tickets a:hover {
  background: none;
  /* color: black !important */
}

.nav-menu li.buy-tickets:hover a:before, .nav-menu li.buy-tickets.menu-active a:before {
  visibility: hidden;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  border-radius: 3px;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.nav-menu ul li:hover>a {
  background: #f82249;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

#FOOTER {
  position: fixed;
  /* width: 175vh; */
  right: -32%;
  margin-left: 0%;
  margin-top: 4%;
  margin-right: 36%;
  height: 50px;
  bottom: 2vh;
  z-index: 3;
}

.icons {
  float: right;
  width: 1.5vw;
  height: 1.5vw;
  border: 1.5px solid white;
  border-radius: 50%;
  padding: 7px;
  margin-left: 6px;
  margin-top: 4px;
}

.icons img {
  width: 1.5vw;
  height: 1.5vw;
}

#FOOTER-menu {
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 8%;
  z-index: 100;
}

#FOOTER-menu .icons {
  float: right;
  width: 4vw;
  height: 4vw;
  border: 4px solid white;
  border-radius: 50%;
  padding: 7px;
  margin-left: 6px;
  margin-top: 4px;
}

#FOOTER-menu .icons img {
  margin-top: 10%;
  margin-left: 10%;
  width: 3vw;
  height: 3vw;
}

@media only screen and (max-width: 480px) {
  .nav-menu {
    display: none;
  }
  #FOOTER {
    position: fixed;
    /* width: 175vh; */
    right: -4%;
    margin-left: 4%;
    margin-top: 4%;
    /* margin-right: 40%; */
    height: 50px;
    bottom: 35px;
    z-index: 10;
  }
  .icons {
    float: right;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    padding: 5px;
    margin-left: 8px;
    margin-top: 4px;
  }
  .icons img {
    width: 5vw;
    height: 5vw;
  }
  .rectangle {
    width: 67%;
    position: fixed;
    bottom: 6vw;
    /* margin-bottom: -30vw; */
    margin-left: 20vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    z-index: 15;
    margin-left: 16%;
  }
  .campusam {
    font-family: 'Poppins';
    font-size: 3.5vw;
    color: #fff;
    width: 40vw;
    border: 3px #fff solid;
    padding: 2.5vw 2.5vw;
    border-radius: 6vw;
    font-weight: 600;
    height: 1vw;
    text-transform: uppercase;
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
  }
  .campusam:hover {
    font-family: 'Poppins';
    font-size: 3vw;
    color: gray;
    background-color: white;
    width: 40vw;
    border: 3px #fff solid;
    padding: 2.5vw 2.5vw;
    border-radius: 6vw;
    font-weight: 600;
    height: 1vw;
    text-transform: uppercase;
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -6vw;
  }
}
