@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");


body::-webkit-scrollbar {
  width: 0;
}

body {
  overflow: hidden;
  /* overscroll-behavior: contain; */
}

.container {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bgnd/schedule.jpg") fixed;
}

.flex-container {
  display: flex;
  background-color: transparent;
  padding-top: 10vh;
  width: 100%;
  height: 80vh;
}

.flex-container>div {
  background-color: transparent;
  margin: -4px;
  padding: 16px;
  font-size: 30px;
}

.aboutUsSvg {
  width: 53%;
  margin-left: 21%;
  margin-top: -1%;
}

.xyz {
  font-family: "Poppins";
  font-size: 45%;
  color: #fff;
  border: 1.5px #fff solid;
  border-radius: 1vw;
  font-weight: 600;
  width: 171%;
  height: 15%;
  margin-top: -4%;
  position: relative;
  line-height: 2.5;
  padding: 12% 4%;
  margin-bottom: -4%;
}

.box1 {
  margin-top: 4%;
  margin-bottom: -1%;
}

.tp1 {
  float: left;
  width: 4%;
  padding: 2% 3%;
  margin-top: -7%;
}

.tp2 {
  float: left;
  width: 17%;
  margin-top: -7%;
}

.tp3 {
  float: left;
  width: 32%;
  height: 10%;
  font-family: "Bebas Neue";
  margin-top: -7%;
  font-size: 130%;
  letter-spacing: 2.5px;
}

.tp4 {
  float: right;
  padding: 3% 2%;
  font-family: "Poppins";
  color: red;
  margin-top: -7%;
}

button {
  cursor: pointer;
  height: 58%;
  font-family: Poppins;
  font-size: 144%;
  line-height: 1.8;
  width: 167px;
  border-radius: 46px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.72);
  border: solid 1px #707070;
  background-color: #ffffff;
  text-align: center;
  color: #a7219e;
}

.grid2 {
  background-color: transparent;
  border-radius: 0.25rem;
  height: 82%;
  margin: 0 auto;
  display: grid;
  overflow-y: none;
  overflow-x: hidden;
  scrollbar-width: none;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  overflow: none;
}

/* .grid2::-webkit-scrollbar {
    display:none;
} */

.grid1 {
  width: 30%;
  color: white;
  font-family: "Poppins";
  font-size: 200%;
}

.grid2 {
  width: 53%;
}

#footer {
  margin-top: 10%;
  height: 30px;
}

.grid2::-webkit-scrollbar {
  width: 5px;
  background-color: #790e7d;
}

/* Track */

.grid2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

.grid2::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */

.grid2::-webkit-scrollbar-thumb:hover {
  background: black;
}

.svgSchedule {
  width: 69%;
}

@media screen and (max-width: 1700px) {
  
  .xyz {
    font-size: 39%;
    width: 154%;
  }
}

@media screen and (max-width: 1440px) {
  
  .xyz {
    font-size: 35%;
    width: 147%;
  }
}
@media screen and (max-width: 1100px) {
  #nav-menu-container {
    display: none;
  }
  button {
    line-height: 1.2;
    width: 100px;
    font-size: 120%;
  }
  .svgSchedule {
    width: 64%;
  }
  .xyz {
    line-height: 1.5;
  }
}

@media screen and (max-width: 770px) {
  #nav-menu-container {
    display: none;
  }
  button {
    line-height: 1.1;
    width: 70px;
    font-size: 100%;
  }
  .xyz {
    font-size: 30%;
  }
  .svgSchedule {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
    height: 71vh;
  }
  #nav-menu-container {
    display: none;
  }
  .grid1 {
    width: 88%;
  }
  .grid2 {
    width: 80%;
  }
  .grid1>h1 {
    margin-top: -22%;
  }
  button {
    line-height: 1.8;
    width: 172px;
    font-size: 215%;
  }
  #map {
    width: 35vw;
  }
  .xyz {
    font-size: 30%;
    width: 82%;
    height: 63px;
    margin-left: 8%;
  }
  .aboutUsSvg {
    display: none;
  }
  .campusam {
    /* margin-left: 5vw; */
    width: 80%;
  }
  .rectangle {
    width: 60vw;
    margin-left: 20%;
  }
  .tp1 {
    width: 7.5%;
    margin-top: -12%;
  }
  .tp2 {
    width: 56%;
    margin-top: -17%;
    font-size: 177%;
  }
  .tp3 {
    width: 109%;
    height: 10%;
    margin-top: -16%;
    margin-left: 0%;
    letter-spacing: 2.5px;
    font-size: 213%;
    text-align: -webkit-center;
  }
  .tp4 {
    float: left;
    margin-top: 5%;
    margin-left: 15%;
  }
}
