#social-reach {
    height: 100vh;
    margin: 0%;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #CE1572, #66003A);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.flex-container {
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 100vh;
}

.flex-container>div {
    background-color: transparent;
    margin: 10px;
    padding: 16px;
    font-size: 30px;
}

.grid1 {
    width: 70%;
}

.grid2 {
    width: 30%;
}

.box {
    width: 100%;
    /* position: fixed; */
    bottom: 3%;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 0;

  }
  
.answer {
    font-family: 'Poppins';
    border: 2px #fff solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2vw;
    font-weight: 600;
    height: 4vh;
    width: 15vw;
        margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1%;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2vw;
    outline: none;
    margin-top: 10%;
  }
  
.heading-socialreach {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 264%;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 2.7px;
    color: #ffffff;
    padding-top: 13vh;
    margin-top: -42%;
}

.media-item-medianame {
    padding-top: 20vh;
    padding-left: 5vw;
    width: 80vw;
}

.mediaName {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 2.7px;
    color: #ffffff;
    margin-top: 0%;
    margin-right: 18%;
    width: 91%;
    margin-left: -33%;
}

.groupSvg {
    width: 137%;
}

.girl1 {
    width: 82%;
    margin-left: -23%;
    height: 85%;
}

.man2 {
    width: 86%;
    margin-left: -74%;
    height: 74%;
}

.man3 {
    width: 89%;
    margin-left: -76%;
    height: 78%
}

@media screen and (max-width:500px) {
    .flex-container {
        flex-direction: column;
    }
    .grid1 {
        padding: 0;
        margin: 0;
    }
    .heading-socialreach {
        text-align: center;
        font-size: 8vw;
        width: 90vw;
        margin-top: 0;
        padding-top: 10vh;
    }
    .mediaName {
        margin: 0;
        padding-right: 5vw;
        left: 0;
        font-size: 5vw;
        width: 70vw;
    }
    .grid2 {
        width: 80vw;
    }
    .media-item-medianame {
        padding: 0;
        margin-left: 10vw;
        margin-right: 10%;
        width: 60vw;
        padding-top: 10vh;
    }
    .groupSvg {
        width: 90vw;
        display: none;
    }
    .man3 {
        width: 90vw;
        display: none;
    }
}

/* @media screen and (max-width:330px) {
    .flex-container {
        flex-direction: column;
    }
    .heading {
        font-size: 100%;
        width: 100%;
        margin-top: -45%;
        margin-left: 0%;
    }
    .grid1 {
        width: 63%;
        height: 0%;
    }
    .groupSvg {
        margin-top: -54%;
        width: 144%;
    }
    .grid2 {
        width: 81%;
    }
    .mediaName {
        font-size: 66%;
    }
} */
@media screen and (max-width: 450px) {
  
  .answer {
    font-family: 'Poppins';
    border: 2px #fff solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2vw;
    font-weight: 600;
    height: 4vh;
    width: 15vw;
        margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1%;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.8vw;
    outline: none;
    margin-top: 10%;
  }
  
  
  }
  