body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  /* overscroll-behavior: contain; */
}

.container {
  width: 100%;
  height: 200vh;
}

#sponsor {
  /* height: 100vh; */
  /* margin-top: 0%; */
  /* background-attachment: fixed; */
  background-image: linear-gradient(to bottom, #fdc830, #f37335);
  background-repeat: no-repeat;
  background-position: center;
}

#headd {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 7vw;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2.7px;
  color: #ffffff;
  padding: 0%;
  padding-top: 25vh;
  margin-right: 4vw;
}

.heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 4vw;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2.7px;
  color: #ffffff;
  padding-top: 3%;
}

.heading-media {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 4vw;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 2.7px;
  color: #ffffff;
  padding-top: 6%;
}

.svg {
  margin-top: -38.7vw;
  width: 65vw;
  margin-left: 14vw;
  position: relative;
  /* z-index: 1; */
}

.contentt {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  padding: 2% 4% 2% 4%;
  color: rgb(255, 255, 255);
  margin-top: -60%;
  height: 183px;
  overflow: hidden;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

.value {
  padding: 0% 8% 0% 8%;
  text-align: justify;
}

#logo {
  width: 4%;
  height: 12%;
  margin: 1.5%;
}

@media screen and (max-width: 900px) {
  #nav-menu-container {
    display: none;
  }

  #headd {
    font-size: 14vw;
    margin-left: 1vw;
    text-align: left;
    padding-left: 6%;
    padding-top: 10vh;
  }

  .svg {
    margin-top: -54.2vw;
    width: 90vw;
    margin-left: -2.7vw;

    position: relative;
  }

  .contentt {
    font-size: 1em;
    padding: 2% 4% 2% 4%;
    /* overflow: scroll; */
    height: 59vh;
    margin-top: -80%;
  }

  #logo {
    width: 8%;
    height: 12%;
    margin: 6.5%;
  }
}
