@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
body {
  margin: 0vw;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bgnd/team.jpg") 0% 0% / cover fixed, linear-gradient(to right, #e44d37, #e70364);
}

html {
  scroll-behavior: smooth;
}

.logoimg {
  padding-top: 19vh;
  padding-left: 10vw;
}

.title {
  height: 15%;
  width: 100%;
  color: white;
  /* position: absolute; */
  top: 0%;
  bottom: 0;
  right: 0;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: 800;
  padding-top: 5vh;
}

.grid-container {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px 150px;
  background-color: transparent;
  padding: 86px;
  padding-left: 5vw;
  padding-top: 10vh;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 48% 48%;
  height: 100px;
  border-radius: 10px;
  border: solid 5px #ffffff;
  padding: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 3vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  /* text-align: center; */
  color: #ffffff;
}

.grid-item:hover {
  background-color: white;
  color: gray;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
  body {
    margin: 0vw;
  }
  .title {
    height: 15%;
    width: 61%;
    color: white;
    position: relative;
    padding-top: 13%;
    left: 20%;
    right: 0;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
    font-weight: 800;
  }
  .grid-container {
    display: grid;
    width: 100%;
    grid-gap: 7px;
    top: 0;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 95px 95px 95px 95px;
    background-color: transparent;
    padding: 15px;
    /* margin-top: 50%; */
  }
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    height: 60px;
    border-radius: 10px;
    border: solid 5px #ffffff;
    padding: 10px;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    /* text-align: center; */
    color: #ffffff;
  }
  .grid-item:hover {
    background-color: white;
    color: gray;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  .campusam {
    width: 30vw;
  }
}
