:root {
  --img: 8;
  --margin-left: calc(100% / var(--img));
  --width: calc(100% * var(--img));
  --prevWidth: 6vw;
}



#theExperience {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/bgnd/theme.png") 0% 0% / cover fixed, linear-gradient(to top, #7b237b 0%, #ba39ad 74%);
  user-select: none;
}

.theExp {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 5vw;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 365vh;
  left: 10%;
  transform: translate(0, -50%);
}

.theExpTop {
  z-index: 0;
  opacity: 0.7;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 5vw;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 365vh;
  left: 10%;
  transform: translate(0, -50%);
}

.arrow {
  display: inline-block;
  font-family: Poppins;
  /* font-weight: 400; */
  font-size: 140px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.a1 {
  position: absolute;
  top: 350vh;
  left: 10%;
  transform: translate(0, -50%);
}

.a2 {
  position: absolute;
  top: 350vh;
  right: 10%;
  transform: translate(0, -50%);
}

.prev {
  opacity: 1;
  width: var(--prevWidth);
  height: calc(var(--prevWidth) * 9 / 16);
  cursor: pointer;
}

.prev.cur {
  transform: scale(1.3);
  z-index: 0;
}

.navigation {
  z-index: 0;
  align-items: center;
  width: calc(var(--prevWidth) * 5);
  height: calc(var(--prevWidth) * 9 / 16 * 1.3);
  overflow: hidden;
  position: absolute;
  top: 380vh;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
}

.slidershow {
  z-index: 0;
  display: inline-block;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 350vh;
  left: 50%;
  height: 60vh;
  width: 60vw;
  transform: translate(-50%, -50%);
  border-radius: 3vh;
}

.navImg {
  transition: 0.6s;
}

.slides {
  width: var(--width);
  height: 100%;
  display: flex;
}

.slide {
  width: var(--margin-left);
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .slidershow {
    display: inline-block;
    width: 70%;
    /* overflow: hidden; */
  }
  .middle {
    position: absolute;
    top: 320vh;
    height: 30vh;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .a1, .a2 {
    top: 360vh;
    /* display: none; */
    font-size: 50px;
  }
  .theExp {
    font-size: 8vw;
    top: 315vh;
    left: 12%;
  }
  .theExpTop {
    top: 315vh;
    left: 10%;
    font-size: 8vw;
    display: none;
  }
}

@media only screen and (max-width: 1150px) and (orientation: portrait) {
  .slidershow {
    display: inline-block;
    width: 90%;
    height: auto;
    overflow: hidden;
  }
  .a1 {
    left: 10%;
  }
  .a2 {
    right: 10%;
  }
  .a1, .a2 {
    top: 345vh;
  }
  .middle {
    position: absolute;
    top: 345vh;
    height: 30vh;
    width: 90vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navigation {
    top: 370vh;
  }
  .theExp {
    z-index: 0;
    font-size: 10vw;
    top: 315vh;
    /* font-weight: 400; */
  }
  .theExpTop {
    top: 315vh;
    font-size: 10vw;
    /* font-weight: 400; */
  }
}

/* @media only screen and (max-width: 950px) {
  .slidershow{
    display: inline-block;
    width: 80%;
    height: calc(9/16*80%);
    overflow: hidden;
  }
  .navigation{
    bottom: 20%;
  }
  .theExpTop{
    font-size: 54px;
    top: 63%;
    transform: translate(-10%,-50%);
  }
  .theExp{
    font-size: 54px;
    top: 63%;
    transform: translate(-10%,-50%);
  }
  .a1{
    transform: translate(-50%,-50%);
  }
  .a2{
    transform: translate(50%,-50%);
  }
}
@media only screen and (max-width: 800px) {
  .slidershow{
    display: inline-block;
    width: 600px;
    width: 80%;
    height: calc(9/16*80%);
    overflow: hidden;
  }
  .navigation{
    bottom: 20%;
  }
  .theExpTop{
    font-size: 42px;
    top: 62%;
    transform: translate(-10%,-50%);

  }
  .theExp{
    font-size: 42px;
    top: 62%;
    transform: translate(-10%,-50%);
  }
  .a1{
    left: 15%;
    transform: translate(-50%,-50%);
  }
  .a2{
    right: 15%;
    transform: translate(50%,-50%);
  }
}
@media only screen and (max-width: 650px) {
  .slidershow{
    display: inline-block;
    width: 80%;
    height: calc(9/16*80%);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    bottom: 25%;
  }
  .theExpTop{
    font-size: 32px;
    top: 58%;
    transform: translate(-10%,-50%);
  }
  .theExp{
    font-size: 32px;
    top: 58%;
    transform: translate(-10%,-50%);
  }
  .arrow{
    font-size: 100px;
    position: absolute;
    top: 50%;
  }
  .a1{
    left: 7.5%;
    transform: translate(-50%,-50%);
  }
  .a2{
    right: 7.5%;
    transform: translate(50%,-50%);
  }
} */
