<!DOCTYPE html>
<html>

<head>
	<title>Campus Ambassador</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/capage2.css">
	<link rel="stylesheet" href="../assets/css/ambassadors.css">
	<link rel="stylesheet" href="../assets/css/contactUs.css">

	<link rel="stylesheet" href="../assets/css/menu.css">

	<link rel="stylesheet" href="../assets/css/navbar.css">

	<!-- <link rel="stylesheet" href="../assets/css/capage3.css"> -->
</head>

<body>

	<nav id="nav-menu-container">
		<ul class="nav-menu">
			<li><a href="#ambassador">Apply</a></li>
			<li><a href="#thirdpage">Why?</a></li>
			<li><a href="#secondpage">Role</a></li>
			<!-- <li><a href="#theExperience"> Gallery</a></li> -->
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>

	<nav>
		<div class="menu">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar3"></div>
		</div>
		<ul class="nav-links">
			<!-- <li><a class="menuAfterClick1" href="/">HOME</a></li>
            <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
            <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                    SCHEDULE</a></li>
            <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

			<li><a class="menuAfterClick1" href="/">Home</a></li>
			<li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html" target="blank">2019
					Competetions</a></li>
			<li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf"
					target="blank">2019
					Schedule</a></li>
			<li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html" target="blank">Gallery</a>
			</li>
			<li><a class="menuAfterClick5" href="#contactus"></a></li>



			<!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
			<!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
            <li class="menuAfterClick7" class="small-li"><a href="#">SPONSORS</a></li>
            <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
            <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
            <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
		</ul>
		<ul class="nav-links-top">

			<li><a class="menuAfterClick6" href="http://vivacity.lnmiit.ac.in/team.html" target="blank">TEAM 2019</a>
			</li>
			<li><a class="menuAfterClick7" href="/templates/sponsors.html">SPONSORS</a></li>
		</ul>
		<ul class="nav-links-bottom">
			<li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
			<li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
			<li><a class="menuAfterClick10" href="#">COOKIES</a></li>
		</ul>
		<div class="nav-links-top-mid">
			<div class="logo">
				<img class="logoimg" src="../assets/svg/svgg.svg">
			</div>
		</div>
		<div class="nav-links-bottom-mid">
			<div id="FOOTER-menu">

				<a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
					<div class="icons"><img src="../assets/svg/facebook_icon.svg" target="blank">

					</div>
				</a>

				<div class="icons">
					<a href="https://www.instagram.com/vivacity_lnmiit" target="blank"> <img
							src="../assets/svg/envelope.svg">
					</a>
				</div>
				<div class="icons">
					<a href="https://www.instagram.com/vivacity_lnmiit" target="blank"> <img
							src="../assets/svg/insta.svg">
					</a>
				</div>
				<div class="icons">
					<a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank"> <img
							src="../assets/svg/youtube.svg">
					</a>
				</div>
			</div>
		</div>
		<script src="../assets/js/menu.js"></script>
	</nav>

	<div class=" container" id="ambassador">
		<div>
			<a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO">
			</a>
		</div>

		<!-- <img id="logo" src="../svg/svgg.svg"> -->
		<div id="heading">
			Campus Ambassador
		</div>
		<div id="mid">
			<div id="pic">
				<img src="../assets/svg/image2vector.svg">
			</div>
			<div>
				<div id="content">
					Build | Connect | Get Recognized
					<div>
						Start Your Journey With Vivacity
					</div>
				</div>


				<div class="btn"
					onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSeAtQJeSXIxsNQ0BW1IgogMX_KHk_9ouFTd5afQGmJ6nXRiGQ/viewform')">

					<button>Apply Now</button>
				</div>
			</div>
		</div>
	</div>



	<div class="container" id="thirdpage">

		<div id="heading-capage2">
			Why Campus Ambassador
		</div>


		<div id="bodyPage-am">
			<div>
				<div class="element">
					<div class="hline-am">FREE ENTRY TICKET</div>
					Get to see and experience live pronite performances, centre stage events
				</div>
			</div>
			<div>
				<div class="element">

					<div class="hline-am">CERTIFICATE OF APPRECIATION</div>
					Work out new event ideas and ways of promoting Vivacity and watch your ideas turn.

				</div>
			</div>

			<div>

				<div class="element">

					<div class="hline-am">VIVACITY MERCHANDISE</div>
					Grab the official Vivacity'20 merchandise as well as exclusive goodies from our sponsors.

				</div>
			</div>
		</div>
	</div>
	<div class="container" id="secondpage">

		<div id="heading-capage2">
			Role As Campus Ambassador
		</div>
		<div id="bodyPage-am">
			<div>
				<div class="element">
					<div class="hline-am">Represent&nbsp; Vivacity</div>
					Be the face of Vivacity by encouraging and facilitating participation from your college as well as
					city.

				</div>
			</div>
			<div>
				<div class="element">
					<div class="hline-am">Revolutionaize and Ideate</div>
					Work out new event ideas and ways of promoting Vivacity and watch your ideas turn.
				</div>
			</div>
			<div>
				<div class="element">
					<div class="hline-am">Boost Vivacity Brand</div>
					Publicize and promote Vivacity extensively through both online social platforms and offline too.
				</div>
			</div>



		</div>
	</div>

	<div class="container" id="contactUs">
		<div id="contact">
			<div id="heading-contactus">
				Contact Us
			</div>
			<div id="bodyPage-contactus">
				<div>

					<div class="hline-contactus">Divyanshu Gera</div>
					+91 9876543210
					<br>
					vivacity@lnmiit.ac.in
				</div>
				<div>
					<div class="hline-contactus">Sukrit Sarna</div>
					+91 9876543210
					<br>
					vivacity@lnmiit.ac.in
				</div>
				<div>
					<div class="hline">Get Directions</div>
					<br>
					<p>
						LNMIIT,Rupa Ki Nangal,Post-Sumel,Via Jamdoli,Jaipur </p>
					<p>
						<button id="map-contactus"
							onclick="window.open('https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.9358194,75.9196668,16z/data=!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233')">See
							In Maps</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rectangle">
		<div class="campusam">
			<a href="../assets/pdf/Vivacity 20 Brochure.pdf">brochure</a>

		</div>
	</div>
	<div id="FOOTER">
		<div class="icons">
			<a href="https://www.facebook.com/Vivacity.LNMIIT"> <img src="../assets/svg/facebook_icon.svg">
			</a>
		</div>
		<div class="icons">
			<a href="https://www.instagram.com/vivacity_lnmiit"> <img src="../assets/svg/envelope.svg">
			</a>
		</div>
		<div class="icons">
			<a href="https://www.instagram.com/vivacity_lnmiit"> <img src="../assets/svg/insta.svg">
			</a>
		</div>
		<div class="icons">
			<a href="https://www.youtube.com/user/VivacityLNMIITJaipur"> <img src="../assets/svg/youtube.svg">
			</a>
		</div>
	</div>
	<script src="../assets/js/scroll.js"></script>
</body>

</html>
