<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    Campus Ambassador | Vivacity 2020 - Annual Cultural Festival of LNMIIT
    Jaipur
  </title>
  <link href=/ rel=canonical>
  <link href=https://plus.google.com/113534955956819396086/ rel=publisher>
  <link href=/assets/fav/favicon.ico rel="shortcut icon" type=image/x-icon> <link
    href=https://vivacity.lnmiit.ac.in/assets/fav/apple-touch-icon-60x60.png rel=apple-touch-icon sizes=60x60>
  <link href=/assets/fav/apple-touch-icon-120x120.png rel=apple-touch-icon sizes=120x120>
  <link href=/assets/fav/apple-touch-icon-76x76.png rel=apple-touch-icon sizes=76x76>
  <link href=/assets/fav/apple-touch-icon-152x152.png rel=apple-touch-icon sizes=152x152>
  <link rel="shortcut icon" href="/assets/fav/favicon.ico" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-16x16.png" sizes="16x16" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/contactUs.css" />
  <link rel="stylesheet" href="../assets/css/ambassadors.css" />
  <link rel="stylesheet" href="../assets/css/capage2.css" />
  <link rel="stylesheet" href="../assets/css/menu.css" />
  <link rel="stylesheet" href="../assets/css/navbar.css" />
  <link href="../assets/css/loader.css" type="text/css" rel="stylesheet" />

</head>

<body style="margin:0;padding:0;width:100%;height:100%">
  <div id="loader">
    <img src="../assets/img/bgnd/loader.gif" />
  </div>

  <div id="pages" class="slideUp" style="display:none;">

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#ambassador">Apply</a></li>
        <li><a href="#thirdpage">Why?</a></li>
        <li><a href="#secondpage">Role</a></li>
        <!-- <li><a href="#theExperience"> Gallery</a></li> -->
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <nav>
      <div class="menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar3"></div>
      </div>
      <ul class="nav-links">
        <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                  <li><a class="menuAfterClick3" href="https://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                  <li><a class="menuAfterClick2" href="https://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                          SCHEDULE</a></li>
                  <li><a class="menuAfterClick4" href="https://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

        <li><a class="menuAfterClick1" href="/">Home</a></li>
        <li>
          <a class="menuAfterClick3" href="/templates/competitions.html">
            Competitions</a>
        </li>
        <li>
          <a class="menuAfterClick4" href="/templates/events.html"> Events</a>
        </li>
        <li>
          <a class="menuAfterClick2" href="/templates/schedule.html">Event Schedule</a>
        </li>
        <li><a class="menuAfterClick5" href="https://drive.google.com/file/d/1afNGDStp_Vp95pbWgiF5jznkgSvNvmfy/view"
            target="_blank">Bus
            Schedule</a></li>
        <li>
          <a class="menuAfterClick5 menu-hide" href="/templates/team.html">
            Team</a>
        </li>
        <li>
          <a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html">
            Sponsors</a>
        </li>
        <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>
        <li><a class="menuAfterClick8 menu-hide" href="/templates/faq.html">
            FAQs</a></li>

        <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
        <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                  <li class="menuAfterClick7" class="small-li"><a href="#">Sponsors</a></li>
                  <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                  <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                  <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
      </ul>
      <ul class="nav-links-top">
        <li>
          <a class="menuAfterClick6" href="/templates/team.html">Team</a>
        </li>
        <li>
          <a class="menuAfterClick7" href="/templates/sponsors.html">Sponsors</a>
        </li>
      </ul>
      <ul class="nav-links-bottom">
        <li><a class="menuAfterClick8" href="faq.html">FAQs</a></li>
        <li><a class="menuAfterClick8" href="#"></a></li>
        <li><a class="menuAfterClick9" href="#"></a></li>
        <li><a class="menuAfterClick10" href="../templates/developer.html"></a></li>
      </ul>
      <div class="nav-links-top-mid">
        <div class="logo animation">
          <a href="/"><img class="logoimg" src="../assets/svg/svgg.svg" /> </a>
        </div>
      </div>
      <div class="nav-links-bottom-mid">
        <div id="FOOTER-menu">
          <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/facebook_icon.svg" target="blank" />
            </div>
          </a>

          <div class="icons animation">
            <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
              <img src="../assets/svg/envelope.svg" />
            </a>
          </div>
          <div class="icons animation">
            <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
              <img src="../assets/svg/insta.svg" />
            </a>
          </div>
          <div class="icons animation">
            <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
              <img src="../assets/svg/youtube.svg" />
            </a>
          </div>
        </div>
        <div class="rectangle-menu">
          <div class="campusam-menu animation">
            <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/">Live
              Updates</a> </div>
        </div>
      </div>
      <script src="../assets/js/menu.js"></script>
    </nav>

    <div class=" container" id="ambassador">
      <div>
        <a href="/">
          <img src="../assets/svg/svgg.svg" class="LOGO animation" />
        </a>
      </div>

      <!-- <img id="logo" src="../svg/svgg.svg"> -->
      <div id="heading">
        Campus Ambassador
      </div>
      <div id="mid">
        <div id="pic">
          <img src="../assets/svg/image2vector.svg" />
        </div>
        <div>
          <div id="content">
            Build | Connect | Get Recognized
            <div>
              Start Your Journey With Vivacity
            </div>
          </div>

          <div class="btn"
            onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSeAtQJeSXIxsNQ0BW1IgogMX_KHk_9ouFTd5afQGmJ6nXRiGQ/viewform')">
            <button class="animation">Apply Now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="thirdpage">
      <div id="heading-capage2">
        Why Campus Ambassador
      </div>

      <div id="bodyPage-am">
        <div>
          <div class="element">
            <div class="hline-am">FREE ENTRY TICKET</div>
            Get to see and experience live pronite performances, centre stage
            events
          </div>
        </div>
        <div>
          <div class="element">
            <div class="hline-am">CERTIFICATE OF APPRECIATION</div>
            Work out new event ideas and ways of promoting Vivacity and watch
            your ideas turn.
          </div>
        </div>

        <div>
          <div class="element">
            <div class="hline-am">VIVACITY MERCHANDISE</div>
            Grab the official Vivacity'20 merchandise as well as exclusive
            goodies from our sponsors.
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="secondpage">
      <div id="heading-capage2">
        Role As Campus Ambassador
      </div>
      <div id="bodyPage-am">
        <div>
          <div class="element">
            <div class="hline-am">Represent&nbsp; Vivacity</div>
            Be the face of Vivacity by encouraging and facilitating
            participation from your college as well as city.
          </div>
        </div>
        <div>
          <div class="element">
            <div class="hline-am">Revolutionaize and Ideate</div>
            Work out new event ideas and ways of promoting Vivacity and watch
            your ideas turn.
          </div>
        </div>
        <div>
          <div class="element">
            <div class="hline-am">Boost Vivacity Brand</div>
            Publicize and promote Vivacity extensively through both online
            social platforms and offline too.
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="contactUs">
      <div id="contact">
        <div id="heading-contactus">
          Contact Us
        </div>
        <div id="bodyPage-contactus">
          <div>
            <div class="hline-contactus">Jatin Aggarwal</div>
            <a href="tel:+917877856296"> +91 78778 56296 </a> <br />
            <a href="mailto:17ume028@lnmiit.ac.in">
              17ume028@lnmiit.ac.in
            </a>
            <p id="btn">
              <button id="map" onclick="window.location.replace('team.html')">
                Know More
              </button>
            </p>
          </div>
          <div>
            <div class="hline-contactus">Sukrit Sarna</div>
            <a href="tel:+919166006162"> +91 91660 06162 </a>
            <br />
            <a href="mailto:gsec.cultural@lnmiit.ac.in">
              gsec.cultural@lnmiit.ac.in
            </a>
          </div>
          <div>
            <div class="hline-contactus">Get Directions</div>
            <p>
              LNM Institute of Information Technology, Rupa Ki Nangal,
              Post-Sumel, Via Jamdoli, Jaipur 302031
            </p>
            <p id="btn">
              <button id="map"
                onclick="window.open('https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.9358194,75.9196668,16z/data=!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233')">
                See In Maps
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="rectangle">
    <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/">
      <div class="campusam">
        LIVE UPDATES
      </div>
    </a>
  </div>

  <div id="FOOTER">
    <div class="icons animation">
      <a href="https://www.facebook.com/Vivacity.LNMIIT">
        <img src="../assets/svg/facebook_icon.svg" />
      </a>
    </div>
    <div class="icons animation">
      <a href="mailto:vivacity.thelnmiit@gmail.com">
        <img src="../assets/svg/envelope.svg" />
      </a>
    </div>
    <div class="icons animation">
      <a href="https://www.instagram.com/vivacity_lnmiit">
        <img src="../assets/svg/insta.svg" />
      </a>
    </div>
    <div class="icons animation">
      <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
        <img src="../assets/svg/youtube.svg" />
      </a>
    </div>
  </div>
  <script src="../assets/js/scroll.js"></script>
  <script>

    var timeout;
    window.onload = function loader() {
      console.log("Hello");
      timeout = setTimeout(showPage, 30);
    }
    function showPage() {
      document.getElementById("loader").classList.add("loaded");
      document.getElementById("pages").style.display = "block";

    }
  </script>

</body>

</html>