<!DOCTYPE html> 
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Competitions</title>
<!-- CSS Files
        <link rel="stylesheet"  type="text/css" href="branding.css">
        <link rel="stylesheet" type="text/css" href="nav.css">
        <link rel="stylesheet"  type="text/css" href="menu.css"> -->
        <link rel="stylesheet" type="text/css" href="..//assets/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="..//assets/css/theExperience.css">
        <link rel="stylesheet" type="text/css" href="..//assets/css/contactUs.css">
        <link rel="stylesheet" type="text/css" href="..//assets/css/menu.css">
        <link rel="stylesheet" type="text/css" href="..//assets/css/landingPage.css">
<!-- Font Files -->
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<!-- LOGO  -->
<div class="logoBlock">
    <img id="logo" src="..//assets/Svg/whiteLogo.svg">
</div>    
<!-- MENU    -->
<nav class="men">
    <div class="menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">COMPETITIONS</a></li>
        <li><a href="#">SCHEDULE</a></li>
        <li class="small-li"><a href="#">TEAM</a></li>
        <li class="small-li"><a href="#">SPONSORS</a></li>
        <li class="small-li"><a href="#">TERMS OF USE</a></li>
        <li class="small-li"><a href="#">PRIVACY POLICY</a></li>
        <li class="small-li"><a href="#">COOKIES</a></li>
    </ul>
    <ul class="nav-links-top">
        
        <li><a href="#">TEAM</a></li>
        <li><a href="#">SPONSORS</a></li>
    </ul>
    <ul class="nav-links-bottom">
        <li><a href="#">TERMS OF USE</a></li>
        <li><a href="#">PRIVACY POLICY</a></li>
        <li><a href="#">COOKIES</a></li>
    </ul>
    <div class="nav-links-top-mid">
        <div class="logo">
            <img class="logoimg" src="assets/images/svgg.svg">
        </div>
    </div>
    <div class="nav-links-bottom-mid">

    </div>
    <script src="js/nav.js"></script>
</nav>
<!-- Contanier -->
<h1 class="heading">Competitions</h1>

<div class="Contanier">
<!-- CONTAINER  -->
<div class="grid-container1">
    <div id="t1" class="grid-item" onclick="show('id1','t1');">Dance</div>
    <div id="t2" class="grid-item" onclick="show('id2','t2');">Dramatics</div></a>
    <div id="t3" class="grid-item" onclick="show('id3','t3');">Life & Style</div></a>
    <div id="t4" class="grid-item" onclick="show('id4','t4');">Art & Craft</div></a>
</div><br><br><br>

<div class="eventDisplaySpace">
<!--Dance-->
    <div id="id1" class="eventDetails">
        <button type="button">Lets Tangle</button>
        <button type="button">Mudra</button>
        <button type="button">Pump It Up</button>
        <button type="button">Razmatazz</button>
        <button type="button">The Outlaw</button>
    </div>


<!--Dramatics-->
<div id="id2" class="eventDetails">
    <button type="button">Stage Play</button>
    <button type="button">Mimi</button>
    <button type="button">Hunkaar</button>
</div>

<!--Life & Style-->
<div id="id3" class="eventDetails">
    <button type="button">Vogue</button>
</div>

<!--Art & Craft-->
    <div id="id4" class="eventDetails">
        <button type="button">Contrasto</button>
        <button type="button">Face Painting</button>
        <button type="button">Ink the Tee</button>
        <button type="button">Rangshala</button>
        <button type="button">Tattoo Tales</button>
    </div>

<!--Music-->
<div id="id5" class="eventDetails">
    <button type="button">Antakshiri</button>
    <button type="button">Duetto</button>
    <button type="button">Mescolanza</button>
    <button type="button">Rap Batle</button>
    <button type="button">Solendious</button>
    <button type="button">Swaranjali</button>
    <button type="button">Verismo</button>    
</div>

<!--Social Cause-->
<div id="id6" class="eventDetails">
    <button type="button">Sahyog</button>
    <button type="button">Football Auction</button>
    <button type="button">Bamboozled Quiz</button>
</div>

<!--Speaking Arts-->
<div id="id7" class="eventDetails">
    <button type="button">Rostrum</button>
    <button type="button">Spotlight</button>
</div>

<!--Photography-->
<div id="id8" class="eventDetails">
    <button type="button">Flicker</button>
</div>    
</div>

<!--Second Half-->    
    <div class="grid-container2">
        <div id="t5" class="grid-item" onclick="show('id5','t5');">Music</div>
        <div id="t6" class="grid-item" onclick="show('id6','t6');">Social Cause</div></a>
        <div id="t7" class="grid-item" onclick="show('id7','t7');">Speaking Arts</div></a>
        <div id="t8" class="grid-item" onclick="show('id8','t8');">Photography</div></a>
</div>
</div>
<!-- ---------------------------------------------------------------------- -->
<div class="rectangle brochure" >
    <div class="campusam">
        <a href="../../assets/pdf/Viva20Brochure.pdf" target="_blank">Event Schedule</a>
    </div>
</div>
<style>
.rectangle{
bottom:3%;
}
</style>

<div id="FOOTER" style="height: 30px;">
    <div class="icons">
        <a href="https://www.facebook.com/Vivacity.LNMIIT"> <img src="..//assets/Svg/facebook_icon.svg">
        </a>
    </div>
    <div class="icons">
        <a href="mailto:vivacity.thelnmiit@gmail.com"> <img src="..//assets/Svg/envelope.svg">
        </a>
    </div>
    <div class="icons">
        <a href="https://www.instagram.com/vivacity_lnmiit"> <img src="..//assets/Svg/insta.svg">
        </a>
    </div>
    <div class="icons">
        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur"> <img src="..//assets/Svg/youtube.svg">
        </a>
    </div>
</div>

<!-- JavaScript Files -->
<script type="text/javascript">
    function show(elementId,p) { 
      document.getElementById("id1").style.display="none";
      document.getElementById("id2").style.display="none";
     document.getElementById("id3").style.display="none";
     document.getElementById("id4").style.display="none";
     document.getElementById("id5").style.display="none";
     document.getElementById("id6").style.display="none";
     document.getElementById("id7").style.display="none";
     document.getElementById("id8").style.display="none";

      document.getElementById(elementId).style.display="block";

      document.getElementById('t1').style.backgroundColor="transparent";
      document.getElementById('t2').style.backgroundColor="transparent";
      document.getElementById('t3').style.backgroundColor="transparent";
      document.getElementById('t4').style.backgroundColor="transparent";
      document.getElementById('t5').style.backgroundColor="transparent";
      document.getElementById('t6').style.backgroundColor="transparent";
      document.getElementById('t7').style.backgroundColor="transparent";
      document.getElementById('t8').style.backgroundColor="transparent";


      document.getElementById('t1').style.color="white";
      document.getElementById('t2').style.color="white";
      document.getElementById('t3').style.color="white";
      document.getElementById('t4').style.color="white";
      document.getElementById('t5').style.color="white";
      document.getElementById('t6').style.color="white";
      document.getElementById('t7').style.color="white";
      document.getElementById('t8').style.color="white";
      


      document.getElementById(p).style.backgroundColor="white";
      document.getElementById(p).style.color="gray";
      

        }
    

    
</script>
<style>#t1:hover{
    background-color: white;
    color:gray;
  }</style>
<script src="..//assets/js/scroll.js"></script>          
</body>    
</html>
