<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content=http://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>

    <title>Competitions</title>
    <!-- CSS Files
        <link rel="stylesheet"  type="text/css" href="branding.css">
        <link rel="stylesheet" type="text/css" href="nav.css">
        <link rel="stylesheet"  type="text/css" href="menu.css"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/theExperience.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/contactUs.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/competitions.css">


    <!-- Font Files -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->

    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="#">All Competitions</a></li>
        </ul>
    </nav>
    <!-- MENU    -->
    <nav>
        <div class="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-links">
            <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                    <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                    <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                            SCHEDULE</a></li>
                    <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

            <li><a class="menuAfterClick1" href="/">Home</a></li>
            <li><a class="menuAfterClick3" href="/templates/competitions.html" target="blank">All
                    Competetions</a>
            </li>
            <li><a class="menuAfterClick4" href="/templates/events.html" target="blank">Our
                    Events</a>
            </li>
            <li><a class="menuAfterClick2" href="/templates/schedule.html" target="blank">Event
                    Schedule</a>
            </li>
            <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html" target="blank">Our
                    Team</a></li>
            <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html" target="blank">
                    Sponsor Us</a></li>
            <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>



            <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
            <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                    <li class="menuAfterClick7" class="small-li"><a href="#">SPONSOR US</a></li>
                    <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                    <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                    <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
        </ul>
        <ul class="nav-links-top">

            <li><a class="menuAfterClick6" href="/templates/team.html" target="blank">Our Team</a>
            </li>
            <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsor Us</a></li>
        </ul>
        <ul class="nav-links-bottom">
            <li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
            <li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
            <li><a class="menuAfterClick10" href="#"></a></li>
        </ul>
        <div class="nav-links-top-mid">
            <div class="logo">
                <img class="logoimg" src="../assets/svg/svgg.svg">
            </div>
        </div>
        <div class="nav-links-bottom-mid">
            <div id="FOOTER-menu">
                <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/facebook_icon.svg" target="blank" />
                    </div>
                </a>

                <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/envelope.svg" />
                    </div>
                </a>

                <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
                    <div class="icons"><img src="../assets/svg/insta.svg" /></div>
                </a>
                <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/youtube.svg" />
                    </div>
                </a>
            </div>
            <div class="rectangle-menu">
                <div class="campusam-menu">
                    <a href="/templates/ambassadors.html">CAMPUS AMBASSADOR</a>
                </div>
            </div>
        </div>
        <script src="../assets/js/menu.js"></script>
    </nav>




    <script src="../assets/js/scroll.js"></script>
</body>

</html>
