<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content=http://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>

    <title>Competitions</title>
    <!-- CSS Files
        <link rel="stylesheet"  type="text/css" href="branding.css">
        <link rel="stylesheet" type="text/css" href="nav.css">
        <link rel="stylesheet"  type="text/css" href="menu.css"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/theExperience.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/contactUs.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/competitions.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar.css">

    <!-- Font Files -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->

    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="#">All Competitions</a></li>
        </ul>
    </nav>
    <!-- MENU    -->
    <nav>
        <div class="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-links">
            <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                    <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                    <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                            SCHEDULE</a></li>
                    <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

            <li><a class="menuAfterClick1" href="/">Home</a></li>
            <li><a class="menuAfterClick3" href="/templates/competitions.html" target="blank">All
                    Competetions</a>
            </li>
            <li><a class="menuAfterClick4" href="/templates/events.html" target="blank">Our
                    Events</a>
            </li>
            <li><a class="menuAfterClick2" href="/templates/schedule.html" target="blank">Event
                    Schedule</a>
            </li>
            <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html" target="blank">Our
                    Team</a></li>
            <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html" target="blank">
                    Sponsor Us</a></li>
            <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>



            <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
            <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                    <li class="menuAfterClick7" class="small-li"><a href="#">SPONSOR US</a></li>
                    <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                    <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                    <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
        </ul>
        <ul class="nav-links-top">

            <li><a class="menuAfterClick6" href="/templates/team.html" target="blank">Our Team</a>
            </li>
            <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsor Us</a></li>
        </ul>
        <ul class="nav-links-bottom">
            <li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
            <li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
            <li><a class="menuAfterClick10" href="#"></a></li>
        </ul>
        <div class="nav-links-top-mid">
            <div class="logo">
                <img class="logoimg" src="../assets/svg/svgg.svg">
            </div>
        </div>
        <div class="nav-links-bottom-mid">
            <div id="FOOTER-menu">
                <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/facebook_icon.svg" target="blank" />
                    </div>
                </a>

                <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/envelope.svg" />
                    </div>
                </a>

                <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
                    <div class="icons"><img src="../assets/svg/insta.svg" /></div>
                </a>
                <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/youtube.svg" />
                    </div>
                </a>
            </div>
            <div class="rectangle-menu">
                <div class="campusam-menu">
                    <a href="/templates/ambassadors.html">CAMPUS AMBASSADOR</a>
                </div>
            </div>
        </div>
        <script src="../assets/js/menu.js"></script>
    </nav>

    <!-- CONTAINER  -->
    <div class="container">

        <!-- MAIN PAGE LAYOUT -->
        <div>
            <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO" /> </a>
        </div>

        <h1 class="heading">Competitions</h1>

        <div class="whole">
            <!-- GRID1  -->
            <div class="grid-container1">
                <div id="t1" class="grid-item" onclick="show('id1','t1');">Dance</div>
                <div id="t2" class="grid-item" onclick="show('id2','t2');">Dramatics</div>
                <div id="t3" class="grid-item" onclick="show('id3','t3');">Life & Style</div>
                <div id="t4" class="grid-item" onclick="show('id4','t4');">Art & Craft</div>
            </div>

            <br><br><br>
            <!-- EVENT TABS -->
            <div class="eventDisplaySpace">
                <!--Dance-->
                <div id="id1" class="eventDetails">
                    <a href="#"><button type="button">Lets Tangle</button></a>
                    <a href="#"><button type="button">Mudra</button></a>
                    <a href="#"><button type="button">Pump It Up</button></a>
                    <a href="#"><button type="button">Razmatazz</button></a>
                    <a href="#"><button type="button">The Outlaw</button></a>
                </div>


                <!--Dramatics-->
                <div id="id2" class="eventDetails">
                    <a href="#"><button type="button">Stage Play</button></a>
                    <a href="#"><button type="button">Mime</button></a>
                    <a href="#"><button type="button">Hunkaar</button></a>
                </div>

                <!--Life & Style-->
                <div id="id3" class="eventDetails">
                    <a hre="#"><button type="button">Vogue</button></a>
                </div>

                <!--Art & Craft-->
                <div id="id4" class="eventDetails">
                    <a href="#"><button type="button">Contrasto</button></a>
                    <a href="#"><button type="button">Splash</button></a>
                    <a href="#"><button type="button">Ink the Tee</button></a>
                    <a href="#"><button type="button">Colorama</button></a>
                    <a href="#"><button type="button">Tattoo Tales</button></a>
                </div>

                <!--Music-->
                <div id="id5" class="eventDetails">
                    <a href="#"><button type="button">Antakshiri</button></a>
                    <a href="#"><button type="button">Duetto</button></a>
                    <a href="#"><button type="button">Mescolanza</button></a>
                    <a href="#"><button type="button">Rap Batle</button></a>
                    <a href="#"><button type="button">Solendious</button></a>
                    <a href="#"><button type="button">Swaranjali</button></a>
                    <a href="#"><button type="button">Verismo</button></a>
                </div>

                <!--Social Cause-->
                <div id="id6" class="eventDetails">
                    <a href="#"><button type="button">Sahyog</button></a>
                    <a href="#"><button type="button">Football Auction</button></a>
                    <a href="#"><button type="button">Bamboozled Quiz</button></a>
                </div>

                <!--Speaking Arts-->
                <div id="id7" class="eventDetails">
                    <a href="#"><button type="button">Rostrum</button></a>
                    <a href="#"><button type="button">Spotlight</button></a>
                </div>

                <!--Photography-->
                <div id="id8" class="eventDetails">
                    <a href="#"><button type="button">Flicker</button></a>
                </div>
            </div>

            <!--GRID 2-->
            <div class="grid-container2">
                <div id="t5" class="grid-item" onclick="show('id5','t5');">Music</div>
                <div id="t6" class="grid-item" onclick="show('id6','t6');">Miscellaneous</div>
                <div id="t7" class="grid-item" onclick="show('id7','t7');">Speaking Arts</div>
                <div id="t8" class="grid-item" onclick="show('id8','t8');">Photography</div>
            </div>
        </div>
    </div>
    <!-- ---------------------------------------------------------------------- -->
    <div class="rectangle brochure">
        <div class="campusam">
            <a href="../../assets/pdf/Viva20Brochure.pdf" target="_blank">Event Schedule</a>
        </div>
    </div>
    <style>
        .rectangle {
            bottom: 3%;
        }

    </style>

    <div id="FOOTER" style="height: 30px;">
        <div class="icons">
            <a href="https://www.facebook.com/Vivacity.LNMIIT"> <img src="..//assets/Svg/facebook_icon.svg">
            </a>
        </div>
        <div class="icons">
            <a href="mailto:vivacity.thelnmiit@gmail.com"> <img src="..//assets/Svg/envelope.svg">
            </a>
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/vivacity_lnmiit"> <img src="..//assets/Svg/insta.svg">
            </a>
        </div>
        <div class="icons">
            <a href="https://www.youtube.com/user/VivacityLNMIITJaipur"> <img src="..//assets/Svg/youtube.svg">
            </a>
        </div>
    </div>

    <!-- JavaScript Files -->
    <script type="text/javascript">
        function show(elementId, p) {
            document.getElementById("id1").style.display = "none";
            document.getElementById("id2").style.display = "none";
            document.getElementById("id3").style.display = "none";
            document.getElementById("id4").style.display = "none";
            document.getElementById("id5").style.display = "none";
            document.getElementById("id6").style.display = "none";
            document.getElementById("id7").style.display = "none";
            document.getElementById("id8").style.display = "none";

            document.getElementById(elementId).style.display = "block";

            document.getElementById('t1').style.backgroundColor = "transparent";
            document.getElementById('t2').style.backgroundColor = "transparent";
            document.getElementById('t3').style.backgroundColor = "transparent";
            document.getElementById('t4').style.backgroundColor = "transparent";
            document.getElementById('t5').style.backgroundColor = "transparent";
            document.getElementById('t6').style.backgroundColor = "transparent";
            document.getElementById('t7').style.backgroundColor = "transparent";
            document.getElementById('t8').style.backgroundColor = "transparent";


            document.getElementById('t1').style.color = "white";
            document.getElementById('t2').style.color = "white";
            document.getElementById('t3').style.color = "white";
            document.getElementById('t4').style.color = "white";
            document.getElementById('t5').style.color = "white";
            document.getElementById('t6').style.color = "white";
            document.getElementById('t7').style.color = "white";
            document.getElementById('t8').style.color = "white";



            document.getElementById(p).style.backgroundColor = "white";
            document.getElementById(p).style.color = "gray";
        }    
    </script>
    <style>
        #t1:hover {
            background-color: white;
            color: gray;
        }

    </style>
    <script src="../assets/js/scroll.js"></script>
</body>

</html>
