<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/events.css" />
    <link rel="stylesheet" href="../assets/css/navbar.css" />
    <link rel="stylesheet" href="../assets/css/menu.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" id="concert">


      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="../assets/img/2.jpg" style="width:100%" />
            </div>

            <div class="mySlides fade">
              <img src="../assets/img/5.jpg" style="width:100%" />
            </div>

            <div class="mySlides fade">
              <img src="../assets/img/7.jpg" style="width:100%" />
            </div>
            <div class="mySlides fade">
              <img src="../assets/img/8.jpg" style="width:100%" />
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="theExp">
              Concerts
            </div>
            <div class="theExpTop">
              Concerts
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot" onclick="currentSlide(1)">1</span>
            <span class="dot" onclick="currentSlide(2)">2</span>
            <span class="dot" onclick="currentSlide(3)">3</span>
            <span class="dot" onclick="currentSlide(4)">4</span>
          </div>
        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content fade">
              <h2>Darshan Raval</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laboru Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris
              </p>
            </div>

            <div class="content fade">
              <h2>Lagori</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
            </div>

            <div class="content fade">
              <h2>Zephyrtone</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content fade">
              <h2>The Local Train</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1>Concerts</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1 fade">
              <h2>Darshan Raval</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laboru Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris
              </p>
            </div>

            <div class="content1 fade">
              <h2>Lagori</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
            </div>

            <div class="content1 fade">
              <h2>Zephyrtone</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content1 fade">
              <h2>The Local Train</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <span class="dot1" onclick="currentSlide(1)">1</span>
          <span class="dot1" onclick="currentSlide(2)">2</span>
          <span class="dot1" onclick="currentSlide(3)">3</span>
          <span class="dot1" onclick="currentSlide(4)">4</span>
        </div>
      </div>
    </div>

    <div class="container" id="workshop">
      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="../assets/img/2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <img src="../assets/img/5.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="theExp">
              Workshops
            </div>
            <div class="theExpTop">
              Workshops
            </div>
          </div>
          <br>

          <div style="text-align: center;">
            <span class="dot" onclick="currentSlide(1)">1</span>
            <span class="dot" onclick="currentSlide(2)">2</span>
          </div>

        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content fade">
              <h2>Literature Workshop</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Details will be updated soon.
              </p>
            </div>

            <div class="content fade">
              <h2>Photography Workshop</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Details will be updated soon.
              </p>
            </div>

          </div>

        </div>
      </div>

      <div class="small">
        <h1>Concerts</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1 fade">
              <h2>Darshan Raval</h2>
              <p>
                Details will be updated soon.
              </p>
            </div>

            <div class="content1 fade">
              <h2>Lagori</h2>
              <p>
                Details will be updated soon.
              </p>
            </div>


          </div>

        </div>
        <div style="text-align: center;">
          <span class="dot1" onclick="currentSlide(1)">1</span>
          <span class="dot1" onclick="currentSlide(2)">2</span>
        </div>
      </div>
    </div>

    <div class="container" id="informal">
      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="../assets/img/2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <img src="../assets/img/5.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="theExp">
              Informals
            </div>
            <div class="theExpTop">
              Informals
            </div>
          </div>
          <br>

          <div style="text-align: center;">
            <span class="dot" onclick="currentSlide(1)">1</span>
            <span class="dot" onclick="currentSlide(2)">2</span>
          </div>

        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content fade">
              <h2>Duologue</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Details will be updated soon.
              </p>
            </div>

            <div class="content fade">
              <h2>Quizzinga</h2>
              <p style="overflow: auto;height:15em;width:27%;padding-right: 30px;font-size: 110%;">
                Details will be updated soon.
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="small">
        <h1>Concerts</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1 fade">
              <h2>Duologue</h2>
              <p>
                Details will be updated soon.
              </p>
            </div>

            <div class="content1 fade">
              <h2>Quizzinga</h2>
              <p>
                Details will be updated soon.
              </p>
            </div>
          </div>

        </div>
        <div style="text-align: center;">
          <span class="dot1" onclick="currentSlide(1)">1</span>
          <span class="dot1" onclick="currentSlide(2)">2</span>
        </div>
      </div>
    </div>



    <!-- Footer icons persistant bottom right -->


    <script src="../assets/js/events.js"></script>
    <script src="../assets/js/scroll.js"></script>
  </body>

</html>
