<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta content=http://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>

    <link rel="stylesheet" href="../assets/css/contactUs.css">
    <link rel="stylesheet" href="../assets/css/navbar.css" />
    <link rel="stylesheet" href="../assets/css/menu.css" />
    <link rel="stylesheet" href="../assets/css/events.css" />

    <title>
      Our Events | Vivacity 2020 - Annual Cultural Festival of LNMIIT Jaipur
    </title>
  </head>

  <body>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#concert">Concerts</a></li>
        <li><a href="#workshop">Workshops</a></li>
        <li><a href="#informal">Informals</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <nav>
      <div class="menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar3"></div>
      </div>
      <ul class="nav-links">
        <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                  <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                  <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                          SCHEDULE</a></li>
                  <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

        <li><a class="menuAfterClick1" href="/">Home</a></li>
        <li><a class="menuAfterClick3" href="/templates/competitions.html" target="blank">
            Competitions</a>
        </li>
        <li><a class="menuAfterClick4" href="/templates/events.html" target="blank">
            Events</a>
        </li>
        <li><a class="menuAfterClick2" href="/templates/schedule.html" target="blank">Event
            Schedule</a>
        </li>
        <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html" target="blank">
            Team</a></li>
        <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html" target="blank">
            Sponsor Us</a></li>
        <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>



        <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
        <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                  <li class="menuAfterClick7" class="small-li"><a href="#">SPONSOR US</a></li>
                  <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                  <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                  <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
      </ul>
      <ul class="nav-links-top">

        <li><a class="menuAfterClick6" href="/templates/team.html" target="blank"> Team</a>
        </li>
        <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsor Us</a></li>
      </ul>
      <ul class="nav-links-bottom">
        <li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
        <li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
        <li><a class="menuAfterClick10" href="#"></a></li>
      </ul>
      <div class="nav-links-top-mid">
        <div class="logo">
          <a href="/"><img class="logoimg" src="../assets/svg/svgg.svg">
          </a>
        </div>
      </div>
      <div class="nav-links-bottom-mid">
        <div id="FOOTER-menu">
          <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
            <div class="icons">
              <img src="../assets/svg/facebook_icon.svg" target="blank" />
            </div>
          </a>

          <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
            <div class="icons">
              <img src="../assets/svg/envelope.svg" />
            </div>
          </a>

          <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
            <div class="icons"><img src="../assets/svg/insta.svg" /></div>
          </a>
          <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
            <div class="icons">
              <img src="../assets/svg/youtube.svg" />
            </div>
          </a>
        </div>
        <div class="rectangle-menu">
          <div class="campusam-menu">
            <a href="/templates/ambassadors.html">CAMPUS AMBASSADOR</a>
          </div>
        </div>
      </div>
      <script src="assets/js/menu.js"></script>
    </nav>


    <div>
      <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO">
      </a>
    </div>


    <div class="container" id="concert">

      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">
            <div class="mySlides-A fade">
              <img src="../assets/img/2.jpg" style="width:100%" />
            </div>

            <div class="mySlides-A fade">
              <img src="../assets/img/5.jpg" style="width:100%" />
            </div>

            <div class="mySlides-A fade">
              <img src="../assets/img/7.jpg" style="width:100%" />
            </div>
            <div class="mySlides-A fade">
              <img src="../assets/img/8.jpg" style="width:100%" />
            </div>

            <a class="prev" onclick="plusSlidesA(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesA(1)">&#10095;</a>

            <div class="theExp">
              Concerts
            </div>
            <div class="theExpTop">
              Concerts
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot-A" onclick="currentSlideA(1)">1</span>
            <span class="dot-A" onclick="currentSlideA(2)">2</span>
            <span class="dot-A" onclick="currentSlideA(3)">3</span>
            <span class="dot-A" onclick="currentSlideA(4)">4</span>
          </div>
        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;margin-top: 50px;">
          <div>
            <div class="content-A fade">
              <h2>WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto; height: 50vh; width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laboru
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
              </p>
            </div>

            <div class="content-A fade">
              <h2>WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
            </div>

            <div class="content-A fade">
              <h2>WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content-A fade">
              <h2>WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1 style="padding-top: 2vh;margin-left: -20px;">Concerts</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1-A fade">
              <h2 style="text-align: center;">WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laboru
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
              </p>
            </div>

            <div class="content1-A fade">
              <h2 style="text-align: center;">WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
            </div>

            <div class="content1-A fade">
              <h2 style="text-align: center;">WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content1-A fade">
              <h2 style="text-align: center;">WILL BE REVEALED SOON!!!</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
        <div style="text-align: center; ">
          <span class="dot1-A" onclick="currentSlideA(1)">1</span>
          <span class="dot1-A" onclick="currentSlideA(2)">2</span>
          <span class="dot1-A" onclick="currentSlideA(3)">3</span>
          <span class="dot1-A" onclick="currentSlideA(4)">4</span>
        </div>
      </div>
    </div>

    <div class="container" id="workshop">
      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">
            <div class="mySlides-B fade">
              <img src="../assets/img/workshop1.jpg" style="width:100%;height: 150%;" />
            </div>

            <div class="mySlides-B fade">
              <img src="../assets/img/workshop2.jpg" style="width:100%" />
            </div>

            <a class="prev" onclick="plusSlidesB(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesB(1)">&#10095;</a>

            <div class="theExp">
              Workshops
            </div>
            <div class="theExpTop">
              Workshops
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot-B" onclick="currentSlideB(1)">1</span>
            <span class="dot-B" onclick="currentSlideB(2)">2</span>
          </div>
          <button style="margin-left: 35%;margin-top: 4%; font-size: 15px; padding: 15px;background-color: #ea6262;" onclick="window.open('https://paytm.com/education/Rajasthan/Jaipur/The%20LNM%20Institute%20of%20Information%20Technology%20(LNMIIT)/Vivacity%202020')">
            Register
          </button>
        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;margin-top: 50px;">
          <div>
            <div class="content-B fade">
              <h2>Literature Workshop</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content-B fade">
              <h2>Photography Workshop</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1 style="padding-top: 2vh;margin-left: -20px;">Workshops</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1-B fade">
              <h2 style="text-align: center;">Literature Workshop</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content1-B fade">
              <h2 style="text-align: center;">Photography Workshop</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <span class="dot1-B" onclick="currentSlideB(1)">1</span>
          <span class="dot1-B" onclick="currentSlideB(2)">2</span>
        </div>
      </div>
    </div>

    <div class="container" id="informal">
      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;padding-top: 20px;">
          <div class="slideshow-container">
            <div class="mySlides-C fade">
              <img src="../assets/img/2.jpg" style="width:100%" />
            </div>

            <div class="mySlides-C fade">
              <img src="../assets/img/5.jpg" style="width:100%" />
            </div>

            <a class="prev" onclick="plusSlidesC(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesC(1)">&#10095;</a>

            <div class="theExp">
              Informals
            </div>
            <div class="theExpTop">
              Informals
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot-C" onclick="currentSlideC(1)">1</span>
            <span class="dot-C" onclick="currentSlideC(2)">2</span>
          </div>
        </div>

        <div class="mid" style="width:90%; color: white;">
          <div>
            <div class="content-C fade">
              <h2>Duologue</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content-C fade">
              <h2>Quizzinga</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1 style="padding-top: 2vh;margin-left: -20px;">Informals</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1-C fade">
              <h2 style="text-align: center;">Duologue</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>

            <div class="content1-C fade">
              <h2 style="text-align: center;">Quizzinga</h2>
              <p style="overflow: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.s
              </p>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <span class="dot1-C" onclick="currentSlideC(1)">1</span>
          <span class="dot1-C" onclick="currentSlideC(2)">2</span>
        </div>
      </div>
    </div>

    <div class="container" id="contactUs">
      <div id="contact">
        <div id="heading-contactus">
          Contact Us
        </div>
        <div id="bodyPage-contactus">
          <div>
            <div class="hline-contactus">Khalid M. Khan</div>
            <a href="tel:+917727007427"> +91 77270 07427 </a> <br />
            <a href="mailto:17ucs078@lnmiit.ac.in">
              17ucs078@lnmiit.ac.in
            </a>
            <p id="btn">
              <button id="map" onclick="window.open('http://vivacity.lnmiit.ac.in/templates/team.html')">
                Know More
              </button>
            </p>
          </div>
          <div>
            <div class=" hline-contactus">Damandeep Singh</div>
            <a href="tel:+919602333100"> +91 96023 33100 </a>
            <br />
            <a href="mailto:17ucc019@lnmiit.ac.in">
              17ucc019@lnmiit.ac.in
            </a>
          </div>
          <div>
            <div class="hline-contactus">Get Directions</div>
            <p id="address">
              The LNM Institute of Information Technology, Rupa Ki Nangal,
              Post-Sumel, Via Jamdoli, Jaipur 302031
            </p>
            <p id="btn">
              <button id="map"
                onclick="window.open('https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.9358194,75.9196668,16z/data=!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233')">
                See In Maps
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer icons persistant bottom right -->

    <div class="rectangle brochure">
      <div class="campusam">
        <a href="../../assets/pdf/Viva20Brochure.pdf" target="_blank">Brochure</a>
      </div>
    </div>
    <div id="FOOTER">
      <div class="icons">
        <a href="https://www.facebook.com/Vivacity.LNMIIT">
          <img src="../../assets/svg/facebook_icon.svg" />
        </a>
      </div>
      <div class="icons">
        <a href="mailto:vivacity.thelnmiit@gmail.com">
          <img src="../../assets/svg/envelope.svg" />
        </a>
      </div>
      <div class="icons">
        <a href="https://www.instagram.com/vivacity_lnmiit">
          <img src="../../assets/svg/insta.svg" />
        </a>
      </div>
      <div class="icons">
        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
          <img src="../../assets/svg/youtube.svg" />
        </a>
      </div>
    </div>

    <script src="../assets/js/events.js"></script>

    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/scroll.js"></script>
  </body>

</html>
