<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta content=https://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
  <meta content=https://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
  <meta content=https://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
  <meta content=https://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>
  <link href=/ rel=canonical>
  <link href=https://plus.google.com/113534955956819396086/ rel=publisher>
  <link href=/assets/fav/favicon.ico rel="shortcut icon" type=image/x-icon> <link
    href=https://vivacity.lnmiit.ac.in/assets/fav/apple-touch-icon-60x60.png rel=apple-touch-icon sizes=60x60>
  <link href=/assets/fav/apple-touch-icon-120x120.png rel=apple-touch-icon sizes=120x120>
  <link href=/assets/fav/apple-touch-icon-76x76.png rel=apple-touch-icon sizes=76x76>
  <link href=/assets/fav/apple-touch-icon-152x152.png rel=apple-touch-icon sizes=152x152>
  <link rel="shortcut icon" href="/assets/fav/favicon.ico" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="../assets/css/contactUs.css">
  <link rel="stylesheet" href="../assets/css/navbar.css" />
  <link rel="stylesheet" href="../assets/css/menu.css" />
  <link rel="stylesheet" href="../assets/css/events.css" />
  <link href="../assets/css/loader.css" type="text/css" rel="stylesheet" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

  <title>
    Our Events | Vivacity 2020 - Annual Cultural Festival of LNMIIT Jaipur
  </title>
</head>

<body style="margin:0;padding:0;width:100%;height:100%">
  <div id="loader">
    <img src="../assets/img/bgnd/loader.gif" />
  </div>
  <div id="pages" class="slideUp" style="display:none;">

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#concert">Concerts</a></li>
        <li><a href="#workshop">Workshops</a></li>
        <li><a href="#informal">Fun Events</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <nav>
      <div class="menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar3"></div>
      </div>
      <ul class="nav-links">
        <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                  <li><a class="menuAfterClick3" href="https://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                  <li><a class="menuAfterClick2" href="https://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                          SCHEDULE</a></li>
                  <li><a class="menuAfterClick4" href="https://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

        <li><a class="menuAfterClick1" href="/">Home</a></li>
        <li><a class="menuAfterClick3" href="/templates/competitions.html">
            Competitions</a>
        </li>
        <li><a class="menuAfterClick4" href="/templates/events.html">
            Events</a>
        </li>
        <li><a class="menuAfterClick2" href="/templates/schedule.html">Event
            Schedule</a>
        </li>
        <li><a class="menuAfterClick5" href="https://drive.google.com/file/d/1afNGDStp_Vp95pbWgiF5jznkgSvNvmfy/view"
            target="_blank">Bus
            Schedule</a></li>
        <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html">
            Team</a></li>
        <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html">
            Sponsors</a></li>
        <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>
        <li><a class="menuAfterClick8 menu-hide" href="/templates/faq.html">
            FAQs</a></li>



        <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
        <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                  <li class="menuAfterClick7" class="small-li"><a href="#">Sponsors</a></li>
                  <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                  <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                  <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
      </ul>
      <ul class="nav-links-top">

        <li><a class="menuAfterClick6" href="/templates/team.html"> Team</a>
        </li>
        <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsors</a></li>
      </ul>
      <ul class="nav-links-bottom">
        <li><a class="menuAfterClick8" href="../templates/faq.html">FAQs</a></li>
        <li><a class="menuAfterClick8" href="#"></a></li>
        <li><a class="menuAfterClick9" href="#"></a></li>
        <li><a class="menuAfterClick10" href="../templates/developer.html"></a></li>
      </ul>
      <div class="nav-links-top-mid">
        <div class="logo">
          <a href="/"><img class="logoimg animation" src="../assets/svg/svgg.svg">
          </a>
        </div>
      </div>
      <div class="nav-links-bottom-mid">
        <div id="FOOTER-menu">
          <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/facebook_icon.svg" target="blank" />
            </div>
          </a>

          <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/envelope.svg" />
            </div>
          </a>

          <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
            <div class="icons animation"><img src="../assets/svg/insta.svg" /></div>
          </a>
          <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/youtube.svg" />
            </div>
          </a>
        </div>
        <div class="rectangle-menu">
          <div class="campusam-menu animation">
            <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/">Live
              Updates</a> </div>
        </div>
      </div>
      <script src="assets/js/menu.js"></script>
    </nav>


    <div>
      <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO animation">
      </a>
    </div>


    <div class="container" id="concert">

      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">
            <div class="mySlides-A fade">
              <img src="../assets/img/events/5.jpeg" style="width:100%; height:430px;">
            </div>


            <div class="mySlides-A fade">
              <img src="../assets/img/events/2.jpeg" style="width:100%; height:430px;">
            </div>


            <div class="mySlides-A fade">
              <img src="../assets/img/events/julia.jpeg" style="width:100%; height:430px;">
            </div>

            <div class="mySlides-A fade">
              <img src="../assets/img/events/yellow.jpeg" style="width:100%; height:430px;">
            </div>

            <div class="mySlides-A fade">
              <img src="../assets/img/events/innayat.jpeg" style="width:100%; height:430px;">
            </div>

            <a class="prev" onclick="plusSlidesA(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesA(1)">&#10095;</a>

            <div class="theExp">
              Concerts
            </div>
            <div class="theExpTop">
              Concerts
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot-A animation" onclick="currentSlideA(1)">1</span>
            <span class="dot-A animation" onclick="currentSlideA(2)">2</span>
            <span class="dot-A animation" onclick="currentSlideA(3)">3</span>
            <span class="dot-A animation" onclick="currentSlideA(4)">4</span>
            <span class="dot-A animation" onclick="currentSlideA(5)">5</span>
          </div>
        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;margin-top: 40px;">
          <div>

            <div class="content-A fade">
              <h1 style="padding-top: 1.5em; font-size: 3em;">Jubin Nautiyal</h1>
              <!-- <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                From singing along to 'Tujhe Kitna Chahne' to tapping your feet to 'The Humma Song', we have all had
                our Jubin Nautiyal moments. Vivacity, in association with Gaana, is proud to announce its main stage
                artist of the last day, Jubin Nautiyal. Come sing your hearts out, next to your friends with your
                flashlights out.
              </p> -->

              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="margin-left: 10%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>
                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>


            <div class="content-A fade">
              <h1 style="padding-top: 1.5em; font-size: 3em;">Nishant Suri</h1>
              <!-- <p style="overflow: auto; height: 50vh; width:27%;padding-right: 30px;font-size: 95%;">
                A smile is a curve that sets everything straight. – Phyllis Diller
                .<br>
                There is no expression purer than laughter accompanied by the sparkle you find in those eyes.
                Live the glee this Vivacity in the Stand Up show by none other than the winner of Amazon Prime Video's
                Comicstaan and the man behind trending comedy bits on YouTube, Nishant Suri!! <a
                  href="https://www.instagram.com/nishantsuri11/" target="_blank">@nishantsuri11</a>.
                .<br>
                Special thanks to <a href="https://www.instagram.com/gaana/" target="_blank">@gaana</a><br>
                <a href="https://www.instagram.com/spectal.management/" target="_blank">@spectal.management</a>
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="margin-left: 10%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>
                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>


            <div class="content-A fade">
              <h1 style="padding-top: 1.5em; font-size: 3em;">Julia Bliss</h1>
              <!-- <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                We're all set to get you groovin' with <a href="https://www.instagram.com/juliabliss/" target="_blank">@juliabliss</a> to dance the night away on the evening of 31st January in Vivacity 2k20.! 
                <br>
                Supercharge your festive vibes with our Sunburn DJ Julia Bliss and gear up for an absolute treat with <a href="https://www.instagram.com/Vh1Supersonic/" target="_blank">@Vh1Supersonic</a>.
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="margin-left: 10%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>
                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="content-A fade">
              <h1 style="padding-top: 1.5em; font-size: 2.5em;color: white;">The Yellow Diary</h1>
              <!-- <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Words can dig deep through the walls people build around their hearts and that combined with a soulful voice that has experienced the subtle playfulness of life can create the comfort for you to lie upon. This Vivacity, give in to the trance with The Yellow Diary. Stay Vivacious!
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="margin-left: 10%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>
                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="content-A fade">
              <h1 style="padding-top: 1.5em; font-size: 3em;color: white;">Innayat</h1>
              <!-- <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Life is about finding comfort in the smallest of things and this Vivacity, we bring to you Innayat, a hindi rock fusion band, whose performances hit a little too close to home.
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="margin-left: 10%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>
                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1 style="padding-top: 2vh;margin-left: -20px;">Concerts</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>

            <div class="content1-A fade">
              <h2 style="text-align: center;">Jubin Nautiyal</h2>
              <!-- <p style="overflow: auto;font-size: 95%;">
                From singing along to 'Tujhe Kitna Chahne' to tapping your feet to 'The Humma Song', we have all had
                our Jubin Nautiyal moments. Vivacity, in association with Gaana, is proud to announce its main stage
                artist of the last day, Jubin Nautiyal. Come sing your hearts out, next to your friends with your
                flashlights out.
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;margin-left: 10%;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="text-align:center;
            margin-left: 40%;margin-top: 0%; margin-bottom:2em;font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>
                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>


            <div class="content1-A fade">
              <h2 style="text-align: center;">Nishant Suri</h2>
              <!-- <p style="overflow: auto;font-size: 95%;">
                A smile is a curve that sets everything straight. – Phyllis Diller
                .
                There is no expression purer than laughter accompanied by the sparkle you find in those eyes.
                Live the glee this Vivacity in the Stand Up show by none other than the winner of Amazon Prime Video's
                Comicstaan and the man behind trending comedy bits on YouTube, Nishant Suri!! <a
                  href="https://www.instagram.com/nishantsuri11/" target="_blank">@nishantsuri11</a>
                .
                Special thanks to @gaana
                @spectal.management
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;margin-left: 10%;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="text-align:center;
            margin-left: 40%;margin-top: 0%; margin-bottom:2em;font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>

                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>


            <div class="content1-A fade">
              <h2 style="text-align: center;">Julia Bliss</h2>
              <!-- <p style="overflow: auto;font-size: 95%;">
                We're all set to get you groovin' with @juliabliss to dance the night away on the evening of 31st January in Vivacity 2k20.! 
                <br>
                Supercharge your festive vibes with our Sunburn DJ Julia Bliss and gear up for an absolute treat with @Vh1Supersonic and @Vh1SupersonicCollege101.
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;margin-left: 10%;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="text-align:center;
            margin-left: 40%;margin-top: 0%; margin-bottom:2em;font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>

                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>

            </div>

            <div class="content1-A fade">
              <h2 style="text-align: center;">The Yellow Diary</h2>
              <!-- <p style="overflow: auto;font-size: 95%;">
                Words can dig deep through the walls people build around their hearts and that combined with a soulful voice that has experienced the subtle playfulness of life can create the comfort for you to lie upon. This Vivacity, give in to the trance with The Yellow Diary. Stay Vivacious!
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;margin-left: 10%;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="text-align:center;
            margin-left: 40%;margin-top: 0%; margin-bottom:2em;font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>

                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <div class="content1-A fade">
              <h2 style="text-align: center;">Innayat</h2>
              <!-- <p style="overflow: auto;font-size: 95%;">
                Life is about finding comfort in the smallest of things and this Vivacity, we bring to you Innayat, a hindi rock fusion band, whose performances hit a little too close to home.
              </p> -->
              <div
                style="color: rgb(245, 42, 42);font-size: 1.7em;font-weight: bold;text-align:center; padding-top:50px;padding-bottom: 20px;margin-left: 10%;">
                Special Offer on Passes
              </div>
              <button id="conbut" class="trigger" href="javascript:;"
                style="text-align:center;
            margin-left: 40%;margin-top: 0%; margin-bottom:2em;font-size: 15px;height: 38px;background-color: transparent;">
                GRAB IT NOW
              </button>

              <div class="modal-wrapper">
                <div class="modal" style="background-color:white;">
                  <div class="head" style="background-color:white;">
                    <a class="btn-close trigger" href="javascript:;"></a>
                  </div>

                  <div class="content" style="background-color:white;color: black;font-size: 20px;font-weight: bold;">
                    ❖ <span>Buy single ticket(Rs 400 only)</span>
                    <br>
                    ❖ <span style="padding-top: 20px;"> Special Offer- </span><br><span
                      style="font-size: 20px;font-weight: bold;color: red;">Buy 4 tickets and get 1 Free(Rs 1600
                      only)</span>
                  </div>

                  <div style="color: red; text-align: center;font-size: 20px;font-weight: bold;padding-top: 50px;">DM
                    for Passes<br>
                    <button id="conbut1"
                      style="margin-left: 0%;margin-top: 0%; font-size: 15px;height: 38px;background-color: transparent;"
                      onclick="window.open('https://api.whatsapp.com/send?phone=918966838333&text=&source=&data=')">
                      Click Here!
                    </button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div style="text-align: center; ">
          <span class="dot1-A" onclick="currentSlideA(1)">1</span>
          <span class="dot1-A" onclick="currentSlideA(2)">2</span>
          <span class="dot1-A" onclick="currentSlideA(3)">3</span>
          <span class="dot1-A" onclick="currentSlideA(4)">4</span>
          <span class="dot1-A" onclick="currentSlideA(5)">5</span>
        </div>
      </div>
    </div>

    <div class="container" id="workshop">
      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;">
          <div class="slideshow-container">
            <div class="mySlides-B fade">
              <img src="../assets/img/events/workshop1.jpeg" style="width:100%;height: 400px;" />
            </div>

            <div class="mySlides-B fade">
              <img src="../assets/img/events/photowork.jpeg" style="width:100%;height: 400px;" />
            </div>

            <a class="prev" onclick="plusSlidesB(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesB(1)">&#10095;</a>

            <div class="theExp">
              Workshops
            </div>
            <div class="theExpTop">
              Workshops
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot-B animation" onclick="currentSlideB(1)">1</span>
            <span class="dot-B animation" onclick="currentSlideB(2)">2</span>
          </div>
          <button id="events-btn" class="animation"
            style="margin-left: 35%;margin-top: 4%; font-size: 15px;height: 30px;background-color: transparent;"
            onclick="window.open('https://paytm.com/education/Rajasthan/Jaipur/The%20LNM%20Institute%20of%20Information%20Technology%20(LNMIIT)/Vivacity%202020')">
            Register
          </button>
        </div>

        <div class="mid" style="width:90%; color: white;height: 100%;margin-top: 20px;">
          <div>
            <div class="content-B fade">
              <h2>The Scribbled Stories Workshop</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                The posts that you've posted on your stories at 3 am at night thinking about how relatable they are,
                the
                posts you've sent to people close to you to remind them how much they mean to you, and the posts that
                managed to put your everyday things perfectly into a string of few words, everything you've found it
                on
                this one single account:<a href="https://www.instagram.com/thescribbledstories/"
                  target="_blank">@thescribbledstories</a>
                <br><br>
                We're proud to announce that Scribbled Stories is organising a workshop on the different kinds of
                micro-tales that everyone thinks about but have a hard time when it comes to putting them into words.
                Vivacity waits for you to scribble your thoughts out here and who knows, you could be looking at your
                OWN post on The Scribbled Stories by the end of the day.

                <br><br>
                Date: February 2nd, 2020<br>
                Venue: LT-9, The LNMIIT, Jaipur<br>
                Early Bird Registration Fee: INR 250/-<br><br>

                Contact Us<br>
                Rohan Gupta: <a href="tel:+919829661751">+919829661751</a><br>
                Arya Shrivastava:<a href="tel:+916378879437">+916378879437</a><br>
              </p>
            </div>

            <div class="content-B fade">
              <h2>Photography Workshop</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Vivacity'20 is gonna be amazing for all the photogs round here.<br>
                Join us for this pure photographic inspiration at <a href="https://www.instagram.com/vivacity_lnmiit/"
                  target="_blank">@vivacity_lnmiit</a> taught by the renowned and established Photographer Sir Ganesh
                Vanare , as known as <a href="https://www.instagram.com/haram_khor_/" target="_blank">@haram_khor_</a>
                . After the workshop you'll be able to analyse and judge the factors that influence an image and
                figure the right composition.
                <br><br>
                Thankyou <a href="https://www.instagram.com/skyviksigni/" target="_blank">@skyviksigni</a> for the
                amazing giveaways!
                <br><br>
                Date: 31st January, 2020<br>
                Venue: LNMIIT, JAIPUR<br>
                <br>
                Event Coordinator<br>
                Akagra Gupta: <a href="tel:+918209637492">+918209637492</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1 style="padding-top: 2vh;margin-left: -20px;">Workshops</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1-B fade">
              <h2 style="text-align: center;padding-left: 27px;">The Scribbled Stories Workshop</h2>
              <p style="overflow: auto; font-size: 95%;">
                The posts that you've posted on your stories at 3 am at night thinking about how relatable they are,
                the
                posts you've sent to people close to you to remind them how much they mean to you, and the posts that
                managed to put your everyday things perfectly into a string of few words, everything you've found it
                on
                this one single account: <a href="https://www.instagram.com/thescribbledstories/"
                  target="_blank">@thescribbledstories</a>
                <br><br>
                We're proud to announce that Scribbled Stories is organising a workshop on the different kinds of
                micro-tales that everyone thinks about but have a hard time when it comes to putting them into words.
                Vivacity waits for you to scribble your thoughts out here and who knows, you could be looking at your
                OWN post on The Scribbled Stories by the end of the day.

                <br><br>
                Date: February 2nd, 2020<br>
                Venue: LT-9, The LNMIIT, Jaipur<br>
                Early Bird Registration Fee: INR 250/-<br><br>

                Contact Us<br>
                Rohan Gupta: <a href="tel:+919829661751">+919829661751</a><br>
                Arya Shrivastava: <a href="tel:+916378879437">+916378879437</a><br>
              </p>
            </div>

            <div class="content1-B fade">
              <h2 style="text-align: center;">Photography Workshop</h2>
              <p style="overflow: auto;font-size: 95%;">
                Vivacity'20 is gonna be amazing for all the photogs round here.<br>
                Join us for this pure photographic inspiration at <a href="https://www.instagram.com/vivacity_lnmiit/"
                  target="_blank">@vivacity_lnmiit</a> taught by the renowned and established Photographer Sir Ganesh
                Vanare , as known as <a href="https://www.instagram.com/haram_khor_/" target="_blank">@haram_khor_</a>
                . After the workshop you'll be able to analyse and judge the factors that influence an image and
                figure the right composition.
                <br><br>
                Thankyou <a href="https://www.instagram.com/skyviksigni/" target="_blank">@skyviksigni</a> for the
                amazing giveaways!
                <br><br>
                Date: 31st January, 2020<br>
                Venue: LNMIIT, JAIPUR<br>
                <br>
                Event Coordinator<br>
                Akagra Gupta: <a href="tel:+918209637492">+918209637492</a>
              </p>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <span class="dot1-B" onclick="currentSlideB(1)">1</span>
          <span class="dot1-B" onclick="currentSlideB(2)">2</span>
        </div>
        <button class="animation"
          style="margin-left: 35%;margin-top: 1%; font-size: 15px; padding: 15px;background-color: #ea6262;"
          onclick="window.open('https://paytm.com/education/Rajasthan/Jaipur/The%20LNM%20Institute%20of%20Information%20Technology%20(LNMIIT)/Vivacity%202020')">
          Register
        </button>
      </div>
    </div>

    <div class="container" id="informal">
      <div id="flex-container">
        <div class="mid" id="pic" style="margin-left:10%;width: 40%;float: left;margin-right: 10%;padding-top: 20px;">
          <div class="slideshow-container">
            <div class="mySlides-C fade">
              <img src="../assets/img/events/duologue.jpg" style="width:100%" />
            </div>

            <div class="mySlides-C fade">
              <img src="../assets/img/events/spelling-bee.jpg" style="width:100%" />
            </div>

            <div class="mySlides-C fade">
              <img src="../assets/img/events/pictionary.jpg" style="width:100%" />
            </div>

            <a class="prev" onclick="plusSlidesC(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesC(1)">&#10095;</a>

            <div class="theExp">
              Fun Events
            </div>
            <div class="theExpTop">
              Fun Events
            </div>
          </div>
          <br />

          <div style="text-align: center;">
            <span class="dot-C animation" onclick="currentSlideC(1)">1</span>
            <span class="dot-C animation" onclick="currentSlideC(2)">2</span>
            <span class="dot-C animation" onclick="currentSlideC(3)">3</span>
          </div>
        </div>

        <div class="mid" style="width:90%; color: white;margin-top: 50px;">
          <div>
            <div class="content-C fade">
              <h2>Duologue</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                Go beyond the boundaries of physical judgment to discover the person behind the blindfold and make
                friends and connections amongst each other. We intend to provide a platform to explore thoughts, the
                being(s) and themselves. Conversation plays a potential part in the creation of an interpersonal
                connection and we aspire to foster this spirit of friendship and storytelling.Come and explore
                yourself!
              </p>
            </div>

            <div class="content-C fade">
              <h2>Spell Bee</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                The Literary Committee gives you an opportunity to check your efficiency and excellence in English.
                Spelling bee gives a chance to show you prowess in English by spelling out words given to you. Answers
                will be many but the correct one wins it all.
              </p>
            </div>

            <div class="content-C fade">
              <h2>Pictionary</h2>
              <p style="overflow: auto;height: 50vh;width:27%;padding-right: 30px;font-size: 95%;">
                A chance to flaunt your drawing skills or show an unnatural talent of understanding your partner
                without
                him/her exchanging any words. The Literary Committee gives you an excellent opportunity to express
                your
                thoughts through art and enjoy in a free to participate fun event that lets you put your connect with
                your partner at test. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="small">
        <h1 style="padding-top: 2vh;margin-left: -20px;">Fun Events</h1>
        <div class="mid1" style="width:90%; color: white;height: 100%;">
          <div>
            <div class="content1-C fade">
              <h2 style="text-align: center;">Duologue</h2>
              <p style="overflow: auto;font-size: 95%;">
                Go beyond the boundaries of physical judgment to discover the person behind the blindfold and make
                friends and connections amongst each other. We intend to provide a platform to explore thoughts, the
                being(s) and themselves. Conversation plays a potential part in the creation of an interpersonal
                connection and we aspire to foster this spirit of friendship and storytelling.Come and explore
                yourself!
              </p>
            </div>

            <div class="content1-C fade">
              <h2 style="text-align: center;">Spell Bee</h2>
              <p style="overflow: auto;font-size: 95%;">
                The Literary Committee gives you an opportunity to check your efficiency and excellence in English.
                Spelling bee gives a chance to show you prowess in English by spelling out words given to you. Answers
                will be many but the correct one wins it all.
              </p>
            </div>

            <div class="content1-C fade">
              <h2 style="text-align: center;">Pictionary</h2>
              <p style="overflow: auto;font-size: 95%;">
                A chance to flaunt your drawing skills or show an unnatural talent of understanding your partner
                without
                him/her exchanging any words. The Literary Committee gives you an excellent opportunity to express
                your
                thoughts through art and enjoy in a free to participate fun event that lets you put your connect with
                your partner at test. </p>
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <span class="dot1-C" onclick="currentSlideC(1)">1</span>
          <span class="dot1-C" onclick="currentSlideC(2)">2</span>
          <span class="dot1-C" onclick="currentSlideC(3)">3</span>
        </div>
      </div>
    </div>

    <div class="container" id="contactUs">
      <div id="contact">
        <div id="heading-contactus">
          Contact Us
        </div>
        <div id="bodyPage-contactus">
          <div>
            <div class="hline-contactus">Jatin Aggarwal</div>
            <a href="tel:+917877856296"> +91 78778 56296 </a> <br />
            <a href="mailto:17ume028@lnmiit.ac.in">
              17ume028@lnmiit.ac.in
            </a>
            <p id="btn">
              <button id="map" onclick="window.location.replace('team.html')">
                Know More
              </button></a>
            </p>
          </div>
          <div>
            <div class="hline-contactus">Vinay Bohra</div>
            <a href="tel:+919166006162"> +91 82330 85933 </a>
            <br />
            <a href="mailto:17ume064@lnmiit.ac.in">
              17ume064@lnmiit.ac.in
            </a>
          </div>
          <div>
            <div class="hline-contactus">Get Directions</div>
            <p>
              LNM Institute of Information Technology, Rupa Ki Nangal,
              Post-Sumel, Via Jamdoli, Jaipur 302031
            </p>
            <p id="btn">
              <button id="map"
                onclick="window.open('https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.9358194,75.9196668,16z/data=!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233')">
                See In Maps
              </button></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer icons animation persistant bottom right -->

    <div class="rectangle brochure animation">
      <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/" target="_blank">
        <div class="campusam">
          LIVE UPDATES
        </div>
      </a>
    </div>
    <div id="FOOTER">
      <div class="icons animation">
        <a href="https://www.facebook.com/Vivacity.LNMIIT">
          <img src="../../assets/svg/facebook_icon.svg" />
        </a>
      </div>
      <div class="icons animation">
        <a href="mailto:vivacity.thelnmiit@gmail.com">
          <img src="../../assets/svg/envelope.svg" />
        </a>
      </div>
      <div class="icons animation">
        <a href="https://www.instagram.com/vivacity_lnmiit">
          <img src="../../assets/svg/insta.svg" />
        </a>
      </div>
      <div class="icons animation">
        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
          <img src="../../assets/svg/youtube.svg" />
        </a>
      </div>
    </div>
  </div>


  <script src="../assets/js/events.js"></script>

  <script src="../assets/js/menu.js"></script>
  <script src="../assets/js/scroll.js"></script>
  <script>

    var timeout;
    window.onload = function loader() {
      console.log("Hello");
      timeout = setTimeout(showPage, 30);
    }
    function showPage() {
      document.getElementById("loader").classList.add("loaded");
      document.getElementById("pages").style.display = "block";

    }
  </script>
  <script>
    $(document).ready(function () {
      $('.trigger').click(function () {
        $('.modal-wrapper').toggleClass('open');
        return false;
      });
    });
  </script>

</body>

</html>