<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content=https://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
    <meta content=https://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
    <meta content=https://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
    <meta content=https://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>
    <link href=/ rel=canonical>
    <link href=https://plus.google.com/113534955956819396086/ rel=publisher>
    <link href=/assets/fav/favicon.ico rel="shortcut icon" type=image/x-icon> <link
        href=https://vivacity.lnmiit.ac.in/assets/fav/apple-touch-icon-60x60.png rel=apple-touch-icon sizes=60x60>
    <link href=/assets/fav/apple-touch-icon-120x120.png rel=apple-touch-icon sizes=120x120>
    <link href=/assets/fav/apple-touch-icon-76x76.png rel=apple-touch-icon sizes=76x76>
    <link href=/assets/fav/apple-touch-icon-152x152.png rel=apple-touch-icon sizes=152x152>
    <link rel="shortcut icon" href="/assets/fav/favicon.ico" />
    <link rel="icon" type="image/png" href="/assets/svg/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/svg/favicon-16x16.png" sizes="16x16" />

    <title>FAQs | Vivacity 2020 - Annual Cultural Festival of LNMIIT Jaipur</title>
    <!-- CSS Files
        <link rel="stylesheet"  type="text/css" href="branding.css">
        <link rel="stylesheet" type="text/css" href="nav.css">
        <link rel="stylesheet"  type="text/css" href="menu.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/css/theExperience.css"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/contactUs.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/bamboozled.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/faq.css">
    <link href="../assets/css/loader.css" type="text/css" rel="stylesheet" />


    <!-- Font Files -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body style="margin:0;padding:0;width:100%;height:100%">
    <div id="loader">
        <img src="../assets/img/bgnd/loader.gif" />
    </div>
    <div id="pages" class="slideUp" style="display:none;">

        <!-- NAVBAR -->

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="#">All FAQs</a></li>
            </ul>
        </nav>
        <!-- MENU    -->
        <nav>
            <div class="menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar3"></div>
            </div>
            <ul class="nav-links">
                <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                    <li><a class="menuAfterClick3" href="https://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                    <li><a class="menuAfterClick2" href="https://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                            SCHEDULE</a></li>
                    <li><a class="menuAfterClick4" href="https://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

                <li><a class="menuAfterClick1" href="/">Home</a></li>
                <li><a class="menuAfterClick3" href="/templates/competitions.html">
                        Competitions</a>
                </li>
                <li><a class="menuAfterClick4" href="/templates/events.html">
                        Events</a>
                </li>
                <li><a class="menuAfterClick2" href="/templates/schedule.html">Event
                        Schedule</a>
                </li>
                <li><a class="menuAfterClick5"
                        href="https://drive.google.com/file/d/1afNGDStp_Vp95pbWgiF5jznkgSvNvmfy/view"
                        target="_blank">Bus
                        Schedule</a></li>
                <li><a class="menuAfterClick6 menu-hide" href="/templates/team.html">
                        Team</a></li>
                <li><a class="menuAfterClick7 menu-hide" href="/templates/sponsors.html">
                        Sponsors</a></li>
                <li><a class="menuAfterClick8 menu-hide" href="#contactus"></a></li>
                <li><a class="menuAfterClick8 menu-hide" href="/templates/faq.html">
                        FAQs</a></li>



                <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
                <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                    <li class="menuAfterClick7" class="small-li"><a href="#">Sponsors</a></li>
                    <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                    <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                    <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
            </ul>
            <ul class="nav-links-top">

                <li><a class="menuAfterClick6" href="/templates/team.html">Our Team</a>
                </li>
                <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsors</a></li>
            </ul>
            <ul class="nav-links-bottom">
                <li><a class="menuAfterClick8" href="faq.html">FAQs</a></li>
                <li><a class="menuAfterClick8" href="#"></a></li>
                <li><a class="menuAfterClick9" href="#"></a></li>
                <li><a class="menuAfterClick10" href="../templates/developer.html"></a></li>
            </ul>
            <div class="nav-links-top-mid">
                <div class="logo">
                    <img class="logoimg" src="../assets/svg/svgg.svg">
                </div>
                <div class="nav-links-bottom-mid">
                    <div id="FOOTER-menu">
                        <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
                            <div class="icons">
                                <img src="../assets/svg/facebook_icon.svg" target="blank" />
                            </div>
                        </a>

                        <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
                            <div class="icons">
                                <img src="../assets/svg/envelope.svg" />
                            </div>
                        </a>

                        <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
                            <div class="icons"><img src="../assets/svg/insta.svg" /></div>
                        </a>
                        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
                            <div class="icons">
                                <img src="../assets/svg/youtube.svg" />
                            </div>
                        </a>
                    </div>
                    <div class="rectangle-menu">
                        <div class="campusam-menu">
                            <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/">Live
                                Updates</a> </div>
                    </div>
                </div>
                <script src="../assets/js/menu.js"></script>
        </nav>

        <div class="container">

            <!-- MAIN PAGE LAYOUT -->
            <div>
                <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO animation" /> </a>
            </div>

            <h1 class="heading-competitions">FAQs</h1>

            <div class="whole">
                <!-- GRID1  -->
                <div class="grid-container1">
                    <a href="#tangle">
                        <div id="t1" class="grid-item" style="margin-bottom: 2%;">Accomodation</div>
                    </a>
                    <a href="#mudra">
                        <div id="t2" class="grid-item" style="margin-bottom: 2%;">Registration</div>
                    </a>
                    <a href="#pumpitup">
                        <div id="t3" class="grid-item" style="margin-bottom: 2%;">Concerts & Passes</div>
                    </a>
                    <!-- </div> -->
                    <!--GRID 2-->
                    <!--< div class="grid-container2"> -->
                    <a href="#razmataz">
                        <div id="t5" class="grid-item">Campus Facilities</div>
                    </a>
                    <a href="#stage">
                        <div id="t6" class="grid-item">How To Reach</div>
                    </a>
                    <a href="#outlaw">
                        <div id="t7" class="grid-item">Contact</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container" id="tangle">
            <div class="heading">
                Accomodation FAQs
            </div>
            <div id="cont">
                <div id="desc">
                    <a onclick="show('acc1');" class="ht">
                        Can I register, but not take accommodation?
                    </a><br>
                    <a id="acc1" style="display: none;" class="lt">
                        The registration amount remains unchanged in both the cases. It is advisable to avail the
                        accommodation facility since there is no other mode of accommodation available in the campus
                        during the fest.
                    </a><br>
                    <a onclick="show('acc2');" class="ht">
                        Will all the team members be given accommodation at the same place?
                    </a><br>
                    <a id="acc2" style="display: none;" class="lt">
                        We will try but there is no surety for the same.
                    </a><br>
                    <a onclick="show('acc3');" class="ht">
                        What are the accomodation charges?
                    </a><br>
                    <a id="acc3" style="display: none;" class="lt">
                        For every registered individual, the accomodation charge is : ₹150 (One Day), ₹250 (Two
                        Days)
                        and ₹350(Three Days), without meal.
                        The above charge may subject to change. The accomodation charge is to be paid at the
                        registration desk.
                    </a><br>
                    <a onclick="show('acc4');" class="ht">
                        Where will the accommodation be provided?
                    </a><br>
                    <a id="acc4" style="display: none;" class="lt">
                        Accommodation will be provided to boys and girls in well-secured hostels on the campus of
                        LNMIIT.
                    </a><br>
                    <a onclick="show('acc5');" class="ht">
                        What is the procedure to be followed after we reach LNMIIT?
                    </a><br>
                    <a id="acc5" style="display: none;" class="lt">
                        You need to come to the Registration Desk, Main Gate along with your college identity card. You
                        will be allotted your place to stay on campus and given a registration booklet.
                    </a><br>
                </div>
            </div>
        </div>

        <div class="container" id="mudra">
            <div class="heading">
                Registration FAQs
            </div>
            <div id="cont">
                <div id="desc">
                    <a onclick="show('reg1');" class="ht">
                        What are the registration charges?
                    </a><br>
                    <a id="reg1" style="display: none;" class="lt">
                        The registration charges and other necessary details regarding the payment are available under
                        the tab "Register" of all specific events at https://vivacity.lnmiit.ac.in.
                    </a><br>
                    <a onclick="show('reg2');" class="ht">
                        Can I register, but not take accommodation?
                    </a><br>
                    <a id="reg2" style="display: none;" class="lt">
                        The registration amount remains unchanged in both the cases. It is advisable to avail the
                        accommodation facility since there is no other mode of accommodation available in the campus
                        during the fest.
                    </a><br>
                    <a onclick="show('reg3');" class="ht">
                        I want to attend fun/informal events only. Will I have to pay the whole registration fee?
                    </a><br>
                    <a id="reg3" style="display: none;" class="lt">
                        No, you have to pay only for the events. Only if any fun/informal events(excluding concerts)
                        have charges then you have to pay for that specific event, otherwise it's free! In case you want
                        to attend concerts, you need to have a Vivacity pass.
                    </a><br>
                    <a onclick="show('reg4');" class="ht">
                        What is the payment procedure for registration of any events?
                    </a><br>
                    <a id="reg4" style="display: none;" class="lt">
                        The payment procedure will be online and offline as well. Those who have been shortlisted, will
                        be sent an email. You will have to report at the registration desk with the payment receipt
                        print out and the mandatory documents. Failing to bring any of the documents may lead to
                        cancellation of your participation. The documents are: College ID card. Printout of the receipt
                        of payment. For Offline payment: Those participants who haven't paid the amount online also have
                        a chance to pay offline for on spot registrations for the events but that completely depend on
                        availability of seats.
                    </a><br>
                    <a onclick="show('reg5');" class="ht">
                        How will I get to know about timings and venues for the events during Vivacity?
                    </a><br>
                    <a id="reg5" style="display: none;" class="lt">
                        You will be given a registration booklet that will have all the timings of all the events and
                        their venues. You can also tune to our Vivacity app for live updates.
                    </a><br>
                </div>
            </div>
        </div>

        <div class="container" id="pumpitup">
            <div class="heading">
                Concerts & Passes FAQs
            </div>
            <div id="cont">
                <div id="desc">
                    <a onclick="show('cp1');" class="ht">
                        What things are not allowed in the concert?
                    </a><br>
                    <a id="cp1" style="display: none;" class="lt">
                        Cosmetics, pointed objects like scissors, knives, etc are not allowed. Make sure you bring your
                        friends along, though! There are arrangements inside for water, along with a food court. So
                        there won’t be any need to carry water! You cannot carry your own food items. However, you can
                        buy food from food courts inside the concert area.
                    </a><br>
                    <a onclick="show('cp2');" class="ht">
                        Do I need passes to attend ProShows/Competitions/Informal/Concert Events?
                    </a><br>
                    <a id="cp2" style="display: none;" class="lt">
                        Vivacity will provide you with a booklet and a band as soon as you enter the campus which has to
                        be collected from the registration desk at the main gate. This Booklet and band will act as a
                        pass to all the events other than concerts for non-accommodation holders. For accommodation
                        holders, Vivacity will provide you with a separate booklet and a band and they will act as a
                        pass to all the events including concerts.
                    </a><br>
                    <a onclick="show('cp3');" class="ht">
                        Am I eligible to attend a concert?
                    </a><br>
                    <a id="cp3" style="display: none;" class="lt">
                        Anyone having a Vivacity pass is eligible to attend a concert.
                    </a><br>
                    <a onclick="show('cp4');" class="ht">
                        How can I attend concerts?
                    </a><br>
                    <a id="cp4" style="display: none;" class="lt">
                        You need to collect passes from the Registration desk.
                    </a><br>
                    <a onclick="show('cp5');" class="ht">
                        Can I get passes for my friends by providing their IDs?
                    </a><br>
                    <a id="cp5" style="display: none;" class="lt">
                        No, you will get a pass only on your own ID.
                    </a><br>
                </div>
            </div>
        </div>

        <div class="container" id="razmataz">
            <div class="heading">
                Campus Facilities FAQs
            </div>
            <div id="cont">
                <div id="desc">
                    <a onclick="show('cf1');" class="ht">
                        What are the food facilities inside the campus?
                    </a><br>
                    <a id="cf1" style="display: none;" class="lt">
                        There are food stalls available in the arena as long as it's open. Apart from this, there is the
                        campus mess as well as various eateries and canteens in the campus where food is available at
                        subsidized rates.
                    </a><br>
                    <a onclick="show('cf2');" class="ht">
                        What about the hospital facility?
                    </a><br>
                    <a id="cf2" style="display: none;" class="lt">
                        There is an institute Medical Unit located near the SAC. In case you fall ill, you are advised
                        to report to us at accommodation desk. We shall make appropriate arrangements for you to be
                        treated at the Medical unit. We shall also be carrying a first aid kit with us, at the
                        accommodation desk.
                    </a><br>
                    <a onclick="show('cf3');" class="ht">
                        Are there ATMs inside the campus?
                    </a><br>
                    <a id="cf3" style="display: none;" class="lt">
                        There is one ICICI Bank ATM inside the campus.
                    </a><br>
                </div>
            </div>
        </div>
        <div class="container" id="stage">
            <div class="heading">
                How To Reach FAQs
            </div>
            <div id="cont">
                <div id="desc">
                    <a onclick="show('htr1');" class="ht">
                        How can we reach to the event?
                    </a><br>
                    <a id="htr1" style="display: none;" class="lt">
                        VIVACITY takes place in The LNM Institute of Information Technology (LNMIIT) campus in Jaipur
                        (state of Rajasthan).
                        <br>
                        By Air
                        The LNM Institute of Information Technology campus is at a distance of approximately 22km from
                        the airport. LNMIIT has its own transportation facilities to ply to and fro from LNMIIT campus
                        to Jaipur city which starts from Ajmeri Gate, Raja Park, Pink Square mall, Jaipur city. Ajmeri
                        Gate is approximately 3.3km from Jaipur Railway station. Prepaid cabs are available from the
                        airport to the campus.
                        <br>
                        By Rail
                        The LNM Institute of Information Technology campus is at a distance of a approximately 18km from
                        the Jaipur railway station. LNMIIT has its own transportation facilities to ply to and fro from
                        LNMIIT campus to Jaipur city which starts from Ajmeri Gate, Raja Park, Pink Square mall, Jaipur
                        city. Ajmeri Gate is approximately 3.3km from Jaipur Railway station. Prepaid cabs are available
                        from the Railway station to the campus.
                    </a><br>
                </div>
            </div>
        </div>

        <div class="container" id="outlaw">
            <div class="heading">
                Contact FAQs
            </div>
            <div id="cont">
                <div id="desc">
                    <a onclick="show('ctct1');" class="ht">
                        Who should I contact in case of an emergency during VIVACITY?
                    </a><br>
                    <div id="ctct1" style="display: none;" class="lt">
                        You can contact anyone present on the registration desk and/or the following contacts:<br>
                        1. Divyanshu Gera: &nbsp; <a href="tel:+917976645013"> +91 79766 45013 </a><br>
                        2. Khalid M. Khan: &nbsp; <a href="tel:+917727007427"> +91 77270 07427 </a>
                    </div><br>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer icons persistant bottom right -->

    <div class="rectangle brochure">
        <div class="campusam">
            <a href="../templates/schedule.html">Event Schedule</a>
        </div>
    </div>
    <style>
        .rectangle {
            bottom: 3%;
        }
    </style>

    <div id="FOOTER" style="height: 30px;">
        <div class="icons">
            <a href="https://www.facebook.com/Vivacity.LNMIIT"> <img src="..//assets/Svg/facebook_icon.svg">
            </a>
        </div>
        <div class="icons">
            <a href="mailto:vivacity.thelnmiit@gmail.com"> <img src="..//assets/Svg/envelope.svg">
            </a>
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/vivacity_lnmiit"> <img src="..//assets/Svg/insta.svg">
            </a>
        </div>
        <div class="icons">
            <a href="https://www.youtube.com/user/VivacityLNMIITJaipur"> <img src="..//assets/Svg/youtube.svg">
            </a>
        </div>
    </div>
    <script type="text/javascript">
        function show(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'none')
                e.style.display = 'block';
        }
    </script>
    <script src="../assets/js/scroll.js"></script>
    <script>

        var timeout;
        window.onload = function loader() {
            console.log("Hello");
            timeout = setTimeout(showPage, 30);
        }
        function showPage() {
            document.getElementById("loader").classList.add("loaded");
            document.getElementById("pages").style.display = "block";

        }
    </script>

</body>

</html>