<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content=http://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>

    <title>FAQs</title>
    <!-- CSS Files
        <link rel="stylesheet"  type="text/css" href="branding.css">
        <link rel="stylesheet" type="text/css" href="nav.css">
        <link rel="stylesheet"  type="text/css" href="menu.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/css/theExperience.css"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/contactUs.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar.css">
    <!-- <link rel="stylesheet" href="../assets/css/bamboozled.css"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/faq.css">


    <!-- Font Files -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->

    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="#">All FAQs</a></li>
        </ul>
    </nav>
    <!-- MENU    -->
    <nav>
        <div class="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-links">
            <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                    <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                    <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                            SCHEDULE</a></li>
                    <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

            <li><a class="menuAfterClick1" href="/">Home</a></li>
            <li><a class="menuAfterClick3" href="/templates/competitions.html">
                    Competitions</a>
            </li>
            <li><a class="menuAfterClick4" href="/templates/events.html">
                    Events</a>
            </li>
            <li><a class="menuAfterClick2" href="/templates/schedule.html">Event
                    Schedule</a>
            </li>
            <li><a class="menuAfterClick5" href="https://www.lnmiit.ac.in/Bus_Time_Table.html" target="_blank">Bus
                    Schedule</a></li>
            <li><a class="menuAfterClick6 menu-hide" href="/templates/team.html">
                    Team</a></li>
            <li><a class="menuAfterClick7 menu-hide" href="/templates/sponsors.html">
                    Sponsor Us</a></li>
            <li><a class="menuAfterClick8 menu-hide" href="#contactus"></a></li>



            <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
            <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                    <li class="menuAfterClick7" class="small-li"><a href="#">SPONSOR US</a></li>
                    <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                    <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                    <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
        </ul>
        <ul class="nav-links-top">

            <li><a class="menuAfterClick6" href="/templates/team.html">Our Team</a>
            </li>
            <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsor Us</a></li>
        </ul>
        <ul class="nav-links-bottom">
            <li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
            <li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
            <li><a class="menuAfterClick10" href="#"></a></li>
        </ul>
        <div class="nav-links-top-mid">
            <div class="logo">
                <img class="logoimg" src="../assets/svg/svgg.svg">
            </div>
        </div>
        <div class="nav-links-bottom-mid">
            <div id="FOOTER-menu">
                <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/facebook_icon.svg" target="blank" />
                    </div>
                </a>

                <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/envelope.svg" />
                    </div>
                </a>

                <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
                    <div class="icons"><img src="../assets/svg/insta.svg" /></div>
                </a>
                <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
                    <div class="icons">
                        <img src="../assets/svg/youtube.svg" />
                    </div>
                </a>
            </div>
            <div class="rectangle-menu">
                <div class="campusam-menu">
                    <a href="/templates/ambassadors.html">CAMPUS AMBASSADOR</a>
                </div>
            </div>
        </div>
        <script src="../assets/js/menu.js"></script>
    </nav>

    <div class="container">

        <!-- MAIN PAGE LAYOUT -->
        <div>
            <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO animation" /> </a>
        </div>

        <h1 class="heading-competitions">FAQs</h1>

        <div class="whole">
            <!-- GRID1  -->
            <div class="grid-container1">
                <a href="#tangle">
                    <div id="t1" class="grid-item" style="margin-bottom: 2%;">Accomodation</div>
                </a>
                <a href="#mudra">
                    <div id="t2" class="grid-item" style="margin-bottom: 2%;">Registration</div>
                </a>
                <a href="#pumpitup">
                    <div id="t3" class="grid-item" style="margin-bottom: 2%;">Concerts & Passes</div>
                </a>
                <!-- </div> -->
                <!--GRID 2-->
                <!--< div class="grid-container2"> -->
                <a href="#razmataz">
                    <div id="t5" class="grid-item">Campus Facilities</div>
                </a>
                <a href="#stage">
                    <div id="t6" class="grid-item">How To Reach</div>
                </a>
                <a href="#outlaw">
                    <div id="t7" class="grid-item">Contact</div>
                </a>
            </div>
        </div>
    </div>

    <div class="container" id="tangle">
        <div class="heading">
            Accomodation FAQs
        </div>
        <div id="cont">
            <div id="desc">
                <a onclick="show('acc1');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="acc1" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('acc2');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="acc2" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('acc3');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="acc3" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('acc4');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="acc4" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('acc5');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="acc5" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('acc6');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="acc6" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('acc7');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="acc7" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('acc8');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor?
                </a><br>
                <a id="acc8" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('acc9');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor?
                </a><br>
                <a id="acc9" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                </a><br>
            </div>
        </div>
    </div>

    <div class="container" id="mudra">
        <div class="heading">
            Registration FAQs
        </div>
        <div id="cont">
            <div id="desc">
                <a onclick="show('reg1');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="reg1" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('reg2');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="reg2" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('reg3');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="reg3" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('reg4');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="reg4" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('reg5');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="reg5" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('reg6');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="reg6" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('reg7');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="reg7" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('reg8');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor?
                </a><br>
                <a id="reg8" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('reg9');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor?
                </a><br>
                <a id="reg9" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                </a><br>
            </div>
        </div>
    </div>

    <div class="container" id="pumpitup">
        <div class="heading" style="font-size: 4em;">
            Concerts & Passes FAQs
        </div>
        <div id="cont">
            <div id="desc">
                <a onclick="show('cp1');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="cp1" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cp2');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="cp2" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cp3');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="cp3" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cp4');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="cp4" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cp5');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="cp5" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cp6');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="cp6" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('cp7');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="cp7" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('cp8');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor?
                </a><br>
                <a id="cp8" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cp9');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor?
                </a><br>
                <a id="cp9" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                </a><br>
            </div>
        </div>
    </div>

    <div class="container" id="razmataz">
        <div class="heading" style="font-size: 4em;">
            Campus Facilities FAQs
        </div>
        <div id="cont">
            <div id="desc">
                <a onclick="show('cf1');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="cf1" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cf2');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="cf2" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cf3');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="cf3" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cf4');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="cf4" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cf5');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="cf5" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cf6');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="cf6" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('cf7');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="cf7" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('cf8');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor?
                </a><br>
                <a id="cf8" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('cf9');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor?
                </a><br>
                <a id="cf9" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                </a><br>
            </div>
        </div>
    </div>
    <div class="container" id="stage">
        <div class="heading" style="font-size: 4.5em;">
            How To Reach FAQs
        </div>
        <div id="cont">
            <div id="desc">
                <a onclick="show('htr1');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="htr1" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('htr2');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="htr2" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('htr3');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="htr3" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('htr4');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="htr4" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('htr5');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="htr5" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('htr6');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="htr6" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('htr7');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="htr7" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('htr8');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor?
                </a><br>
                <a id="htr8" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('htr9');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor?
                </a><br>
                <a id="htr9" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                </a><br>
            </div>
        </div>
    </div>

    <div class="container" id="outlaw">
        <div class="heading">
            Contact FAQs
        </div>
        <div id="cont">
            <div id="desc">
                <a onclick="show('ctct1');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="ctct1" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('ctct2');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="ctct2" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('ctct3');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </a><br>
                <a id="ctct3" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('ctct4');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="ctct4" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('ctct5');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor?
                </a><br>
                <a id="ctct5" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('ctct6');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="ctct6" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('ctct7');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor?
                </a><br>
                <a id="ctct7" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </a><br>
                <a onclick="show('ctct8');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor?
                </a><br>
                <a id="ctct8" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor.
                </a><br>
                <a onclick="show('ctct9');" class="ht">
                    Question 1? Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor?
                </a><br>
                <a id="ctct9" style="display: none;" class="lt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor.
                </a><br>
            </div>
        </div>
    </div>

    <!-- Footer icons persistant bottom right -->

    <div class="rectangle brochure">
        <div class="campusam">
            <a href="../templates/schedule.html">Event Schedule</a>
        </div>
    </div>
    <style>
        .rectangle {
            bottom: 3%;
        }

    </style>

    <div id="FOOTER" style="height: 30px;">
        <div class="icons">
            <a href="https://www.facebook.com/Vivacity.LNMIIT"> <img src="..//assets/Svg/facebook_icon.svg">
            </a>
        </div>
        <div class="icons">
            <a href="mailto:vivacity.thelnmiit@gmail.com"> <img src="..//assets/Svg/envelope.svg">
            </a>
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/vivacity_lnmiit"> <img src="..//assets/Svg/insta.svg">
            </a>
        </div>
        <div class="icons">
            <a href="https://www.youtube.com/user/VivacityLNMIITJaipur"> <img src="..//assets/Svg/youtube.svg">
            </a>
        </div>
    </div>
    <script type="text/javascript">
        function show(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'none')
                e.style.display = 'block';
        }
    </script>
    <script src="../assets/js/scroll.js"></script>
</body>

</html>
