<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/css/schedule.css">
        <link rel="stylesheet" href="../assets/css/navbar.css">
        <title>Document</title>
    </head>

    <body>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="#scheduleDay1">Day 1</a></li>
                <li><a href="#scheduleDay2">Day 2</a></li>
                <li><a href="#scheduleDay3">Day 3</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <!-- Don't add menu, I'll add afterwards -->

        <div class="container" id="scheduleDay1">
            <div class="flex-container">

                <div class="grid1">
                    <h1 style="font-size: 200%; text-align: center;margin-bottom: -8%;">Day 1</h1>
                    <h5 style="font-size: 70%; text-align: center;">29th January,2020</h5>
                </div>
                <!-- ----------------------------------------------------------            -->
                <div class="grid2">
                    <!-- BOX 1 -->
                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> <span class="startTime">2:20</span>-<span class="endTime">8:00</span><br>CP</p>

                            </div>

                            <div class="tp3">
                                <h2>EVENT </h2>
                            </div>

                            <div class="tp4">
                                <button type="button" class="statusEvent">Register></button>
                            </div>

                        </div>
                    </div>
                    <br>

                    <!-- BOX 2 -->
                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> 6:00-8:00<br>SAC</p>
                            </div>

                            <div class="tp3">
                                <h2>EVENT</h2>
                            </div>

                            <div class="tp4">
                                <button type="button">Ongoing></button>
                            </div>

                        </div>
                    </div>
                    <br>
                    <!-- BOX 3 -->
                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> 6:00-8:00<br>OAT</p>
                            </div>

                            <div class="tp3">
                                <h2>EVENT</h2>
                            </div>

                            <div class="tp4">
                                <button type="button">Update></button>
                            </div>

                        </div>
                    </div>


                    <!-- BOX 4 --> <br>

                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> 6:00-8:00<br>OAT</p>
                            </div>

                            <div class="tp3">
                                <h2>EVENT</h2>
                            </div>

                            <div class="tp4">
                                <button type="button">Update></button>
                            </div>

                        </div>
                    </div>

                    <!-- BOX 5 --> <br>

                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> 6:00-8:00<br>Venue</p>
                            </div>

                            <div class="tp3">
                                <h2>EVENT</h2>
                            </div>

                            <div class="tp4">
                                <button type="button">Update></button>
                            </div>

                        </div>
                    </div>

                    <!-- BOX 6--> <br>

                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> 6:00-8:00<br>Venue</p>
                            </div>

                            <div class="tp3">
                                <h2>EVENT</h2>
                            </div>

                            <div class="tp4">
                                <button type="button">Update></button>
                            </div>

                        </div>
                    </div>

                    <!-- BOX 7 --> <br>

                    <div class="box1" style="margin-bottom: -4%;">
                        <div class="xyz">
                            <div class="tp1">
                                <img src="clock-circular-outline.svg" class="svgSchedule"><br>
                                <img src="placeholder.svg" class="svgSchedule">
                            </div>

                            <div class="tp2">
                                <p> 6:00-8:00<br>Venue</p>
                            </div>

                            <div class="tp3">
                                <h2>EVENT</h2>
                            </div>

                            <div class="tp4">
                                <button type="button">Update></button>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Footer icons persistant bottom right -->

                <div class="rectangle brochure">
                    <div class="campusam">
                        <a href="../../assets/pdf/Viva20Brochure.pdf" target="_blank">Brochure</a>
                    </div>
                </div>
                <div id="FOOTER">
                    <div class="icons">
                        <a href="https://www.facebook.com/Vivacity.LNMIIT">
                            <img src="../../assets/svg/facebook_icon.svg" />
                        </a>
                    </div>
                    <div class="icons">
                        <a href="mailto:vivacity.thelnmiit@gmail.com">
                            <img src="../../assets/svg/envelope.svg" />
                        </a>
                    </div>
                    <div class="icons">
                        <a href="https://www.instagram.com/vivacity_lnmiit">
                            <img src="../../assets/svg/insta.svg" />
                        </a>
                    </div>
                    <div class="icons">
                        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
                            <img src="../../assets/svg/youtube.svg" />
                        </a>
                    </div>
                </div>


                <script src="../assets/js/events.js"></script>

                <script src="../assets/js/menu.js"></script>
                <script src="../assets/js/scroll.js"></script>
            </div>
        </div>
    </body>

</html>
