<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content=http://vivacity.lnmiit.ac.in/fav/smalltile.png name=msapplication-square70x70logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/mediumtile.png name=msapplication-square150x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/widetile.png name=msapplication-wide310x150logo>
    <meta content=http://vivacity.lnmiit.ac.in/fav/largetile.png name=msapplication-square310x310logo>

    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/contactUs.css">
    <link rel="stylesheet" href="../assets/css/schedule.css">


    <title>Event Schedule | Vivacity 2020 - Annual Cultural Festival of LNMIIT
        Jaipur</title>
</head>

<body>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <!-- <li class="animation"><a href="#scheduleDay1">Day 1</a></li> -->
            <li><a href="#scheduleDay1">Day 1</a></li>
            <li><a href="#scheduleDay2">Day 2</a></li>
            <li><a href="#scheduleDay3">Day 3</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <nav>
        <div class="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav-links">
            <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                        <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                        <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                                SCHEDULE</a></li>
                        <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

            <li><a class="menuAfterClick1" href="/">Home</a></li>
            <li><a class="menuAfterClick3" href="/templates/competitions.html">
                    Competitions</a>
            </li>
            <li><a class="menuAfterClick4" href="/templates/events.html">
                    Events</a>
            </li>
            <li><a class="menuAfterClick2" href="/templates/schedule.html">Event
                    Schedule</a>
            </li>
            <li><a class="menuAfterClick5" href="https://www.lnmiit.ac.in/Bus_Time_Table.html" target="_blank">Bus
                    Schedule</a></li>
            <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html">
                    Team</a></li>
            <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html">
                    Sponsor Us</a></li>
            <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>



            <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
            <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                        <li class="menuAfterClick7" class="small-li"><a href="#">SPONSOR US</a></li>
                        <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                        <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                        <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
        </ul>
        <ul class="nav-links-top">

            <li><a class="menuAfterClick6" href="/templates/team.html"> Team</a>
            </li>
            <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsor Us</a></li>
        </ul>
        <ul class="nav-links-bottom">
            <li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
            <li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
            <li><a class="menuAfterClick10" href="#"></a></li>
        </ul>
        <div class="nav-links-top-mid">
            <div class="logo">
                <a href="/"><img class="logoimg animation" src="../assets/svg/svgg.svg">
                </a>
            </div>
        </div>
        <div class="nav-links-bottom-mid">
            <div id="FOOTER-menu">
                <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
                    <div class="icons animation">
                        <img src="../assets/svg/facebook_icon.svg" target="blank" />
                    </div>
                </a>

                <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
                    <div class="icons animation">
                        <img src="../assets/svg/envelope.svg" />
                    </div>
                </a>

                <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
                    <div class="icons animation"><img src="../assets/svg/insta.svg" /></div>
                </a>
                <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
                    <div class="icons animation">
                        <img src="../assets/svg/youtube.svg" />
                    </div>
                </a>
            </div>
            <div class="rectangle-menu">
                <div class="campusam-menu animation">
                    <a href="/templates/ambassadors.html">CAMPUS AMBASSADOR</a>
                </div>
            </div>
        </div>
        <script src="../assets/js/menu.js"></script>
    </nav>



    <!-- Don't add menu, I'll add afterwards -->

    <div class="container" id="scheduleDay1">
        <div>
            <a href="/"><img src="../assets/svg/svgg.svg" class="LOGO animation" /></a>

        </div>
        <div class="flex-container">

            <div class="grid1">
                <h1 style="font-size: 200%; text-align: center;margin-bottom: -8%;">31st</h1>
                <h5 style="font-size: 70%; text-align: center; margin-top: 4%;">January, 2020</h5>
                <img src="../assets/svg/1.svg" class="aboutUsSvg">
            </div>
            <!-- ----------------------------------------------------------            -->
            <div class="grid2">
                <!-- BOX 1 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> <span class="startTime">10:00</span>-<span class="endTime">2:00</span><br>CP</p>

                        </div>

                        <div class="tp3">
                            <h2>HUNKAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button" class="statusEvent">Register</button>
                        </div>

                    </div>
                </div>
                <br>

                <!-- BOX 2 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-2:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>RAZZMATAZZ PRELIMS&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <br><!-- BOX 3 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 12:00-4:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>ROSTRUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>


                <!-- BOX 4 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 12:00-5:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>SAHYOG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 5 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:00-3:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>ANTAKSHIRI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 6--> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:00-4:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>MUDRA SOLO CLASSICAL</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 7 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:00-4:00<br>Library Lawn</p>
                        </div>

                        <div class="tp3">
                            <h2>COLORAMA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>


                <!-- BOX 8 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 5:00-7:00<br>CP</p>
                        </div>

                        <div class="tp3">
                            <h2>OPEN
                                MIC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 9 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 5:00-6:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>PICTIONARY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 10 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 6:00-9:30<br>Main Stage</p>
                        </div>

                        <div class="tp3">
                            <h2>RAZZMATAZZ FINALE&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="container" id="scheduleDay2">
        <div class="flex-container">

            <div class="grid1">
                <h1 style="font-size: 200%; text-align: center;margin-bottom: -8%;">1st</h1>
                <h5 style="font-size: 70%; text-align: center;margin-top: 4%;">February, 2020</h5>
                <img src="../assets/svg/2.svg" class="aboutUsSvg">

            </div>
            <!-- ----------------------------------------------------------            -->
            <div class="grid2">
                <!-- BOX 1 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> <span class="startTime">9:00</span>-<span class="endTime">11:00</span><br>Library Lawn
                            </p>

                        </div>

                        <div class="tp3">
                            <h2>TATTOO TALES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button" class="statusEvent">Register</button>
                        </div>

                    </div>
                </div>
                <br>

                <!-- BOX 2 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 9:00-12:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>SWARANJALI PRELIMS&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <br><!-- BOX 3 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 9:00-11:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>SOLENDIOUS PRELIMS&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>


                <!-- BOX 4 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-12:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>DUETTO PRELIMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 5 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-2:00<br>Main Stage</p>
                        </div>

                        <div class="tp3">
                            <h2>VOGUE PRELIMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 6--> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-12:00<br>CP</p>
                        </div>

                        <div class="tp3">
                            <h2>SOLO WESTERN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 7 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-1:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>RANGSHALLA PRELIMS&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>


                <!-- BOX 8 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 12:00-2:00<br>CP</p>
                        </div>

                        <div class="tp3">
                            <h2>LETS
                                TANGLE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 9 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 12:00-5:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>ULTIMATE
                                XI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 10 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 1:00-4:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>HARAMKHOR WORKSHOP&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 11 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:00-6:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>RANGSHALLA FINALS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <!-- BOX 12 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 3:00-5:00<br>CP</p>
                        </div>

                        <div class="tp3">
                            <h2>OUTLAW(STREET DANCE)</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <!-- BOX 13 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 3:00-5:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>SPELL
                                BEE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <!-- BOX 14 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 5:30-9:00<br>Main Stage</p>
                        </div>

                        <div class="tp3">
                            <h2>VOGUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="scheduleDay3">
        <div class="flex-container">

            <div class="grid1">
                <h1 style="font-size: 200%; text-align: center;margin-bottom: -8%;">2nd</h1>
                <h5 style="font-size: 70%; text-align: center;margin-top: 4%;">February, 2020</h5>
                <img src="../assets/svg/3.svg" class="aboutUsSvg">

            </div>
            <!-- ----------------------------------------------------------            -->
            <div class="grid2">
                <!-- BOX 1 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> <span class="startTime">9:00</span>-<span class="endTime">11:30</span><br>Library Lawn
                            </p>

                        </div>

                        <div class="tp3">
                            <h2>INK THE
                                TEE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button" class="statusEvent">Register</button>
                        </div>

                    </div>
                </div>
                <br>

                <!-- BOX 2 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 9:00-12:00<br>Whole Campus</p>
                        </div>

                        <div class="tp3">
                            <h2>PHOTOWALK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <br><!-- BOX 3 -->
                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-12:00<br>Library Lawn</p>
                        </div>

                        <div class="tp3">
                            <h2>INSTRUMENTALS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>


                <!-- BOX 4 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-12:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>MUKH ABHINAY (MIME)</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 5 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 10:00-1:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>KOAd +
                                JAM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 6--> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 12:00-1:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>SOLENDIOUS FINALE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 7 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 1:00-3:00<br>Library Lawn</p>
                        </div>

                        <div class="tp3">
                            <h2>SPLASH(FACE PAINT)</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>


                <!-- BOX 8 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 1:00-2:30<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>SWARANJALI FINALE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 9 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 1:00-3:30<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>BAMBOOZLED(QUIZ)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 10 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:00-5:00<br>LT</p>
                        </div>

                        <div class="tp3">
                            <h2>SCRIBBLED STORIES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>

                <!-- BOX 11 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:30-4:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>DUETTO FINALE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <!-- BOX 12 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 2:30-4:30<br>Library Lawn</p>
                        </div>

                        <div class="tp3">
                            <h2>DUOLOGUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
                <!-- BOX 13 --> <br>

                <div class="box1">
                    <div class="xyz">
                        <div class="tp1">
                            <img src="../assets/svg/clock-circular-outline.svg" class="svgSchedule"><br>
                            <img src="../assets/svg/placeholder.svg" class="svgSchedule">
                        </div>

                        <div class="tp2">
                            <p> 4:00-6:00<br>SAC</p>
                        </div>

                        <div class="tp3">
                            <h2>MESCOLANZA FINALE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                        </div>

                        <div class="tp4 animation">
                            <button type="button">Register</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="contactUs">
        <div id="contact">
            <div id="heading-contactus">
                Contact Us
            </div>
            <div id="bodyPage-contactus">
                <div>
                    <div class="hline-contactus">Jatin Aggarwal</div>
                    <a href="tel:+917877856296"> +91 78778 56296 </a> <br />
                    <a href="mailto:17ume028@lnmiit.ac.in">
                        17ume028@lnmiit.ac.in
                    </a>
                    <p id="btn">
                        <button id="map" onclick="window.open('http://vivacity.lnmiit.ac.in/templates/team.html')">
                            Know More
                        </button>
                    </p>
                </div>
                <div>
                    <div class="hline-contactus">Vinay Bohra</div>
                    <a href="tel:+919166006162"> +91 82330 85933 </a>
                    <br />
                    <a href="mailto:17ume064@lnmiit.ac.in">
                        17ume064@lnmiit.ac.in
                    </a>
                </div>
                <div>
                    <div class="hline-contactus">Get Directions</div>
                    <p>
                        LNM Institute of Information Technology, Rupa Ki Nangal,
                        Post-Sumel, Via Jamdoli, Jaipur 302031
                    </p>
                    <p id="btn">
                        <button id="map"
                            onclick="window.open('https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.9358194,75.9196668,16z/data=!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233')">
                            See In Maps
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer icons animation persistant bottom right -->

    <div class="rectangle">
        <div class="campusam animation">
            <a href="../templates/competitions.html">Competitions</a>
        </div>
    </div>
    <div id="FOOTER">
        <div class="icons animation">
            <a href="https://www.facebook.com/Vivacity.LNMIIT">
                <img src="../../assets/svg/facebook_icon.svg" />
            </a>
        </div>
        <div class="icons animation">
            <a href="mailto:vivacity.thelnmiit@gmail.com">
                <img src="../../assets/svg/envelope.svg" />
            </a>
        </div>
        <div class="icons animation">
            <a href="https://www.instagram.com/vivacity_lnmiit">
                <img src="../../assets/svg/insta.svg" />
            </a>
        </div>
        <div class="icons animation">
            <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
                <img src="../../assets/svg/youtube.svg" />
            </a>
        </div>
    </div>




    <script src="../assets/js/events.js"></script>

    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/scroll.js"></script>
    </div>
    </div>
</body>

</html>
