<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    Sponsors | Vivacity 2020 - Annual Cultural Festival of LNMIIT Jaipur
  </title>
  <link href=/ rel=canonical>
  <link href=https://plus.google.com/113534955956819396086/ rel=publisher>
  <link href=/assets/fav/favicon.ico rel="shortcut icon" type=image/x-icon> <link
    href=https://vivacity.lnmiit.ac.in/assets/fav/apple-touch-icon-60x60.png rel=apple-touch-icon sizes=60x60>
  <link href=/assets/fav/apple-touch-icon-120x120.png rel=apple-touch-icon sizes=120x120>
  <link href=/assets/fav/apple-touch-icon-76x76.png rel=apple-touch-icon sizes=76x76>
  <link href=/assets/fav/apple-touch-icon-152x152.png rel=apple-touch-icon sizes=152x152>
  <link rel="shortcut icon" href="/assets/fav/favicon.ico" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" type="text/css" href="../assets/css/sponsors.css" />
  <link rel="stylesheet" href="../assets/css/contactUs.css" />
  <link rel="stylesheet" href="../assets/css/navbar.css" />
  <link rel="stylesheet" href="../assets/css/pastSponsor.css" />
  <link rel="stylesheet" href="../assets/css/socialReach.css" />
  <link rel="stylesheet" href="../assets/css/whySponsor.css" />
  <link rel="stylesheet" href="../assets/css/mediacoverage.css" />

  <link rel="stylesheet" href="../assets/css/menu.css" />

  <!-- <link rel="stylesheet" href="../assets/css/branding.css"> -->
  <link rel="stylesheet" type="text/css" href="../assets/css/nav.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
</head>

<body>
  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <!-- <li><a href="#sponsor">Apply</a></li> -->
      <li><a href="#spo2020">Sponsors</a></li>
      <li><a href="#whySponsorUs">Benefits</a></li>
      <!-- <li><a href="#pastsponsor">Past Sponsors</a></li> -->
      <li><a href="#sponsor">Reach</a></li>
      <li><a href="#media">Coverage</a></li>
      <li><a href="#brand">Branding</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <nav>

    <div class="menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar3"></div>
    </div>
    <ul class="nav-links">
      <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                  <li><a class="menuAfterClick3" href="https://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                  <li><a class="menuAfterClick2" href="https://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                          SCHEDULE</a></li>
                  <li><a class="menuAfterClick4" href="https://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

      <li><a class="menuAfterClick1" href="/">Home</a></li>
      <li><a class="menuAfterClick3" href="/templates/competitions.html">
          Competitions</a>
      </li>
      <li><a class="menuAfterClick4" href="/templates/events.html">
          Events</a>
      </li>
      <li><a class="menuAfterClick2" href="/templates/schedule.html">Event
          Schedule</a>
      </li>
      <li><a class="menuAfterClick5" href="https://drive.google.com/file/d/1afNGDStp_Vp95pbWgiF5jznkgSvNvmfy/view"
          target="_blank">Bus
          Schedule</a></li>
      <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html">
          Team</a></li>
      <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html">
          Sponsors</a></li>
      <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>
      <li><a class="menuAfterClick8 menu-hide" href="/templates/faq.html">
          FAQs</a></li>



      <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
      <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                  <li class="menuAfterClick7" class="small-li"><a href="#">Sponsors</a></li>
                  <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                  <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                  <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
    </ul>
    <ul class="nav-links-top">

      <li><a class="menuAfterClick6" href="/templates/team.html">Team</a>
      </li>
      <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsors</a></li>
    </ul>
    <ul class="nav-links-bottom">
      <li><a class="menuAfterClick8" href="faq.html">FAQs</a></li>
      <li><a class="menuAfterClick9" href="#"></a></li>
      <li><a class="menuAfterClick10" href="#"></a></li>
    </ul>
    <div class="nav-links-top-mid">
      <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO-team-menu animation" /> </a>

    </div>
    <div class="nav-links-bottom-mid">
      <div id="FOOTER-menu">
        <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
          <div class="icons">
            <img src="../assets/svg/facebook_icon.svg" target="blank" />
          </div>
        </a>

        <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
          <div class="icons">
            <img src="../assets/svg/envelope.svg" />
          </div>
        </a>

        <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
          <div class="icons"><img src="../assets/svg/insta.svg" /></div>
        </a>
        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
          <div class="icons">
            <img src="../assets/svg/youtube.svg" />
          </div>
        </a>
      </div>
      <div class="rectangle-menu">
        <div class="campusam-menu">
          <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/">Live
            Updates</a> </div>
      </div>
    </div>
    <script src="../assets/js/menu.js"></script>
  </nav>
  <!-- CONTAINER     -->
  <!-- <div class="container" id="sponsor"> -->
  <div>
    <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO" /> </a>
  </div>
  <!-- 
      <h1 id="headd">Sponsors</h1>
      <img class="svg" src="../assets/svg/comp.svg" />

      <div class="value">
        <p class="contentt">
          The ideology of Vivacity cannot be realized without ample support from
          the public. Here is why you should support us in our endeavour. We
          record an annual footfall of over 15,000 attendees amongst which 95 %
          are in the age group of 16-25. By being a part of Vivacity, brand
          loyalty can be encouraged from an early age.<br /><br />
          With an approximate audience of 20,000 people, Vivacity gives their
          sponsors a wide outreach showcase their products and services.
          Vivacity has an exemplary record of giving significant reach on
          investment to its sponsors With high profile guests and organizations
          visiting the campus, it gives its sponsor an opportunity to build
          mutually beneficial relationships.
        </p>
      </div> -->
  </div>

  <div class="container" id="spo2020">
    <h1 class="heading">Sponsors 2020</h1>

    <!--CONTAINER-->
    <div class="sponsor__grid">
      <!-- (.col>.card>(.card__side.card__side--front>h3{Media Partner}+img[src=https://vivacity.lnmiit.ac.in/images/sponser/sponsor$.png])+(.card__side.card__side--back.card__side--back-$))*24 -->
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Building Partner</h3> -->
            <img src="../assets/img/sponsor/ganna.jfif" alt="">
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="backSideCard">
              <h2 class="partnerType">Bollywood Night Partner</h2>
              <h3 class="vivaYear">gaana</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Career Partner</h3> -->
            <img src="../assets/img/sponsor/wondercement.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="backSideCard">
              <h2 class="partnerType">Built By</h2>
              <h3 class="vivaYear">Wonder Cement</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Beverage Partner</h3> -->
            <img src="../assets/img/sponsor/aavas.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-3">
            <div class="backSideCard">
              <h2 class="partnerType">Housing Partner</h2>
              <h3 class="vivaYear">Aavas</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Rental Partner</h3> -->
            <img src="../assets/img/sponsor/anu.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">ANU</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Travel Partner</h3> -->
            <img src="../assets/img/sponsor/colldunia.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-6">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <a href="https://collegedunia.com/">
                <h3 class="vivaYear">College Dunia</h3>
              </a>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Warehouse Partner</h3> -->
            <img src="../assets/img/sponsor/bor.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Bikers of Rajasthan</h3>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Sound Partner</h3> -->
            <img src="../assets/img/sponsor/rock.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-5">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">The Rock</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Escape Partner</h3> -->
            <img src="../assets/img/sponsor/joyrides.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="backSideCard">
              <h2 class="partnerType">Bike Partner</h2>
              <h3 class="vivaYear">Joyrides</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Comedy Partner</h3> -->
            <img src="../assets/img/sponsor/zoomcar.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-3">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Zoomcar</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/stall/adda.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Adda</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/stall/Punjabi Tadka.jpg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Punjabi Tadka</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/stall/Roll_Express.jpg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Roll Express</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/stall/ff.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Flavorsome Feasts</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/stall/Tawook_Chiken.jpg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Tawook Chicken</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/stall/Juicy junction.jpg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Juicy Junction</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>timepass Partner</h3> -->
            <img src="../assets/img/sponsor/vlcc.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-5">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">VLCC</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Accessories Partner</h3> -->
            <img src="../assets/img/sponsor/icici.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-6">
            <div class="backSideCard">
              <h2 class="partnerType">Banking Partner</h2>
              <h3 class="vivaYear">ICICI</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Media Partner</h3> -->
            <img src="../assets/img/sponsor/digilearnings.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="backSideCard">
              <h2 class="partnerType">Digital Partner</h2>
              <h3 class="vivaYear">Digi Learnings</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Style Partner</h3> -->
            <img src="../assets/img/sponsor/redfm.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="backSideCard">
              <h2 class="partnerType">Radio Partner</h2>
              <h3 class="vivaYear">RedFM</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Food Partner</h3> -->
            <img src="../assets/img/sponsor/finkup.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-3">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Finkup</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Car Partner</h3> -->
            <img src="../assets/img/sponsor/zoutons.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <a href="https://zoutons.com/">
                <h3 class="vivaYear">Zoutons.com</h3>
              </a>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Outsource Partner</h3> -->
            <img src="../assets/img/sponsor/yugbike.jpeg">
          </div>
          <div class="card__side card__side--back card__side--back-6">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Yugbike</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Food Partner</h3> -->
            <img src="../assets/img/sponsor/hand-wired.jpeg">
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Hand Wired Entertainments</h3>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Hospitality Partner</h3> -->
            <img src="../assets/img/sponsor/smita.jpeg">" />
          </div>
          <div class="card__side card__side--back card__side--back-5">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Smita Bansal's</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Dhaaba Partner</h3> -->
            <img src="../assets/img/sponsor/ridingsolo.jpeg">
          </div>
          <div class="card__side card__side--back card__side--back-6">
            <div class="backSideCard">
              <h2 class="partnerType">Co-Sponsor</h2>
              <h3 class="vivaYear">Riding Solo</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Coming Soon</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Coming Soon</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Coming Soon</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Coming Soon</h3>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card__side card__side--front">
            <!-- <h3>Entertainment Partner</h3> -->
            <img src="../assets/img/sponsor/.jpeg" alt="" />
          </div>
          <div class="card__side card__side--back card__side--back-4">
            <div class="backSideCard">
              <h2 class="partnerType">Our Stall</h2>
              <h3 class="vivaYear">Coming Soon</h3>
              <br />
            </div>
          </div>
        </div>
      </div>

    </div>
    <script type="text/javascript">
      document
        .getElementsByClassName("sponsor__grid")
        .item(0).onscroll = function () {
          scroll();
        };

      function scroll() {
        let scrollTop = document
          .getElementsByClassName("sponsor__grid")
          .item(0).scrollTop;
        let scrollHeight =
          document.getElementsByClassName("sponsor__grid").item(0)
            .scrollHeight -
          document.getElementsByClassName("sponsor__grid").item(0)
            .clientHeight;

        let progress = (100.1 * scrollTop) / scrollHeight;
        document.getElementsByClassName("scroll-lining").item(0).style.width =
          progress + "%";
      }
    </script>
  </div>
  <div class="container" id="whySponsorUs">
    <h1 class="heading-whySponsor">Why Sponsor Us?</h1>
    <div class="value-whySponsor">
      <p class="content-whySponsor">
        We believe that sponsors are interested in the multi-channel promotion
        and therefore we have channels with a considerable audience to take
        care of our sponsors.

      </p>
      <div class="all-bullet">
        <div class="bul-1">
          <spam class="bullet">Website</spam>
          <spam class="bullet">Mailing List</spam>
          <spam class="bullet">Institute's Annual Magazine</spam>
          <spam class="bullet">Standees</spam>
        </div>

        <div class="bul-2">
          <spam class="bullet">Backdrops</spam>
          <spam class="bullet">Registration Booklet</spam>
          <spam class="bullet">Entry Tickets</spam>
          <spam class="bullet">Brochure</spam>
          <spam class="bullet">Proposals</spam>
          <spam class="bullet">Social Media</spam><br>


        </div>
        <div class="bul-3">
          <spam class="bullet">promotional Videos</spam>
          <spam class="bullet">Event Announcements</spam>
          <spam class="bullet">Flash Mobs</spam>
        </div>
      </div>


    </div>
  </div>





  <div class="container" id="sponsor">
    <h1 id="headd"> OUR Reach</h1>
    <img class="svg" src="../assets/svg/comp.svg" />

    <div class="flex-containor">

      <div class="grid_area1">
        <!-- <div class="media-item"> -->

        <div class="box">
          <div class="answer">
            <a href="https://www.facebook.com/Vivacity.LNMIIT" target="_blank">Facebook<span
                id="counterfootfall"></span></a>
          </div>
        </div>

        <div class="box">
          <div class="answer" style="margin-top: 9%;">
            <a href="https://www.instagram.com/vivacity_lnmiit" target="_blank">Instagram 10k+</a>
          </div>
        </div>

        <div class="box">
          <div class="answer" style="margin-top: 9%;">
            <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="_blank">Youtube 20k+</a>
          </div>
        </div>

        <div class="box">
          <div class="answer" style="margin-top: 9%;">
            <a href="../../assets/pdf/Viva20Brochure.pdf" target="_blank">Twitter 5k+</a>
          </div>
        </div>
      </div>

      <div class="grid_area2">
        <p class="content">
          The ideology of Vivacity cannot be realized without ample support from
          the public. Here is why you should support us in our endeavour. We
          record an annual footfall of over 15,000 attendees amongst which 95 %
          are in the age group of 16-25. By being a part of Vivacity, brand
          loyalty can be encouraged from an early age.<br /><br />
          With an approximate audience of 20,000 people, Vivacity gives their
          sponsors a wide outreach showcase their products and services.
          Vivacity has an exemplary record of giving significant reach on
          investment to its sponsors With high profile guests and organizations
          visiting the campus, it gives its sponsor an opportunity to build
          mutually beneficial relationships.
        </p>
      </div>
    </div>
  </div>

  <div class="container" id="media">
    <div class="mediaCoverage">
      <h2 class="heading-media">Media Coverage</h2>
      <div class="containor" class="coverage">
        <iframe src="https://issuu.com/mediacell_lnm/docs/vivacity_19_pedastal" class="iframeMedia"></iframe>
      </div>

    </div>
  </div>

  <div class="container" id="brand">
    <div class="media">
      <h2 class="heading-media">Branding</h2>
      <div class="containor">
        <div class="grid-upper grid">
          <div class="grid-item">
            <img src="../assets/img/abc.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/2.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/3.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/4.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/5.jpg" alt="" />
          </div>
          <!-- <div class="grid-item"></div> -->
        </div>
        <div class="grid-lower grid">
          <div class="grid-item">
            <img src="../assets/img/6.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/7.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/8.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="../assets/img/1.jpg" alt="" />
          </div>
          <!-- <div class="grid-item"></div> -->
          <!-- <div class="grid-item"></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="contactUs">
    <div id="contact">
      <div id="heading-contactus">
        Contact Us
      </div>
      <div id="bodyPage-contactus">
        <div>
          <div class="hline-contactus">Khalid M. Khan</div>
          <a href="tel:+917727007427"> +91 77270 07427 </a> <br />
          <a href="mailto:17ucs078@lnmiit.ac.in">
            17ucs078@lnmiit.ac.in
          </a>
          <p id="btn">
            <button id="map" onclick="window.location.replace('team.html')">
              Know More
            </button>
          </p>
        </div>
        <div>
          <div class=" hline-contactus">Damandeep Singh</div>
          <a href="tel:+919602333100"> +91 96023 33100 </a>
          <br />
          <a href="mailto:17ucc019@lnmiit.ac.in">
            17ucc019@lnmiit.ac.in
          </a>
        </div>
        <div>
          <div class="hline-contactus">Get Directions</div>
          <p>
            The LNM Institute of Information Technology, Rupa Ki Nangal,
            Post-Sumel, Via Jamdoli, Jaipur 302031
          </p>
          <p id="btn">
            <button id="map"
              onclick="window.open('https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.9358194,75.9196668,16z/data=!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233')">
              See In Maps
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="rectangle brochure">
    <div class="campusam">
      <a href="../../assets/pdf/Viva20Brochure.pdf" target="_blank">Brochure</a>
    </div>
  </div>
  <div id="FOOTER">
    <div class="icons">
      <a href="https://www.facebook.com/Vivacity.LNMIIT">
        <img src="../../assets/svg/facebook_icon.svg" />
      </a>
    </div>
    <div class="icons">
      <a href="mailto:vivacity.thelnmiit@gmail.com">
        <img src="../../assets/svg/envelope.svg" />
      </a>
    </div>
    <div class="icons">
      <a href="https://www.instagram.com/vivacity_lnmiit">
        <img src="../../assets/svg/insta.svg" />
      </a>
    </div>
    <div class="icons">
      <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
        <img src="../../assets/svg/youtube.svg" />
      </a>
    </div>
  </div>

  <script src="../assets/js/scroll.js"></script>

  <script src="../assets/js/about-us.js"></script>


</body>

</html>