<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    Our Team | Vivacity 2020 - Annual Cultural Festival of LNMIIT Jaipur
  </title>
  <link href=/ rel=canonical>
  <link href=https://plus.google.com/113534955956819396086/ rel=publisher>
  <link href=/assets/fav/favicon.ico rel="shortcut icon" type=image/x-icon> <link
    href=https://vivacity.lnmiit.ac.in/assets/fav/apple-touch-icon-60x60.png rel=apple-touch-icon sizes=60x60>
  <link href=/assets/fav/apple-touch-icon-120x120.png rel=apple-touch-icon sizes=120x120>
  <link href=/assets/fav/apple-touch-icon-76x76.png rel=apple-touch-icon sizes=76x76>
  <link href=/assets/fav/apple-touch-icon-152x152.png rel=apple-touch-icon sizes=152x152>
  <link rel="shortcut icon" href="/assets/fav/favicon.ico" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/svg/favicon-16x16.png" sizes="16x16" />
  <link href="../assets/css/teampage.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/menu.css">
  <link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/contactUs.css">
  <link rel="stylesheet" href="../assets/css/team.css">
  <link href="../assets/css/loader.css" type="text/css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css" />
  <!-- <script src="../assets/js/scroll.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,800;&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
  <div id="loader">
    <img src="../assets/img/bgnd/loader.gif" />
  </div>
  <div id="pages" class="slideUp" style="display:none;">

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <!-- <li><a href="#main">Top</a></li> -->
        <li><a href="#main">All Teams</a></li>
        <!-- <li><a href="#pastsponsor">Past Sponsors</a></li>
        <li><a href="#socialreach">Reach</a></li>
        <li><a href="#media">Coverage</a></li>
        <li><a href="#brand">Branding</a></li>
        <li><a href="#contact">Contact</a></li>  -->
      </ul>
    </nav>

    <nav>
      <div class="menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar3"></div>
      </div>
      <ul class="nav-links">
        <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                      <li><a class="menuAfterClick3" href="https://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                      <li><a class="menuAfterClick2" href="https://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                              SCHEDULE</a></li>
                      <li><a class="menuAfterClick4" href="https://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

        <li><a class="menuAfterClick1" href="/">Home</a></li>
        <li><a class="menuAfterClick3" href="/templates/competitions.html">
            Competitions</a>
        </li>
        <li><a class="menuAfterClick4" href="/templates/events.html">
            Events</a>
        </li>
        <li><a class="menuAfterClick2" href="/templates/schedule.html">Event
            Schedule</a>
        </li>
        <li><a class="menuAfterClick5" href="https://drive.google.com/file/d/1afNGDStp_Vp95pbWgiF5jznkgSvNvmfy/view"
            target="_blank">Bus
            Schedule</a></li>
        <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html">
            Team</a></li>
        <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html">
            Sponsors</a></li>
        <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>
        <li><a class="menuAfterClick8 menu-hide" href="/templates/faq.html">
            FAQs</a></li>



        <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
        <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                      <li class="menuAfterClick7" class="small-li"><a href="#">Sponsors</a></li>
                      <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                      <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                      <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
      </ul>
      <ul class="nav-links-top">

        <li><a class="menuAfterClick6" href="/templates/team.html"> Team</a>
        </li>
        <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsors</a></li>
      </ul>
      <ul class="nav-links-bottom">
        <li><a class="menuAfterClick8" href="faq.html">FAQs</a></li>
        <li><a class="menuAfterClick8" href="#"></a></li>
        <li><a class="menuAfterClick9" href="#"></a></li>
        <li><a class="menuAfterClick10" href="../templates/developer.html"></a></li>
      </ul>
      <div class="nav-links-top-mid">

        <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO-team-menu animation" /> </a>

      </div>
      <div class="nav-links-bottom-mid">
        <div id="FOOTER-menu">
          <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/facebook_icon.svg" target="blank" />
            </div>
          </a>

          <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/envelope.svg" />
            </div>
          </a>

          <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
            <div class="icons animation"><img src="../assets/svg/instateam.svg" /></div>
          </a>
          <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
            <div class="icons animation">
              <img src="../assets/svg/youtube.svg" />
            </div>
          </a>
        </div>
        <div class="rectangle-menu animation">
          <div class="campusam-menu">
            <a href="https://mediacelllnmiit.wordpress.com/2020/01/29/vivacity-2020-live-updates/">Live
              Updates</a> </div>
        </div>
      </div>
      <script src="../assets/js/menu.js"></script>
    </nav>


    <div class="container" id="main">
      <!-- <div> -->
      <a href="/"> <img src="../assets/svg/svgg.svg" class="LOGO-team animation" /> </a>
      <!-- </div> -->

      <div class="title">Our Team</div>
      <div class="grid-container">
        <a href="#cultural-sec">
          <div class="grid-item">CULTURAL SECRETARIES</div>
        </a>
        <a href=" #finance">
          <div class="grid-item">FEST CONVENERS</div>
        </a>
        <a href="#sponsor-art">
          <div class="grid-item">SPONSORSHIP & ARTISTS</div>
        </a>
        <a href="#event-management">
          <div class="grid-item">EVENTS & PR</div>
        </a>
        <a href="#media-marketing">
          <div class="grid-item">MEDIA & MARKETING</div>
        </a>
        <a href="#tech">
          <div class="grid-item">TECHNICAL GEEKS</div>
        </a>
        <a href="#creative">
          <div class="grid-item">CREATIVE THINK TANK</div>
        </a>
        <a href="#video">
          <div class="grid-item">VIDEOGRAPHY & COVERAGE</div>
        </a>
      </div>
    </div>

    <div class="container" id="cultural-sec">
      <div class="back">
        <div class="top">Cultural Secretaries</div>
        <div class="mid">

          <div class="search">

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Sukrit.jpeg" class="user-img"></div>
              <div class="user-name">SUKRIT SARNA</div>
              <div class="user-social">
                <a href="https://wa.me/919166006162">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/neversay__no/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/sukrit-sarna-a63a12144">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>



            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Mansi.jpeg" class="user-img"></div>
              <div class="user-name">MANSI MITTAL</div>
              <div class="user-social">
                <a href="https://wa.me/918559924980">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/0_0mansi/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://www.linkedin.com/in/mansi-mittal-051352152/">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>


          </div>

          <div class="ert">
            <div class="kol">
              <!-- <div class="fem">MEMBER 1</div> -->
              <!-- <div class="fem">MEMBER 2</div> -->
              <!-- <div class="fem">MEMBER 3</div> -->
              <!-- <div class="fem">MEMBER 4</div> -->
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="sponsor-art">
      <div class="back">
        <div class="top">Sponsorships & Artists</div>
        <div class="mid">

          <div class="search">


            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Khalid.jpeg" class="user-img"></div>
              <div class="user-name">KHALID M. KHAN</div>
              <div class="user-social">
                <a href="https://wa.me/917727007427">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/ashvatthama._._/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Damandeep.jpeg" class="user-img"></div>
              <div class="user-name">DAMANDEEP SINGH</div>
              <div class="user-social">
                <a href="https://wa.me/919602333100">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/singhdd_1702/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://www.linkedin.com/in/damandeep-singh-078574148/">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Naman.jpeg" class="user-img"></div>
              <div class="user-name">NAMAN SHARMA</div>
              <div class="user-social">
                <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                </div>
              </div>
            </div>

            <div class="plet">

              <div class="user-img"><img src="../assets/img/team/Eklavya.jpeg" class="user-img"></div>
              <div class="user-name">Eklavya Singh</div>
              <div class="user-social">
                <a href="https://wa.me/918233085933">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/somerandomtext/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/eklavaya-shekhawat-87a27b152">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="ert">
            <div class="kol">
              <div class="fem">Devashish Sukhwani</div>
              <div class="fem">Raghav Lakhotia</div>
              <div class="fem">Mriganshi Sharma</div>
              <div class="fem">Anuj Goyal</div>
            </div>
            <div class="kol">
              <div class="fem">Govind Singh shekhawat</div>
              <div class="fem">Deepanshu Garg</div>
              <div class="fem">Kartik Ladha</div>
              <div class="fem">Divisha Bapna</div>
            </div>
            <div class="kol">
              <div class="fem">Pinkesh Unadkat</div>
              <div class="fem">Deep Mavani</div>
              <div class="fem">Rahul Vaishnav</div>
              <div class="fem">Rohit Agrawal</div>
            </div>
            <div class="kol">
              <div class="fem">Suryansh Bhandari</div>
              <div class="fem">Bhavya Shah</div>
              <div class="fem">Kunal Jain</div>
              <div class="fem">Rohit Yadav</div>
            </div>

          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="media-marketing">
      <div class="back">
        <div class="top">Media & Marketing</div>
        <div class="mid">

          <div class="search">

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/arya.jpeg" class="user-img"></div>
              <div class="user-name">ARYA SHRIVASTAVA</div>
              <div class="user-social">
                <a href="https://wa.me/916378879437">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/arya_b_shrivastava/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://www.linkedin.com/in/arya-shrivastava-87a737147">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Aditi.jpeg" class="user-img"></div>
              <div class="user-name">ADITI CHATURVEDI</div>
              <div class="user-social">
                <a href="https://wa.me/919983129216">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/aditi_99/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/aditi-chaturvedi-68a283152">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>




            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Harsh.jpeg" class="user-img"></div>
              <div class="user-name">HARSH MEHTA</div>
              <div class="user-social">
                <a href="https://wa.me/919407165195">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/harry__2307/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>

            </div>
          </div>

          <div class="ert">
            <div class="kol">
              <div class="fem">Devansh Shukla</div>
              <div class="fem">Aishwarya Mahapatra</div>
              <div class="fem">Aditi Nirmal</div>
              <div class="fem">Vatsal Mishra</div>
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="creative">
      <div class="back">
        <div class="top">Creative Think Tank</div>
        <div class="mid">
          <div class="search">


            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Ishaan.jpeg" class="user-img"></div>
              <div class="user-name">ISHAAN KUMAR</div>
              <div class="user-social">
                <a href="https://wa.me/917073637246">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/ishaan.kumar._/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/ishaan-kumar-81502515b">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>



            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Piyush.jpeg" class="user-img"></div>
              <div class="user-name">PIYUSH PAREEK</div>
              <div class="user-social">
                <a href="https://wa.me/917073637246">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/pacifier_12/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/pareekpiyush">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

          </div>

          <div class="ert">
            <div class="kol">
              <div class="fem">Aashish Methani</div>
              <div class="fem">Deepesh Alwani</div>
              <div class="fem">Muskaan Bhargava</div>
              <div class="fem">Piyush Soni</div>
            </div>
            <div class="kol">
              <div class="fem">Jatin Gidhwani</div>
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="event-management">
      <div class="back">
        <div class="top">Events & PR</div>
        <div class="mid">

          <div class="search">

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Jatin.jpeg" class="user-img"></div>
              <div class="user-name">JATIN AGGARWAL</div>
              <div class="user-social">
                <a href="https://wa.me/917877856296">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/_jatin22_/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>

            </div>



            <div class="plet">

              <div class="user-img"><img src="../assets/img/team/Vinay.jpeg" class="user-img"></div>
              <div class="user-name">VINAY BOHRA</div>
              <div class="user-social">
                <a href="https://wa.me/918233085933">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/vbohra_vinay/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/vinay-bohra-926393147">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

            <div class="plet">

              <div class="user-img"><img src="../assets/img/team/siddanth.jpeg" class="user-img"></div>
              <div class="user-name">Siddhant Lodha</div>
              <div class="user-social">
                <a href="https://wa.me/919166312260">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/siddhant-lodha-420104173">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

          </div>
          <div class="ert">
            <div class="kol">
              <div class="fem">Gautam Bhatia</div>
              <div class="fem">Ritvik Singhal</div>
              <div class="fem">Shivam Sen</div>
              <div class="fem">Keshav Sikhawat</div>
            </div>
            <div class="kol">
              <div class="fem">Siddharth Rungta</div>
              <div class="fem">Tarun Kochar</div>
              <div class="fem">Aniket Saxena</div>
              <div class="fem">Shivansh Jain</div>
            </div>
            <div class="kol">
              <div class="fem">Divisha Bapna</div>
              <div class="fem">Mrighanshi Sharma</div>
              <div class="fem">Avish Porwal</div>
              <div class="fem">Rahul Vaishnav</div>
            </div>
            <div class="kol">
              <div class="fem">Aarchi Gupta</div>
              <div class="fem">Vidit Gupta</div>
              <div class="fem">Bharat Agarwal</div>
              <div class="fem">Govind Singh</div>
            </div>
            <div class="kol">
              <div class="fem">Kartik Ahuja</div>
              <div class="fem">Parth Gaur</div>
              <div class="fem">Govind Rathi</div>
              <div class="fem">Aashi Gupta</div>
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="finance">
      <div class="back">
        <div class="top">Fest Conveners</div>
        <div class="mid">

          <div class="search">

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Kartik.jpeg" class="user-img"></div>
              <div class="user-name">KARTIK SINGHAL</div>
              <div class="user-social">
                <a href="https://wa.me/918966838333">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/kartik_579/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://in.linkedin.com/in/kartik579">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Divyanshu.jpeg" class="user-img"></div>
              <div class="user-name">DIVYANSHU GERA</div>
              <div class="user-social">
                <a href="https://wa.me/917976645013">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/gera225_/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="www.linkedin.com/in/divyanshu-gera-6bb107158">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

          </div>

          <div class="ert">
            <div class="kol">
              <!-- <div class="fem">MEMBER 1</div> -->
              <!-- <div class="fem">MEMBER 2</div> -->
              <!-- <div class="fem">MEMBER 3</div> -->
              <!-- <div class="fem">MEMBER 4</div> -->
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="tech">
      <div class="back">
        <div class="top">Technical Geeks</div>
        <div class="mid">

          <div class="search">

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Mashu.jpeg" class="user-img"></div>
              <div class="user-name">MASHU AJMERA</div>
              <div class="user-social">
                <a href="https://wa.me/917073637246">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://instagram.com/mashuajmera">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://linkedin.com/mashuajmera">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>



            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/Mayank.jpeg" class="user-img"></div>
              <div class="user-name">MAYANK AGGARWAl</div>
              <div class="user-social">
                <a href="https://wa.me/919460560912">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://www.instagram.com/mayankagg_01/">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="www.linkedin.com/in/mayank-aggarwal-574901110">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>

          </div>

          <div class="ert">
            <div class="kol">
              <div class="fem">Abhishek Patoliya</div>
              <div class="fem">Raghav Lakhotia</div>
              <div class="fem">Lakshya Akar</div>
              <div class="fem">Ayush Rathi</div>
            </div>
            <div class="kol">
              <div class="fem">Aditya Maharana</div>
              <div class="fem">Bhavya Shah</div>
              <div class="fem">Akshay Solanki</div>
              <!-- <div class="fem">Ayush Rathi</div> -->
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>
    <div class="container" id="video">
      <div class="back">
        <div class="top topvid">Videography & Coverage</div>
        <div class="mid">

          <div class="search">

            <div class="plet">
              <div class="user-img"><img src="../assets/img/team/yash.jpeg" class="user-img"></div>
              <div class="user-name">YASH BANSAL</div>
              <div class="user-social">
                <a href="https://wa.me/917415608476">
                  <div class="socio-icon animation"><img src="../assets/svg/whatsapp icon.svg"></div>
                </a>
                <a href="https://instagram.com/yash_bansal10">
                  <div class="socio-icon animation"><img src="../assets/svg/instateam.svg"></div>
                </a>
                <a href="https://linkedin.com/mashuajmera">
                  <div class="socio-icon animation"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                  </div>
                </a>
              </div>
            </div>




          </div>

          <div class="ert">
            <div class="kol">
              <div class="fem">Aman Jain</div>
              <div class="fem">Harshit Bansal</div>
              <!-- <div class="fem">MEMBER 3</div> -->
              <!-- <div class="fem">MEMBER 4</div> -->
            </div>
          </div>



        </div>
        <div class="down" id="down">

        </div>
      </div>
    </div>



    <!-- FOOTER -->

    <div class="rectangle brochure animation">
      <a href="../templates/competitions.html" target="_blank">
        <div class="campusam">
          Competitions
        </div>
      </a>
    </div>
    <div id="FOOTER">
      <div class="icons animation">
        <a href="https://www.facebook.com/Vivacity.LNMIIT">
          <img src="../../assets/svg/facebook_icon.svg" />
        </a>
      </div>
      <div class="icons animation">
        <a href="mailto:vivacity.thelnmiit@gmail.com">
          <img src="../../assets/svg/envelope.svg" />
        </a>
      </div>
      <div class="icons animation">
        <a href="https://www.instagram.com/vivacity_lnmiit">
          <img src="../../assets/svg/insta.svg" />
        </a>
      </div>
      <div class="icons animation">
        <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
          <img src="../../assets/svg/youtube.svg" />
        </a>
      </div>
    </div>
  </div>


  <script src="../assets/js/scroll.js"></script>
  <script>

    var timeout;
    window.onload = function loader() {
      console.log("Hello");
      timeout = setTimeout(showPage, 30);
    }
    function showPage() {
      document.getElementById("loader").classList.add("loaded");
      document.getElementById("pages").style.display = "block";

    }
  </script>

</body>

</html>