<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Team</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/team.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">Team</div>
    <div class="grid-container">
        <a href=""><div class="grid-item">CULTURAL SECRETARIES</div></a>
        <a href=""><div class="grid-item">SPONSORSHIP & ARTISTS</div></a>
        <a href=""><div class="grid-item">MEDIA & MARKETING</div></a>  
        <a href=""><div class="grid-item">CREATIVE THINK TANK</div></a>
        <a href="www.google.com"><div class="grid-item">EVENT MANAGEMENT</div></a>
        <a href=""><div class="grid-item">FINANCE CONVEYNER</div></a>  
        <a href=""><div class="grid-item">TECHNICAL GEEKS</div></a>
        <a href=""><div class="grid-item">VIDEOGRAPHY & COVERAGE</div></a>
    </div>
</body>