<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,800;&display=swap" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css" />

        <link href="../assets/css/teampage.css" type="text/css" rel="stylesheet" />
        <title>Document</title>
    </head>

    <body>
        <div class="back">
            <div class="top">Technical Geeks</div>
            <div class="mid">

                <div class="search">

                    <div class="plet">
                        <div class="user-img"></div>
                        <div class="user-name">ATEET TIWARI</div>
                        <div class="user-social">
                            <div class="socio-icon"></div>
                            <div class="socio-icon"></div>
                            <div class="socio-icon"></div>
                        </div>
                    </div>



                    <div class="plet">
                        <div class="user-img"></div>
                        <div class="user-name">ATEET TIWARI</div>
                        <div class="user-social">
                            <div class="socio-icon"></div>
                            <div class="socio-icon"></div>
                            <div class="socio-icon"></div>
                        </div>
                    </div>


                    <div class="plet">
                        <div class="user-img"></div>
                        <div class="user-name">ATEET TIWARI</div>
                        <div class="user-social">
                            <div class="socio-icon"></div>
                            <div class="socio-icon"></div>
                            <div class="socio-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="ert">
                    <div class="kol">
                        <div class="fem">MEMBER 1</div>
                        <div class="fem">MEMBER 2</div>
                        <div class="fem">MEMBER 3</div>
                        <div class="fem">MEMBER 4</div>
                    </div>
                </div>



            </div>
            <div class="down" id="down">

            </div>
        </div>
    </body>

</html>
