<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>
            Team | Vivacity 2020 - Annual Cultural Festival of LNMIIT Jaipur
        </title>
        <link href="../assets/css/teampage.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/menu.css">
        <link rel="stylesheet" href="../assets/css/navbar.css">
        <link rel="stylesheet" href="../assets/css/contactUs.css">
        <link rel="stylesheet" href="../assets/css/team.css">

        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebasneueregular" type="text/css" />
        <!-- <script src="../assets/js/scroll.js"></script> -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,800;&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <!-- <li><a href="#main">Top</a></li> -->
                <li><a href="#main">All Teams</a></li>
                <!-- <li><a href="#pastsponsor">Past Sponsors</a></li>
        <li><a href="#socialreach">Reach</a></li>
        <li><a href="#media">Coverage</a></li>
        <li><a href="#brand">Branding</a></li>
        <li><a href="#contact">Contact</a></li>  -->
            </ul>
        </nav>

        <nav>
            <div class="menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar3"></div>
            </div>
            <ul class="nav-links">
                <!-- <li><a class=" menuAfterClick1" href="/">HOME</a></li>
                      <li><a class="menuAfterClick3" href="http://vivacity.lnmiit.ac.in/events.html">PAST COMPETETIONS</a></li>
                      <li><a class="menuAfterClick2" href="http://vivacity.lnmiit.ac.in/RulesPdf/Events_Schedule.pdf">PAST
                              SCHEDULE</a></li>
                      <li><a class="menuAfterClick4" href="http://vivacity.lnmiit.ac.in/gallery.html">PAST GALLERY</a></li> -->

                <li><a class="menuAfterClick1" href="/">Home</a></li>
                <li><a class="menuAfterClick3" href="/templates/competitions.html" target="blank">
                        Competitions</a>
                </li>
                <li><a class="menuAfterClick4" href="/templates/events.html" target="blank">
                        Events</a>
                </li>
                <li><a class="menuAfterClick2" href="/templates/schedule.html" target="blank">Event
                        Schedule</a>
                </li>
                <li><a class="menuAfterClick5 menu-hide" href="/templates/team.html" target="blank">
                        Team</a></li>
                <li><a class="menuAfterClick6 menu-hide" href="/templates/sponsors.html" target="blank">
                        Sponsor Us</a></li>
                <li><a class="menuAfterClick7 menu-hide" href="#contactus"></a></li>



                <!-- <li><a class="menuAfterClick5" href="#">CONTACT</a></li> -->
                <!-- <li class="menuAfterClick6" class="small-li"><a href="#">TEAM</a></li>
                      <li class="menuAfterClick7" class="small-li"><a href="#">SPONSOR US</a></li>
                      <li class="menuAfterClick8" class="small-li"><a href="#">TERMS OF USE</a></li>
                      <li class="menuAfterClick9" class="small-li"><a href="#">PRIVACY POLICY</a></li>
                      <li class="menuAfterClick10" class="small-li"><a href="#">COOKIES</a></li> -->
            </ul>
            <ul class="nav-links-top">

                <li><a class="menuAfterClick6" href="/templates/team.html" target="blank"> Team</a>
                </li>
                <li><a class="menuAfterClick7" href="/templates/sponsors.html">Sponsor Us</a></li>
            </ul>
            <ul class="nav-links-bottom">
                <li><a class="menuAfterClick8" href="#">TERMS OF USE</a></li>
                <li><a class="menuAfterClick9" href="#">PRIVACY POLICY</a></li>
                <li><a class="menuAfterClick10" href="#"></a></li>
            </ul>
            <div class="nav-links-top-mid">
                <!-- <div class="LOGO"> -->
                <a href="/index.html"><img class="logoimg" src="../assets/svg/svgg.svg">
                </a>
                <!-- </div> -->
            </div>
            <div class="nav-links-bottom-mid">
                <div id="FOOTER-menu">
                    <a href="https://www.facebook.com/Vivacity.LNMIIT" target="blank">
                        <div class="icons">
                            <img src="../assets/svg/facebook_icon.svg" target="blank" />
                        </div>
                    </a>

                    <a href="mailto:vivacity.thelnmiit@gmail.com" target="blank">
                        <div class="icons">
                            <img src="../assets/svg/envelope.svg" />
                        </div>
                    </a>

                    <a href="https://www.instagram.com/vivacity_lnmiit" target="blank">
                        <div class="icons"><img src="../assets/svg/instateam.svg" /></div>
                    </a>
                    <a href="https://www.youtube.com/user/VivacityLNMIITJaipur" target="blank">
                        <div class="icons">
                            <img src="../assets/svg/youtube.svg" />
                        </div>
                    </a>
                </div>
                <div class="rectangle-menu">
                    <div class="campusam-menu">
                        <a href="/templates/ambassadors.html">CAMPUS AMBASSADOR</a>
                    </div>
                </div>
            </div>
            <script src="../assets/js/menu.js"></script>
        </nav>


        <div class="container" id="main">
            <div>
                <a href="/index.html"> <img src="../assets/svg/svgg.svg" class="LOGO-team" /> </a>
            </div>

            <div class="title">Our Team</div>
            <div class="grid-container">
                <a href="#cultural-sec">
                    <div class="grid-item">CULTURAL SECRETARIES</div>
                </a>
                <a href="#sponsor-art">
                    <div class="grid-item">SPONSORSHIP & ARTISTS</div>
                </a>
                <a href="#media-marketing">
                    <div class="grid-item">MEDIA & MARKETING</div>
                </a>
                <a href="#creative">
                    <div class="grid-item">CREATIVE THINK TANK</div>
                </a>
                <a href="#event-management">
                    <div class="grid-item">EVENTS & PR</div>
                </a>
                <a href="#finance">
                    <div class="grid-item">FINANCE CONVEYNER</div>
                </a>
                <a href="#tech">
                    <div class="grid-item">TECHNICAL GEEKS</div>
                </a>
                <a href="#video">
                    <div class="grid-item">VIDEOGRAPHY & COVERAGE</div>
                </a>
            </div>
        </div>

        <div class="container" id="cultural-sec">
            <div class="back">
                <div class="top">Cultural Secretaries</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Sukrit.jpeg" class="user-img"></div>
                            <div class="user-name">SUKRIT SARNA</div>
                            <div class="user-social">
                                <a href="https://wa.me/917073637246">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>



                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/sample.png" class="user-img"></div>
                            <div class="user-name">MANSI MITTAL</div>
                            <div class="user-social">
                                <a href="https://wa.me/917073637246">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="ert">
                        <div class="kol">
                            <!-- <div class="fem">MEMBER 1</div> -->
                            <!-- <div class="fem">MEMBER 2</div> -->
                            <!-- <div class="fem">MEMBER 3</div> -->
                            <!-- <div class="fem">MEMBER 4</div> -->
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="sponsor-art">
            <div class="back">
                <div class="top">Sponsorships & Artists</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Divyanshu.jpeg" class="user-img"></div>
                            <div class="user-name">DIVYANSHU GERA</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>



                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Khalid.jpeg" class="user-img"></div>
                            <div class="user-name">KHALID M. KHAN</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Damandeep.jpeg" class="user-img"></div>
                            <div class="user-name">DAMANDEEP SINGH</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Naman.jpeg" class="user-img"></div>
                            <div class="user-name">NAMAN SHARMA</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ert">
                        <div class="kol">
                            <div class="fem">Devashish Sukhwani</div>
                            <div class="fem">Raghav Lakhotia</div>
                            <div class="fem">Kunal Jain</div>
                            <div class="fem">Anuj Goyal</div>
                        </div>
                        <div class="kol">
                            <div class="fem">Pinkesh Unadkat</div>
                            <div class="fem">Deep Mavani</div>
                            <div class="fem">Rahul Vaishnav</div>
                            <div class="fem">Rohit Agrawal</div>
                        </div>
                        <div class="kol">
                            <div class="fem">Suryansh Bhandari</div>
                            <div class="fem">Bhavya Shah</div>
                            <div class="fem">Mriganshi Sharma</div>
                            <div class="fem">Rohit Yadav</div>
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="media-marketing">
            <div class="back">
                <div class="top">Media & Marketing</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/sample.png" class="user-img"></div>
                            <div class="user-name">ARYA SHRIVASTAV</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Aditi.jpeg" class="user-img"></div>
                            <div class="user-name">ADITI CHATURVEDI</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>




                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Harsh.jpeg" class="user-img"></div>
                            <div class="user-name">HARSH MEHTA</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="ert">
                        <div class="kol">
                            <div class="fem">MEMBER 1</div>
                            <div class="fem">MEMBER 2</div>
                            <div class="fem">MEMBER 3</div>
                            <div class="fem">MEMBER 4</div>
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="creative">
            <div class="back">
                <div class="top">Creative Think Tank</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Ishaan.jpeg" class="user-img"></div>
                            <div class="user-name">ISHAAN KUMAR</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>



                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Piyush.jpeg" class="user-img"></div>
                            <div class="user-name">PIYUSH PAREEK</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ert">
                        <div class="kol">
                            <div class="fem">MEMBER 1</div>
                            <div class="fem">MEMBER 2</div>
                            <div class="fem">MEMBER 3</div>
                            <div class="fem">MEMBER 4</div>
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="event-management">
            <div class="back">
                <div class="top">Events & PR</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Jatin.jpeg" class="user-img"></div>
                            <div class="user-name">JATIN AGGARWAL</div>
                            <div class="user-social">
                                <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>



                        <div class="plet">

                            <div class="user-img"><img src="../assets/img/team/Vinay.jpeg" class="user-img"></div>
                            <div class="user-name">VINAY BOHRA</div>
                            <div class="user-social">
                                <a href="https://wa.me/918233085933">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ert">
                        <div class="kol">
                            <div class="fem">MEMBER 1</div>
                            <div class="fem">MEMBER 2</div>
                            <div class="fem">MEMBER 3</div>
                            <div class="fem">MEMBER 4</div>
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="finance">
            <div class="back">
                <div class="top">Finance Convener</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Kartik.jpeg" class="user-img"></div>
                            <div class="user-name">KARTIK SINGHAL</div>
                            <div class="user-social">
                                <a href="https://wa.me/918966838333">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ert">
                        <div class="kol">
                            <!-- <div class="fem">MEMBER 1</div> -->
                            <!-- <div class="fem">MEMBER 2</div> -->
                            <!-- <div class="fem">MEMBER 3</div> -->
                            <!-- <div class="fem">MEMBER 4</div> -->
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="tech">
            <div class="back">
                <div class="top">Technical Geeks</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Mashu.jpeg" class="user-img"></div>
                            <div class="user-name">MASHU AJMERA</div>
                            <div class="user-social">
                                <a href="https://wa.me/917073637246">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>



                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/Mayank.jpeg" class="user-img"></div>
                            <div class="user-name">MAYANK AGGARWAl</div>
                            <div class="user-social">
                                <a href="https://wa.me/919460560912">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/sample.png" class="user-img"></div>
                            <div class="user-name">AYUSH GUPTA</div>
                            <div class="user-social">
                                <a href="https://wa.me/916460323513">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="ert">
                        <div class="kol">
                            <div class="fem">MEMBER 1</div>
                            <div class="fem">MEMBER 2</div>
                            <div class="fem">MEMBER 3</div>
                            <div class="fem">MEMBER 4</div>
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>
        <div class="container" id="video">
            <div class="back">
                <div class="top">Videography & Coverage</div>
                <div class="mid">

                    <div class="search">

                        <div class="plet">
                            <div class="user-img"><img src="../assets/img/team/sample.png" class="user-img"></div>
                            <div class="user-name">YASH BANSAL</div>
                            <div class="user-social">
                                <a href="https://wa.me/917415608476">
                                    <div class="socio-icon"><img src="../assets/svg/whatsapp icon.svg"></div>
                                </a>
                                <div class="socio-icon"><img src="../assets/svg/instateam.svg"></div>
                                <div class="socio-icon"><img src="../assets/svg/iconfinder_social-linkedin_216394.svg">
                                </div>
                            </div>
                        </div>




                    </div>

                    <div class="ert">
                        <div class="kol">
                            <div class="fem">MEMBER 1</div>
                            <div class="fem">MEMBER 2</div>
                            <div class="fem">MEMBER 3</div>
                            <div class="fem">MEMBER 4</div>
                        </div>
                    </div>



                </div>
                <div class="down" id="down">

                </div>
            </div>
        </div>



        <!-- FOOTER -->

        <div class="rectangle brochure">
            <a href="../templates/competitions.html" target="_blank">
                <div class="campusam">
                    Competitions
                </div>
            </a>
        </div>
        <div id="FOOTER">
            <div class="icons">
                <a href="https://www.facebook.com/Vivacity.LNMIIT">
                    <img src="../../assets/svg/facebook_icon.svg" />
                </a>
            </div>
            <div class="icons">
                <a href="mailto:vivacity.thelnmiit@gmail.com">
                    <img src="../../assets/svg/envelope.svg" />
                </a>
            </div>
            <div class="icons">
                <a href="https://www.instagram.com/vivacity_lnmiit">
                    <img src="../../assets/svg/insta.svg" />
                </a>
            </div>
            <div class="icons">
                <a href="https://www.youtube.com/user/VivacityLNMIITJaipur">
                    <img src="../../assets/svg/youtube.svg" />
                </a>
            </div>
        </div>

        <script src="../assets/js/scroll.js"></script>

    </body>

</html>
